<%= form_for @directory, :html => { :class => "form-horizontal directory" } do |f| %>

<% if @directory.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@directory.errors.count, "error") %> prohibited this directory from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @directory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field :name, :class => 'form-control' %>
          <%=f.error_span(:name) %>
        </div>
        <div class="form-group">
          <%= f.label :venue_type, :class => 'control-label' %>
          <%= f.select :venue_type, Directory::Type.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
          <%=f.error_span(:venue_type) %>
        </div>
        <div class="form-group">
          <%= f.label :building_name, :class => 'control-label' %>
          <%= f.text_field :building_name, :class => 'form-control' %>
          <%=f.error_span(:building_name) %>
        </div>
        <div class="form-group">
          <%= f.label :street, :class => 'control-label' %>
          <%= f.text_field :street, :class => 'form-control' %>
          <%=f.error_span(:street) %>
        </div>
        <div class="form-group">
          <%= f.label :region, :class => 'control-label' %>
          <%= f.text_field :region, :class => 'form-control' %>
          <%=f.error_span(:region) %>
        </div>
        <div class="form-group">
          <%= f.label :city, :class => 'control-label' %>
          <%= f.text_field :city, :class => 'form-control' %>
          <%=f.error_span(:city) %>
        </div>
        <div class="form-group">
          <%= f.label :postal_code, :class => 'control-label' %>
          <%= f.text_field :postal_code, :class => 'form-control' %>
          <%=f.error_span(:postal_code) %>
        </div>
      </div>
      <div class="col-md-4">
        <%= f.label :image, :class => 'control-label' %>
        <% if @directory.image.nil? || @directory.image.blank? %>
        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
        <% else %>
        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @directory.image.url %>
        <% end %>
        <%=f.error_span(:image) %>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :email, :class => 'control-label' %>
          <%= f.text_field :email, :class => 'form-control' %>
          <%=f.error_span(:email) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :website, :class => 'control-label' %>
          <%= f.text_field :website, :class => 'form-control' %>
          <%=f.error_span(:website) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :phone, :class => 'control-label' %>
          <%= f.text_field :phone, :class => 'form-control' %>
          <%=f.error_span(:phone) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :user_ig, :class => 'control-label' %>
          <%= f.text_field :user_ig, :class => 'form-control' %>
          <%=f.error_span(:user_ig) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :link_ig, :class => 'control-label' %>
          <%= f.text_field :link_ig, :class => 'form-control' %>
          <%=f.error_span(:link_ig) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :user_facebook, :class => 'control-label' %>
          <%= f.text_field :user_facebook, :class => 'form-control' %>
          <%=f.error_span(:user_facebook) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :facebook_link, :class => 'control-label' %>
          <%= f.text_field :facebook_link, :class => 'form-control' %>
          <%=f.error_span(:facebook_link) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <%= f.label :map, :class => 'control-label' %>
          <%= f.text_area :map, :class => 'form-control',rows: 3 %>
          <%=f.error_span(:map) %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :lat, :class => 'control-label' %>
          <%= f.text_field :lat, :class => 'form-control' %>
          <%=f.error_span(:lat) %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :long, :class => 'control-label' %>
          <%= f.text_field :long, :class => 'form-control' %>
          <%=f.error_span(:long) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        directories_path, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<% end %>
