<%- model_class = Directory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:building_name) %>:</strong></dt>
  <dd><%= @directory.building_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @directory.street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region) %>:</strong></dt>
  <dd><%= @directory.region %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @directory.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @directory.postal_code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @directory.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
  <dd><%= @directory.website %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_ig) %>:</strong></dt>
  <dd><%= @directory.user_ig %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link_ig) %>:</strong></dt>
  <dd><%= @directory.link_ig %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_facebook) %>:</strong></dt>
  <dd><%= @directory.user_facebook %></dd>
  <dt><strong><%= model_class.human_attribute_name(:facebook_link) %>:</strong></dt>
  <dd><%= @directory.facebook_link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @directory.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:map) %>:</strong></dt>
  <dd><%= @directory.map %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lat) %>:</strong></dt>
  <dd><%= @directory.lat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:long) %>:</strong></dt>
  <dd><%= @directory.long %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @directory.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:venue_type) %>:</strong></dt>
  <dd><%= @directory.venue_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              directories_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_directory_path(@directory), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              directory_path(@directory),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
