<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => controller_name.titleize %></h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-info">
            <div class="card-body">
              <h4 class="card-title m-b-0 text-white">Articles</h4>
              <h2 class="font-light text-white"><%= @total_articles %></h2>
              <div class="m-t-30">
                <div class="row text-center">
                  <div class="col-4 border-right">
                    <h4 class="m-b-0 text-white"><%= @published_articles %></h4>
                    <a href="#"><span class="font-14 text-white">Published</span></a>
                  </div>
                  <div class="col-4 border-right">
                    <h4 class="m-b-0 text-white"><%= @scheduled_articles %></h4>
                    <a href="#"><span class="font-14 text-white">Scheduled</span></a>
                  </div>
                  <div class="col-4">
                    <h4 class="m-b-0 text-white"><%= @total_drafted_articles %></h4>
                    <a href=""><span class="font-14 text-white">Drafted</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-success">
            <div class="card-body">
              <div class="d-flex no-block align-items-center">
                <div class="text-white">
                  <h2><%= @total_active_banners %></h2>
                  <h6><a href="<%= banners_active_path %>">Active Banners</a></h6>
                </div>
                <div class="ml-auto">
                  <span class="text-white display-6"><i class="fa fa-diamond"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <div class="d-flex no-block align-items-center">
                <div class="text-white">
                  <h2><%= @total_subscribe_device %></h2>
                  <h6>Subsribed Device</h6>
                </div>
                <div class="ml-auto">
                  <span class="text-white display-6"><i class="fa fa-tablet"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title m-b-0">Most Popular Articles</h4>
          <% if @most_popular_articles.present? %>
            <div class="list-group">
              <a href="" class="list-group-item" target="_blank"><%= @most_popular_articles %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" >
        <div class="card-body">
          <h3 class="card-title">Statistics Audience This Month and Last Month</h3>
          <hr>
          <div class="mw-100" style="overflow-x: scroll">
            <iframe width="1181" height="371" seamless frameborder="0" scrolling="no" style="overflow-x:scroll;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTe3TNZ9DQYezdQoKKNO1MeI_G0v_69_wBNEwxzxs3MdAnXDmU-CRAPGtW0MT_pj0381_PY23vhfJkL/pubchart?oid=1800716902&amp;format=interactive"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Drafted Articles</h3>
          <hr>
          <div class="table responsive">
            <table class="table table-striped table-hover" id="datablearticle">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Created At</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @drafted_articles.each_with_index do |x, i| %>
                  <tr>
                    <td class="text-center">
                      <a href="#"><%= x.id %></a>
                    </td>
                    <td class="text-center">
                      <%= x.title  %>
                    </td>
                    <td class="text-center">
                      <strong><%= x.category.title %></strong>
                    </td>
                    <td class="text-center">
                      <%= x.created_at.strftime("%Y/%m/%d@%H:%M") rescue "-" %>
                    </td>
                    <td class="text-center">
                      <a href="<%= article_url(x) %>" class="btn btn-info btn-xs">Preview</a>
                      <a href="<%= edit_article_path(x) %>" class="btn btn-warning btn-xs">Edit</a>
                      <a data-confirm='Are you sure?' class='btn btn-xs btn-danger m-1' rel='nofollow' data-method='delete' href='<%= article_path(x) %>'>Delete</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Articles on Schedule</h3>
          <hr>
          <div class="table responsive">
            <table class="table table-striped table-hover" id="datablearticle">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Category</th>
                  <th class="text-center">Publish Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @articles_on_scheduled.each_with_index do |x, i| %>
                  <tr>
                    <td class="text-center">
                      <a href="#"><%= x.id %></a>
                    </td>
                    <td class="text-center">
                      <%= x.title  %>
                    </td>
                    <td class="text-center">
                      <strong><%= x.category.title %></strong>
                    </td>
                    <td class="text-center">
                      <%= x.publish.strftime("%Y/%m/%d@%H:%M") rescue "-" %>
                    </td>
                    <td class="text-center">
                      <a href="<%= article_url(x) %>" class="btn btn-info btn-xs">Preview</a>
                      <a href="<%= edit_article_path(x) %>" class="btn btn-warning btn-xs">Edit</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Nearly Expired Banners</h3>
          <hr>
          <div class="table responsive">
            <table class="table table-striped table-hover" id="datablebanner">
              <thead>
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Position</th>
                  <th class="text-center">Expired Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @expired_banners.each_with_index do |x, i| %>
                  <tr>
                    <td class="text-center">
                      <%= i + 1 %>
                    </td>
                    <td class="text-center">
                      <%= x.title %>
                    </td>
                    <td class="text-center">
                      <strong><%= x.position %></strong>
                    </td>
                    <td class="text-center text-danger">
                      <strong><%= x.expired_date %></strong>
                    </td>
                    <td class="text-center">
                      <%= link_to 'Remove',banners_remover_path(id: x.id), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Unread Subscriptions</h3>
          <hr>
          <div class="table responsive">
            <table class="table table-striped table-hover" id="datablecontact">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Package</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% @unread_subscription.each do |x| %>
                  <tr>
                    <td class="text-center">
                      <%= x.title %> <%= x.fullname %>
                    </td>
                    <td class="text-center">
                      <%= x.plan %>
                    </td>
                    <td class="text-center">
                      <%= x.created_at.strftime("%Y/%m/%d@%H:%M") rescue "-" %>
                    </td>
                    <td class="text-center">
                      <a href="<%= subscribe_path(x.id) %>" class="btn btn-info btn-xs">Read</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    // $('.table').DataTable();
    $('#datablearticle').DataTable();
    $('#datablebanner').DataTable({
      "pageLength":5,
      "order": []
    });
    $('#datablecontact').DataTable({
      "pageLength":5,
      "order": [[ 2, 'desc' ]]
    });
  } );
</script>
