<div class="row">
  <% if @slider.errors.any? %>
    <div class="col-md-12">
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @slider.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= form_for @slider, :html => { :class => "form-horizontal slider" } do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :image, :class => 'control-label' %>
            <% if @slider.image.nil? || @slider.image.blank? %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @slider.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :title, :class => 'control-label' %>
                <%= f.text_field :title, :class => 'form-control' %>
                <%=f.error_span(:title) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :index, :class => 'control-label' %>
                <%= f.number_field :index, :class => 'form-control', required: true %>
                <%=f.error_span(:index) %>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <%= f.label :article_id, :class => 'control-label' %>
                <%= f.select :article_id, Article.first(100).map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
                <%=f.error_span(:article_id) %>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col text-center">
              <div class="form-group">
                <% if @slider.new_record? %>
                  <%= f.hidden_field :type_slider, :class => 'hidden', value: params[:type_slider] %>
                  <% else %>
                  <%= f.hidden_field :type_slider, :class => 'hidden' %>
                <% end %>
                <%= f.submit nil, :class => 'btn btn-success' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),sliders_path, :class => 'btn btn-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(".select2").select2();
</script>
