<div class="col-md-3 card-hover" data-id="<%= slider.id %>">

  <div class="card position-relative">
    <% if slider.image.url.nil? %>
    <img src="<%= slider.article.image %>" alt="" class="card-img-top w-100">
    <% else %>
    <img src="<%= slider.image %>" alt="" class="card-img-top w-100">
    <% end %>
    <div class="position-absolute" style="top:0;right:0;">
      <div class="p-1">
        <h2><%= slider.index %></h2>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= slider.title %></h5>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_slider_path(slider), :class => 'btn btn-default btn-xs' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      slider_path(slider),
      :method => :delete,
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-xs btn-danger' %>
    </div>

  </div>
</div>
