<%- model_class = Slider -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">MAIN HOMEPAGE SLIDER</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h4>Add New Slider</h4>
          <a href="<%= new_slider_path(type_slider: "homepage") %>"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <% if @slider_homepage.count >= 2 %>
    <a href="#" class="btn btn-success mb-2">Save Position</a>
  <% end %>
  <div class="row draggable-cards" id="card-colors">
    <% @slider_homepage.each do |slider| %>
      <div class="col-md-3">
        <div class="card card-hover">
          <img src="<%= slider.image.url %>" alt="" class="card-img-top img-responsive"  style="height:250px;max-height:250px;">
          <div class="card-body text-center">
            <strong>#<%= slider.index %></strong>
            <input type="hidden" name="" value="<%= slider.index %>">
            <h3 class="card-title"><%= slider.title rescue '' %></h3>
            <p class="card-text">Article : <%= slider.article_id.title rescue 'Home Page' %></p>
            <div class="row button-group">
              <div class="col">
                <%= link_to t('.edit', :default => t("helpers.links.edit")),edit_slider_path(slider), :class => 'btn waves-effect waves-light btn-block btn-warning' %>
              </div>
              <div class="col">
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                slider_path(slider),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn waves-effect waves-light btn-block btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">MAGAZINE ISSUE SLIDER</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h4>Add New Slider</h4>
          <a href="<%= new_slider_path(type_slider: "magazine_issue") %>"><i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <% if @slider_magazine_issue.count >= 2 %>
  <% end %>
  <div class="row draggable-cards" id="card-colors">
    <% @slider_magazine_issue.each do |slider| %>
      <div class="col-md-3">
        <div class="card card-hover">
          <img src="<%= slider.image.url %>" alt="" class="card-img-top img-responsive"  style="height:250px;max-height:250px;">
          <div class="card-body text-center">
            <strong>#<%= slider.index %></strong>
            <input type="hidden" name="" value="<%= slider.index %>">
            <h3 class="card-title"><%= slider.title rescue '' %></h3>
            <div class="row button-group">
              <div class="col">
                <%= link_to t('.edit', :default => t("helpers.links.edit")),edit_slider_path(slider), :class => 'btn waves-effect waves-light btn-block btn-warning' %>
              </div>
              <div class="col">
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                slider_path(slider),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn waves-effect waves-light btn-block btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    dragula([document.getElementById("card-colors")]).on("drag", function(e) {
        e.className = e.className.replace("card-moved", "")
    }).on("drop", function(e) {
        e.className += " card-moved"
    }).on("over", function(e, t) {
        t.className += " card-over"
    }).on("out", function(e, t) {
        t.className = t.className.replace("card-over", "")
    })
  })
</script>
