@media (max-width: 575.98px) {
  .m-sm-10{
    margin-bottom: 10px;
  }

  section {
    margin: 20px 0;
  }

  #header{
    position: sticky !important;
    top: 0;
  }
  #logo-position{
    width: 100%;
  }

  .navbar-toggler{
    margin: 10px;
    float: left;
  }
  .navbar-nav{
    width: 100%;
    border-top: 2px solid #eeee;
  }
  .nav-item {
    display: block;
    padding: 5px 20px;
  }

  .navbar-brand img{
    max-height: 50px !important;
  }

  .image-box.effect.dia .image-box-content {
    transform: translate3d(0, 80%, 0);
  }

  .nav.nav-pills .nav-item {
    display: block;
    padding:0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .caption-slider-mobile{
    background-color: #333;
  }
  .caption-slider-mobile h3 {
    font-size: 16px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  }

  .article-title {
    font-size: 30px;
  }
  .home-slider .owl-nav {
    display: none !important;
  }
  .mobile-footer{
    background: white;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid black;
  }
  .mobile-footer h3{
    margin-top: 5px;
    font-size: 12px;

  }

  .slider-image-mobile{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
  }
  .category {
    font-family: 'Cormorant', serif;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
}
  .title-article {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    margin-bottom: 0;
    padding: 0;
}
.article-title.scrolled {
    font-size: 18px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article img{
  left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  section {
    margin: 20px 0;
  }

  #header{
    position: sticky !important;
    top: 0;
  }
  #logo-position{
    width: 100%;
  }
  .navbar-brand{
    width: 50% !important;
    margin: 0 10px;
  }
  .navbar-toggler{
    margin: 10px;
    float: right;
  }
  .navbar-nav{
    width: 100%;
    border-top: 2px solid #eeee;
  }
  .nav-item {
    display: block;
    padding: 5px 20px;
  }

  .navbar-brand img{
    max-height: 50px !important;
  }

  .image-box.effect.dia .image-box-content {
    transform: translate3d(0, 80%, 0);
  }

  .nav.nav-pills .nav-item {
    display: block;
    padding:0;
    margin-right: 10px;
    margin-bottom: 10px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header{
    position: sticky !important;
    top: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container{
    max-width: 80%;
  }
  .article img{
    width: 100%;
  }
}
