<section class="mt-0">
  <div style="height:100vh;background-image:url(<%= asset_url('jakarta-decade/main.png') %>);background-position:center;background-size:cover" class="justify-content-center align-items-center d-flex">
    <div class="container text-center">
      <h1 class="text-light" style="font-family: 'Heebo', sans-serif;font-size: 6rem;font-weight:900 !important;margin-bottom:0;" > <%= @article.title %></h1>
      <h3 class="text-light" >  2010 - 2019  </h3>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <p>Over the decade, there has been a surge in Jakarta’s development, making the city the second most populous megalopolis. During this period, the Big Durian claimed to be a progressive city, but it has also faced critical backlash. It’s always been a love-hate relationship with Jakarta.</p>
        <p>Jakarta attracts many from around the archipelago with the promise of a lucrative career and fortune, making it a melting pot of numerous cultures that has become the persona of the Big Durian today. In the midst of daily hustle and bustle, breaking news and the prodigious phenomenon of urbanisation, there are pivotal moments that define Jakarta in the last ten years.</p>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">
    <hr>
    <div class="row justify-content-center">
      <div class=" col-md-10 text-center">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3"> Foke’s Last Throne <br> in Governor Office</h2>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <p>Under the Fauzi Bowo (Foke) Administration from 2007 to 2012, many political critics stated that Jakarta was stagnant with no significant urban development or progress in the city. The global economic crisis in 2008 had slowed down the regional economy as the National policy under President Susilo Bambang Yudhoyono also focused on maintaining economic stability in the country.</p>
        <p>During Governor Foke and Prijanto (Deputy Governor) at the office, Jakarta added up new five TransJakarta (Bus Rapid Transit) routes that spiralled to worsening service and other congestions. TransJakarta was considered inconvenient and inefficient up to the point where the public plead for transportation improvement. In 2011, Jakarta experienced the first modernised electric train service with KRL Commuterline since the transit system was founded in 2008, connecting people in the Greater Area of Jakarta. Jakarta city government continued the East Flood Canal project, but it was not finished until 2013.&nbsp;</p>
        <p>Jakarta Governor passed a regulation in 2012 to officially establish <a href="https://nowjakarta.co.id/magazine-issue/health-sports-and-recreation/jakarta-car-free-day-exercise-and-socialise">Car Free Day as a weekly public activity.</a> Anti-smoking regulations were introduced by Foke in 2011, banning people from smoking inside public buildings and certain other places.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div style="height:100vh;background-image:url(<%= asset_url('jakarta-decade/2---jakarta-flood-and-gridlock-2.png') %>);background-position:center;background-size:cover" class="position-relative">
    <div class="position-absolute h-100 w-100 d-flex align-items-center justify-content-center" style="background-color:rgba(0, 0, 0, 0.6)">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;color:white;" class="my-3">Flood and Gridlock Traffic Still <br>a Never-ending Problem</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="m-md-3 my-md-5 ">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7">
          <p>
            In 2013, Jakarta flood has affected the downtown area around Bundaran Hotel Indonesia. The serious flooding is the result of heavy rain and waterways clogged with garbage and other kinds of debris. An estimated 20,000 people were evacuated as the flood has affected several areas in the Capital. Jakarta has been facing major flooding due to land acquisition, lack of absorption area and bad sewage system. To this day, flooding is still a threat to the city when the rainy season comes.
          </p>

          <img src="<%= asset_url('jakarta-decade/2---jakarta-flood-and-gridlock-1.png') %>" alt="Flood and gridlock traffic is still a never ending problem" class="w-100 mb-3">

          <p>
            Governor Foke still couldn&rsquo;t find a solution to the widespread traffic congestion in Jakarta. The average commute time is 1.5 to 3 hours per trip. During inclement weather, this increase. The Inner Ring Road is most congested during rush hours, despite charges levied from users. Between 2010 to 2015, many surveys considered Jakarta as one of the most congested cities in the world. Short term policies have been imposed to reduce the gridlock such as 3 in 1 but it is not a viable long-term solution to eliminate Jakarta traffic woes. With an expansion of toll road (Inner and Outer Ring Road), the currently available road is not able to overcome the rising number of private vehicles on the street.&nbsp;
          </p>
        </div>

        <div class="col-12 col-md-7">

        </div>
      </div>
    </div>
  </div>
</section>
<section class="m-md-3 my-md-5">
  <div class="container">
    <hr>
    <div class="text-center">
      <div class="row align-items-center">
        <div class="col-md-6 text-left">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3 mt-md-3">Jokowi and Basuki Tjahaja Purnama Took Over Governor Office</h2>
          <p>In 2012, the people of Jakarta voted Governor and Deputy Governor Joko Widodo (Jokowi) and Basuki Tjahaja Purnama (Ahok) into office. That year was a wake-up call for Jakarta as the administration enforced a number of regulations to achieve Jokowi-Ahok&rsquo;s mission in creating New Jakarta by enacting urban policies to modernise the city, establish more liveable urban environment, embrace culture and organise a government that champions public service.</p>
          <p>During their reign in office, Jokowi-Ahok set the standard service of the city government and transformed bureaucracy by operating a one-door service (PTSP) to govern the process of investment and licensing. Impromptu visits (<em>blusukan</em>) was among their action on the field to gather public voices on urban economy, infrastructure, transportation and also the government itself. Amidst its controversy, insurance cards namely KJP and KJS were distributed, providing inclusive access to education and healthcare.&nbsp;</p>
          <p>Taxes and the provincial budget of Jakarta increased significantly from IDR 41 trillion in 2012 to IDR 72 trillion in 2014, according to <em>Kompas.com</em>. Online taxes, e-budgeting, e-purchasing and a cash management system are among the city&rsquo;s programmes to create a more transparent government. Their administration&rsquo;s other notable policies include an auction of an office position, regulation of chaotic agglomeration of the street vendor, reservoir normalisation project and execution of the long-delayed MRT and LRT projects.</p>
        </div>
        <div class="col-md-5">
          <!-- <img  src="https://via.placeholder.com/500x500" alt="jakarta flood" class="w-100 "> -->
        </div>
      </div>
    </div>
    <hr>
  </div>
</section>

<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-right">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Jakarta Hits 10 Million Population</h2>
        <p>According to the data from the Central Bureau of Statistics (BPS), the Jakarta population is 9.6 million people in 2010. In 2014, Jakarta hits 10 million population, making it the most populous urban area in the world after Tokyo, Japan. Jakarta is estimated to grow a population of 10.5 million people by the end of 2019. </p>
      </div>
      <div class="col-md-6">
        <img src="<%= asset_url('jakarta-decade/4.-jakarta-crowd-2.png') %>" alt="jakarta flood" class="w-100">
      </div>
    </div>
  </div>
</section>

<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">The Middle-class Growth</h2>
        <!-- <img  src="https://via.placeholder.com/1080x720" alt="jakarta flood" class="w-100 my-5"> -->
      </div>
    </div>
    <div class="">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <p class="text-left">
            As the Capital of the Indonesian economy, Jakarta has shown many progressive moves with the growth of the middle-class and the year on year growth on PDB per capita as well as income per capita. During the period of 2012 to 2016, Jakarta has gained the value of investment, consumer products, retails, lending, commerce, property and manufacture industry. Today, the Jakarta economy is valued at a six per cent average growth with a significant surge in middle and upper-middle-class demographic, according to Central Bureau of Statistics (BPS). The middle-class growth Jakarta also came with the rising trend in the creative economy in city and lifestyle products.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="m-md-3 my-md-5 py-md-5">
  <div style="height:100vh;background-image:url(<%= asset_url('jakarta-decade/content_rptra_kalijodo01_radityafadilla.jpg') %>);background-position:center;background-size:cover" class="position-relative">
    <div class="position-absolute h-100 w-100 d-flex align-items-center justify-content-center" style="background-color:rgba(0, 0, 0, 0.6)">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;color:white;" class="my-3">Ahok as Governor, Major Revitalisation and Forced Eviction</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3 mt-md-5 pt-md-5">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <p>As Joko Widodo announced his candidacy on Presidential Election in 2014, Basuki Tjahaja Purnama (Ahok) took the Governor&rsquo;s office, substituted the top leadership position as acting Governor and worked as official Governor since November 2014. It was a defining moment for Jakarta to be led by a Chinese-Indonesian Governor, following Henk Ngantung who governed Jakarta from 1964-1965.&nbsp;</p>
        <p>During his time in office, Ahok accelerated the infrastructure and urban development in the city through a number of projects as the continuation of its prior gubernatorial vision with Joko Widodo. Basuki Tjahaja Purnama received many appreciation and awards for implementing significant progress in Jakarta. During his tenure, Ahok has revitalised many heritage sites in Jakarta including Kota Tua, Monas, Lapangan Banteng and Semanggi interchange. Along with Veronica Tan, his former wife, the city launched the first Jakarta Creative Hub and Child-Friendly Parks, RPTRA.&nbsp;</p>
        <p>Despite his bold attitude, he upheld the standard for professionalism and service for government officials. The government also established the Public Facility Maintenance Agency (PPSU) &lsquo;Orange Heroes&rsquo; that help improve the city to be cleaner, convenient, and more prepared for natural disasters mitigation. His major urban development of low-cost apartment (Rusunawa) led to a number of eviction and relocation that faced criticism including what happened in Kalijodo, Pasar Ikan, and Kampung Pulo.&nbsp;</p>
        <p>Since the eviction programmed ran in 2015, Ahok was criticised by various human rights groups and academics to have violated human rights in implementing his public housing programs by employing forced evictions to Jakarta's urban poor kampung residents. Ahok accused the residents as squatting government-owned lands and as a result, move them to newly-built public housings. Jakarta Legal Aid Foundation noted that at least 16,000 urban poor families had been displaced in the two years during his administration.</p>
      </div>
    </div>


  </div>
</section>
<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Public Transport Integration Effort and City Tourist Bus</h2>
        <img src="<%= asset_url('jakarta-decade/7.-jakarta-city-tourist-bus.png') %>" alt="RPTA" class="w-100 my-3">
      </div>
      <div class="col-md-6">
        <p>Since Joko Widodo and Basuki Tjahaja Purnama took Jakarta Governor office, integration of public transport in Jakarta is the main focus of their policy to tackle traffic problems. Seventeen Transit-Oriented Development (TOD) is being built to integrate multiple transport systems to facilitate easy and convenient transit between various modes of public transportation. At Tebet, the TOD integrates TransJakarta and the Commuter Line. At Dukuh Atas Integrated Area (<em>Kawasan Integrasi Dukuh Atas</em> or <em>KIDA</em>), the aim is to prioritise walking and the use of public transport as a commuting solution, rather than using private vehicles. It is known that KIDA will integrate seven transport systems in total, which include Jakarta MRT, Jabodebek LRT, Jakarta LRT, Soekarno-Hatta Airport Rail Link, Commuter Line, TransJakarta and other bus services <em>(Kompas.com).</em></p>
<p>Launched in 2014, City Tour Jakarta has become the preferred city bus among tourists looking to explore Jakarta&rsquo;s landmarks. City Tour Jakarta, also known as Jakarta Explorer, has four routes that tourists can use during their time in the capital. Operated by PT Transjakarta, people can explore more places in the city, such as the History of Jakarta, Jakarta Modern, Art &amp; Culinary, Jakarta Skyscrapers, Jakarta Open Space, and Jakarta Heritage.</p>
      </div>
    </div>
  </div>
</section>
<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col-md-6 order-md-2">
        <img src="<%= asset_url('jakarta-decade/content_Jakarta-Smart-City-_1_.jpg') %>" alt="Jakarta, A Smart City" class="w-100">
      </div>

      <div class="col-md-6">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Jakarta, A Smart City</h2>
        <p>Since its launch in 2014, Jakarta Smart City aims to find solutions and solve a variety of urban problems by utilising integrated information and communication technology in all public sectors. The city government has been working towards digitising a number of projects, collaborations and investment in infrastructure.</p>
        <p>The city government has been developing the Smart City through physical projects in the form of smart lighting, smart parking, waste management, connected manholes and smart electricity. Jakarta Smart City officers have been working towards the government&rsquo;s vision of creating Smart Governance, Smart Economy, Smart People, Smart Mobility, Smart Environment and Smart Living.</p>
      </div>
    </div>
  </div>
</section>
<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row justify-content-end align">
      <div class="col-md-6">
        <img src="<%= asset_url('jakarta-decade/10.-jakarta-reclamation-2.png') %>" alt="Jakarta sinking city" class="w-100 sticky-top">
      </div>
      <div class="col-md-6">
        <div class="">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">The Sinking City</h2>
        </div>
        <p>According to the Ministry of Energy and Mineral Resources, Jakarta had a crisis over clean water. Jakarta is sinking up to 17cm (6.7 inches) per year, which, coupled with the rising sea levels, has made the city more prone to flooding. It is also one of the fastest-sinking capitals in the world.&nbsp;</p>
        <p>According to BBC, the rest of Jakarta is also sinking, albeit at a slower rate. In West Jakarta, the ground is sinking by as much as 15cm annually, by 10cm annually in the east, 2cm in Central Jakarta and just 1cm in South Jakarta. Coastal cities across the world are affected because of rising sea levels caused by climate change. Increased sea levels occur because of thermal expansion - the water expanding because of extra heat - and the melting of polar ice. The speed at which Jakarta is sinking is alarming experts. Currently, Jakarta is planning to build its first Giant Sea Wall.&nbsp;</p>
        <div class="text-left m-md-3 my-md-5 py-md-5">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">A Moratorium of <br> Jakarta Bay Reclamation</h2>
          <p>Commenced in 2014, the massive coastal development project Giant Sea Wall Jakarta includes the construction of a seawall along the coast, building a water reservoir and reclamation of land. According to the study by the Ministry of Maritime Affairs and Fisheries, the project is considered having negative environmental impacts and social consequences.&nbsp;</p>
<p>The reclamation program was also met with opposition from several environmental groups and fisher-folk. Construction work on the Jakarta reclamation project was temporarily banned by the central government in 2016 asking for the fulfilment of several requirements. However, the ban was lifted in October 2017, according to <em>The Jakarta Post.</em></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="text-center">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">2016 Jakarta Attacks</h2>
          <img src="<%= asset_url('jakarta-decade/2016-jakarta-attack.png') %>" alt="2016 Jakarta Attacks" class="w-100 mb-4">
        </div>
        <p>On 14 January 2016, multiple explosions and gunfire were reported near Sarinah shopping mall in central Jakarta, Indonesia, at the intersection of Jalan Kyai Haji Wahid Hasyim and Jalan M.H. Thamrin. At least eight people&mdash;four attackers and four civilians (three Indonesians and an Algerian-Canadian)&mdash;were killed while 23 others were injured due to the attack, according to <em>BBC</em>. The Islamic State of Iraq and the Levant (ISIL) claimed responsibility. The city is still haunted by the act of terrorism since the last major suicide bombing happened in 2009.&nbsp;</p>
        <p>President Joko Widodo called the attacks "acts of terror" in a televised statement. Residents of Jakarta, and across Indonesia took his statement "We are not afraid" to social media with the hashtag #KamiTidakTakut, which was widely used on Twitter in posts offering condolences to the victims or for expressing defiance. The National Government then took serious steps to fight extremist groups and deradicalisation.&nbsp;</p>
      </div>
    </div>
  </div>
</section>
<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="text-center">
      <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Taxi vs. Ride-hailing Transportation</h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <p>In 2013, online transportation services such as Go-Jek and Grab became available citywide, gaining popularity among Jakarta residents in providing more affordable and efficient access to mobility. Go-Jek is a motorcycle transport system and is often the easiest&mdash;and fastest&mdash;way to traverse the city especially during peak hours.</p>
        <p>On 21 March 2016, Thousands of Indonesian taxi drivers have brought parts of the capital to a standstill in a protest against transport apps. The drivers say ride-hailing apps such as Uber and Grab have made it impossible for them to earn a living in the heavily congested city. Mobile apps like Grab and Uber have disrupted the transportation industry across Asia, and other parts of the world. <em>(BBC.com)</em>. The proliferation of cheap taxis using ride-hailing apps Go-Jek, Grab and Uber in gridlocked Jakarta has made the traditional pick-up and drop-off taxi services unprofitable, threatening the business models of the country&rsquo;s top taxi firms <em>(Reuters.com).&nbsp;</em></p>
      </div>
    </div>
  </div>
</section>

<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <img src="<%= asset_url('jakarta-decade/13.-T3-soetta-2.png') %>" alt="Terminal 3 Soekarno-Hatta International Airport, Skytrain, and Airport Train" class="w-100 mb-md-5">
      </div>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Terminal 3 Soekarno-Hatta International Airport, Skytrain, and Airport Train</h2>
      </div>
      <div class="col-md-6">
        <p>On 9 August 2016, Terminal 3 Ultimate was officially opened. The original Terminal 3 was revamped and integrated with the old terminal with a grand futuristic architecture. The new Terminal 3 spans 1.2 kilometres and the apron is able to serve 40 aircraft. The terminal has the capacity to serve 25 million international passengers each year. In 2017, Soekarno&ndash;Hatta Airport Railink, an airport rail link service connecting passenger between city centre and the airport was officially operated with a signature station in BNI City, Dukuh Atas.&nbsp;</p>
        <p>The development of Soekarno-Hatta International Airport was followed by the operation of airport shuttle, Skytrain which serves to connect Soekarno-Hatta Airport Terminals 1, 2, 3 and SHIA railway station free of charge.</p>
      </div>
    </div>
  </div>
</section>

<section class="m-md-3 my-md-3 py-md-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img src="<%= asset_url('jakarta-decade/14.-ahok-protest.png') %>" alt="Ahok controversy and conservative movements" class="w-100 mb-md-5">
        </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3 mt-md-3">Ahok Controversy and Conservative Movements</h2>
        </div>
        <p>A candidate and a member of a minority ethnic group, Ahok has become the subject of occasional racist comments. During the campaign for his second term in the Jakarta Governor office, he was regularly targeted by ultra-conservatives and supporters of rival candidates for being of Chinese descent.</p>
<p>On 27 September 2016, while introducing a government project to citizens of the Thousand Islands, Ahok said some citizens would not vote for him because they were being "threatened and deceived" by those using the verse Al-Ma'ida 51 of the Qur'an and variations of it. Some groups, such as the FPI, or the local chapter of the Indonesian Ulema Council, reported Ahok to the police, accusing him of having violated Indonesia's blasphemy law. On 9 May 2017, Ahok was sentenced to two years in prison by North Jakarta District Court after being found guilty of blasphemy and inciting violence, according to <em>BBC.com.</em></p>
<p>The verdict was met with scrutiny, condemnation and heavy criticism by many Indonesians and observers in the international community, in a case widely seen as a test of religious tolerance and free speech. Many said the verdict was politically driven, retaliatory in nature, and the judges had succumbed to pressure from extremist Islamic groups, disgruntled corrupt business groups and politicians and officials who were previously criticised by the Ahok administration.</p>
      </div>
    </div>

  </div>
</section>

<section class="mt-5 pt-5">
  <div style="height:100vh;background-image:url(<%= asset_url('jakarta-decade/15.-tissot_asian_games_2018_20_radityafadilla_280818.png') %>);background-position:center;background-size:cover" class="position-relative">
    <div class="position-absolute h-100 w-100 d-flex align-items-center justify-content-center" style="background-color:rgba(0, 0, 0, 0.6)">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;color:white;" class="my-3">City Makeup and Asian Games 2018</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container " style=>
    <div class="row justify-content-center">
      <div class="col-md-8" style="background:white;margin-top:-14vh;">
        <div class="pt-3 p-md-5">
          <p>The 18th Asian Games has surprised many Asian communities and the world. Indonesia has been proving its excellence in sports so far. Held in Jakarta and Palembang, it has been a big success since the opening. One of the unique facts of the 2018 Asian Games that attracted a lot of attention was the inclusion of 1,600 dancers from 18 schools around the city where Ratoh Jaroe Dance was performed at the opening. Among 40 sports in total, the 2018 Asian Games have introduced 10 new sports that debut in this year&rsquo;s medal competition.</p>
          <p>As the biggest sports events held in the city, the government also accelerates the infrastructure project and made the city more beautiful, covered with decoration and polished public facilities, showed by the major revitalisation of Gelora Bung Karno Sports Complex, Protocol road and other projects to impress the international visitor.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-5 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Jakarta Finally Operated Its First MRT and LRT </h2>
      </div>
      <div class="col-md-6">
        <img  src="<%= asset_url('jakarta-decade/16.-jakarta-mrt.png') %>" alt="MRT JAKARTA" class="w-100 mb-3 my-md-5">
      </div>
      <div class="col-md-6">
        <img  src="<%= asset_url('jakarta-decade/16.-LRT.png') %>" alt="LRT JAKARTA" class="w-100 mb-3 my-md-5">
      </div>
      <div class="col-md-6">
        <p>From Lebak Bulus to Bundaran Hotel Indonesia, the Mass Rapid Transit (MRT) has a contribution to the development of local attractions around the stations. The first phase of MRT has officially operated after six long years of construction since October 2013. Starting operations in March 2019, the Jakarta MRT has significantly contributed to local businesses that led to the development of local business and tourist attraction. This transportation mode is currently serving only from Lebak Bulus to Bundaran HI area with ticket price ranges from IDR 4,000 to IDR 14,000.</p>
        <p>The first phase of the Light Transit System (LRT), from Velodrome to Kelapa Gading began commercial operations on 1 December 2019. It was expected to be operational before the 2018 Asian Games. The test run for the LRT was initially scheduled for 10 August, however, it was delayed to 15 August 2018.</p>
      </div>
    </div>
  </div>
</section>

<section class="m-md-3 my-md-3 py-md-3">
  <div class="container">
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="text-center">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3 mt-md-3">The Political Reign under Anies Baswedan - Sandiaga Uno  </h2>
        </div>
        <p>After leaving his minister duty at the Ministry of Education and Culture, the founder of <em>Indonesia Mengajar</em> Anies Baswedan entered in the 2017 Jakarta gubernatorial elections, and, with Sandiaga Uno as his running mate, won the election. Anies was inaugurated as governor on 16 October 2017, replacing Djarot Saiful Hidayat as acting Governor at that time.&nbsp;</p>
        <p>Currently running the city as a single figure as Sandiaga Uno left the office for the presidential candidacy, Anies Baswedan continues to build the city and initiated a number of programmes that received pro and contra. The public complained as Baswedan claimed that congestion in the Tanah Abang district was caused by pedestrians, instead of due to the street vendors conducting business on the area's sidewalks and roads. Instead of continuing the project, his administration focuses on making more creative public space in Jakarta. In 2019, He initiated a school meal program for Jakarta's schoolchildren, starting with 144,000 students in 459 schools that year. Baswedan also pushed the construction for Jakarta International Stadium (JIS) in Tanjuk Priok which is scheduled to finish in 2021.&nbsp;</p>
      </div>
    </div>
    <hr>
  </div>
</section>

<section class="m-md-3 my-md-5">
  <div class="container">
    <div class="text-center">
      <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Unavoidable Waste Problem</h2>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <img  src="<%= asset_url('jakarta-decade/18.-jakarta-waste.png') %>" alt="jakarta flood" class="w-100 my-5">
      </div>
      <div class="col-md-6">
        <p>With the city&rsquo;s current waste situation, Bantar Gebang, Jakarta&rsquo;s main and only mass landfill, will be out of commission in 2021. As many as 260 trucks come and go every day without stopping to transport more than 7,400 tonnes of hazardous waste. The Waste Management Site operates for 24 hours a day, making it the busiest dumpsite in Indonesia.</p>
        <p>One can smell the foul odour coming from mountains of waste from kilometres away, showing that Bantar Gebang sub-district is polluted by methane gas formed by organic waste and other harmful things coming together, and this is extremely harmful to the immediate environment, including to nearby residents.</p>
      </div>
    </div>
  </div>
</section>



<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">
    <div class="text-center">
      <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">The Polluted City</h2>
    </div>
    <div class="row justify-content-center ">
      <div class="col-md-8">
        <img  src="<%= asset_url('jakarta-decade/19.-jakarta-pollution.png') %>" alt="The Polluted City" class="w-100 mb-3">
      </div>
      <div class="col-md-6">
        <p>In 2018, Jakarta&rsquo;s air quality has reached unhealthy levels, according to a report published by Greenpeace Indonesia. Greenpeace Indonesia report cited the air monitoring platform Air Visual, which listed the city&rsquo;s air quality as &lsquo;UNHEALTHY&rsquo;. Jakarta&rsquo;s pollution levels are similar to those of Dubai (UAE), Lahore (Pakistan) and Kalkota (India). Jakarta&rsquo;s air pollution level range is between 150-200 on average. The peak Air Quality Index (AQI) level is 184.&nbsp;</p>
        <p>Most days in 2018 saw high levels of pollution, according to the report, at 196 days. There were 34 days of clear air, with the remaining 112 days at moderate level. Last year, Greenpeace Indonesia reported that the air quality analysis using ozone parameter, OPM was 10 and PM 2.5, meaning that residents would need to wear a mask and use air purifying machines. The worst and most polluted days in Jakarta were in August as the country hosted the Asian Games and infrastructure projects were accelerated. In December last year, Semesta Coalition protested the government at Jakarta City Hall for &ldquo;Gerakan Inisiatif Bersihkan Udara&rdquo; (Clean Air Initiative).</p>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 pt-5">
  <div style="height:100vh;background-image:url(<%= asset_url('jakarta-decade/20.-FX_Trotoar_10_radityafadilla.png') %>);background-position:center;background-size:cover" class="position-relative">
    <div class="position-absolute h-100 w-100 d-flex align-items-start justify-content-center" style="background-color:rgba(0, 0, 0, 0.6)">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-8">
            <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;color:white;" class="mt-5 pt-2">The Pedestrian City and the Development of Urban Public Spaces</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="p-3 p-md-5" style="background-color:white;margin-top:-15vh;">
          <p>Jakarta&rsquo;s residents have faced several challenges navigating the city thanks to the traffic, but also because of infrastructure issues. For the past few years, however, the national and city governments have made efforts to improve access to the city&rsquo;s major areas.</p>
          <p>Under Governor Anies Baswedan, the city government has added more pelican crossing systems at the heart of the city. Along Sudirman-Thamrin and other main city roads, <em>jembatan penyeberangan</em> <em>orang</em> (JPO) or Skybridges, are everywhere. Today, the old City Sky bridge crossing has been polished to be more attractive. The transformation can be seen at Sudirman Street from Bundaran Senayan to Dukuh Atas. Now, it looks more futuristic, complete with warm lighting.</p>
          <p>Since the Basuki Tjahaja Purnama administration, the city government has invested in revamping the capital&rsquo;s sidewalks and pavements to provide a better experience for pedestrians and to encourage people to develop a walking culture. Following a massive overhaul, many of the sidewalks in the city are wide and more accessible, including for those with visual disabilities. The sidewalks also feature a separator bar to prevent motorcycles from using them.</p>
          <p>Across the city, there are more public spaces available for people who look for entertainment. M Bloc Space, Taman Budaya Dukuh Atas and Thamrin 10 Park n&rsquo; Ride are among the utilisation of unused lands in Jakarta which turned to be the new urban meeting point.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="m-md-3 my-md-5 py-md-5">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-md-5 ">
        <img src="<%= asset_url('jakarta-decade/student-protest.png') %>" alt="Student Protests in Jakarta" class="w-100">
      </div>
      <div class="col-md-7">
        <div class="sticky-top">
          <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3">Student Protests in Jakarta</h2>
          <p>
            In September 2019, protesters consisted of mostly students from over 300 universities rallied against a new legislation that reduces the authority of the Corruption Eradication Commission (KPK), as well as several bills including a new criminal code that penalises extramarital sex and defamation against the president. Between the dates of 23 September to 30 September 2019, the protests took place in major cities in Indonesia, including Jakarta, specifically at House of Representative (DPR) Complex. The protests were the most prominent student movement in Indonesia since the 1998 riots. The student protests made headlines not only in the national media but also in international news outlets.</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="m-md-3 my-md-5">
    <div class="container">
      <hr>
      <div class="text-center">
        <h2 style="font-family: 'Heebo', sans-serif;font-size: 4rem;font-weight:900 !important;margin-bottom:0;" class="my-3 mt-md-5">President Joko Widodo Announced to Move the Capital City</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7">
          <p>President Joko Widodo announced a move of the capital to the province of East Kalimantan on the island of Borneo. During his state of the nation speech in front of the House complex in August 2019, Jokowi formally asked all officials and representatives in attendance to support his administration&rsquo;s plan to relocate Indonesia&rsquo;s capital to Kalimantan. Jokowi visited two alternative locations in Kalimantan, namely Bukit Soeharto in East Kalimantan and the Triangle Area near Palangkaraya in Central Kalimantan.&nbsp;</p>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color: #040404;margin:0">
    <div style="min-height:30vh">
      <div class="text-center text-light py-5">
        <p class="mb-0"><strong>Content Producer:</strong> Rintang Azhar <br /> <strong>Copywriter:</strong> Imam Ismail <br /> <strong>UI/UX Developer:</strong> Aulya <br /><strong>Photo Editor:</strong> Radity Fadilla  <br> <strong>Editor:</strong> Refa Koetin  <br> <br>
          <small>  Published 30 December 2019 | Copyright 2019. NOW! Jakarta </small>
        </p>
      </div>
    </div>
  </section>


  <style media="screen">
  @media (max-width: 575.98px) {
    h1{
      font-size: 4rem !important;
    }

    h2{
      font-size: 2rem !important;
    }

  }
  </style>
