<% if @article.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>
  <div class="row">
    <div class="col-md-12 mb-2">
      <%= f.text_field :title, :class => 'form-control mb-2', :placeholder => 'Insert Article Title Here', :style => 'font-size:1.5rem;', required:true %>
      <%=f.error_span(:title) %>
      <% unless @article.new_record? %>
        <div class="form-group">
          <%= f.label :slug, :class => 'control-label' %>
          <%= f.text_field :slug, :class => 'form-control' %>
          <%=f.error_span(:slug) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
        <%=f.error_span(:content) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.submit 'Save To Draft', :class => 'btn btn-block btn-light', name: 'to_draft' %>
            <% unless @article.new_record? %>
              <button type="button" name="button" class="btn btn-block btn-info">
                Preview
              </button>
            <% end %>
            <%= f.submit 'Publish...', :class => 'btn btn-block btn-primary', name: 'publish', data: { disable_with: "Publishing..." } %>
          </div>
          <hr>
          <div class="form-group">
            <p>
              <strong>Status: </strong><span class="text-uppercase"><%= @article.status %></span>
            </p>
          </div>
          <div class="form-group">
            <label for="publish">Publish Date</label>
            <% if @article.new_record? %>
              <%= f.text_field :publish, :class => 'form-control mydatepicker', required:true %>
            <% else %>
              <%= f.datetime_field :publish, :class => 'form-control', required:true %>
            <% end %>
            <%=f.error_span(:publish) %>
          </div>
          <div class="form-group">
            <%= f.label :writer_id, :class => 'control-label' %>
            <%= f.select :writer_id, Writer.all.map {|s| [s.fullname, s.id ]},{:include_blank => '-Choose-'},:class=>"form-control w-100 select2", required:true%>
            <%=f.error_span(:writer_id) %>
          </div>
          <div class="form-group">
            <%= f.label :category_id, :class => 'control-label' %>
            <%= f.select :category_id, Category.for_articles.map {|s| [s.title.titleize, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2", required:true%>
            <%=f.error_span(:category_id) %>
          </div>
          <div class="form-group">
            <label for="">Tags</label>
            <%= f.text_field :tag_list, :class => 'hai', :value => @article.tag_list.join(",") %>
            <%=  @article.tag_list %>
          </div>
          <div class="form-group">
            <%= f.label 'Thumbnail', :class => 'control-label' %>
            <% if @article.image.nil? || @article.image.blank? %>
            <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
            <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @article.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
          </div>
          <hr>
          <% unless @article.new_record? %>
            <div class="form-group">
              <a href="<%= articles_trash_path(@article.id) %>" class="btn btn-danger btn-block">
                Move To Trash
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Content Marketing</h3>
          <hr>
          <div class="form-group ">
            <%= f.label :content_marketing, :class => 'control-label w-100' %>
            <%= f.check_box :content_marketing, "data-on-text" => "Yes" , "data-off-text"=>"No", 'data-on-color' => 'success', 'data-off-color' => 'danger' %>
            <%=f.error_span(:content_marketing) %>
          </div>
          <div class="form-group">
            <label for="publish">Expired Date</label>
            <% if @article.new_record? %>
            <%= f.text_field :content_marketing_expired, :class => 'form-control mydatepicker' %>
            <% else %>
            <%= f.datetime_field :content_marketing_expired, :class => 'form-control' %>
            <% end %>
            <%=f.error_span(:content_marketing_expired) %>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <%= f.label :featured, :class => 'control-label' %><br>
              <%= f.check_box :featured, "data-on-text" => "Yes" , "data-off-text"=>"No", 'data-on-color' => 'success', 'data-off-color' => 'danger' %>
              <%=f.error_span(:featured) %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :editor_pick, :class => 'control-label w-100' %>
              <%= f.check_box :editor_pick, "data-on-text" => "Yes" , "data-off-text"=>"No", 'data-on-color' => 'success', 'data-off-color' => 'danger' %>
              <%=f.error_span(:editor_pick) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Slider & Gallery</h3>
          <hr>
          <div class="form-group ">
            <%= f.label :add_slider, :class => 'control-label w-100' %>
            <%= f.check_box :slider, "data-on-text" => "Yes" , "data-off-text"=>"No", 'data-on-color' => 'success', 'data-off-color' => 'danger' %>
            <%=f.error_span(:slider) %>
          </div>
          <div class="form-group">
            <%= f.label :gallery_id, :class => 'control-label' %>
            <%= f.select :gallery_id, Gallery.article.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
            <%=f.error_span(:gallery_id) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">SEO</h3>
          <hr>
          <div class="form-group">
            <%= f.label :meta_title, :class => 'control-label' %>
            <%= f.text_field :meta_title, :class => 'form-control' %>
            <%=f.error_span(:meta_title) %>
          </div>
          <div class="form-group">
            <%= f.label 'Meta Description', :class => 'control-label' %>
            <%= f.text_area :meta_des, :class => 'form-control', maxlength:"230" %>
            <%=f.error_span(:meta_des) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('.mydatepicker').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY @HH:mm' });
  $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
  $(".select2").select2();
  $('.hai').selectize({
    options:[
      <% ActsAsTaggableOn::Tag.all.each_with_index do |x, i|  %>
      {value:"<%= x %>", text:"<%= x %>"},
      <% end %>
    ],
    labelField: 'text',
    searchField: 'text',
      delimiter: ',',
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
  });
</script>
