<%- model_class = Article -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3>Filter by Date</h3>
          <form action="/export-article" method="get">
            <div class="row align-items-end">
              <div class="col">
                Start Date
                <input  class="form-control"  type=date name="start" <% if params[:start].present? %>
                  value="<%= params[:start] %>"
                <% end %> required>
              </div>
              <div class="col">
                End Date
                <input  class="form-control" type=date name="end" <% if params[:end].present? %>
                  value="<%= params[:end] %>"
                <% end %> required>
              </div>
              <div class="col">
                <button type="submit" name="button" onclick="downloadXLS()" class="btn btn-default">Export</button>
                <button type="submit" name="button" class="btn btn-default">Filter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")),new_article_path,:class => 'btn btn-success mb-2' %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:title) %></th>
                <th class="text-center">url</th>
                <th class="text-center"><%= model_class.human_attribute_name(:category_id) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:status) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:publish) %> Date</th>
                <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="d-none">
  <script>
  function downloadXLS(){


    var createXLSLFormatObj = [];

    /* XLS Head Columns */
    var xlsHeader = ["No.", "Publish Date", "Day", "Title", "Category", "Page Views"];

    /* XLS Rows Data */
    var xlsRows = [
      <% @articles.each_with_index do |x, i| %>
      {
      "no": "<%= i + 1 rescue "-" %>",
      "publish": "<%= x.publish.strftime("%Y/%m/%d @%H:%M") %>",
      "day": "<%= x.publish.strftime("%A") %>",
      "title":"<%= x.title %>",
      "category":'<%= x.category.title %>',
      "pageview":"0",
    },
    <% end %>

  ];


  createXLSLFormatObj.push(xlsHeader);
  $.each(xlsRows, function(index, value) {
    var innerRowData = [];
    $("tbody").append('<tr><td>' + value.Register + '</td><td>' + value.FullName + '</td></tr>');
    $.each(value, function(ind, val) {

      innerRowData.push(val);
    });
    createXLSLFormatObj.push(innerRowData);
  });


  /* File Name */
  var filename = "Article_NJ_EXPORT.xlsx";

  /* Sheet Name */
  var ws_name = "Sheet1";

  if (typeof console !== 'undefined') console.log(new Date());
  var wb = XLSX.utils.book_new(),
  ws = XLSX.utils.aoa_to_sheet(createXLSLFormatObj);

  /* Add worksheet to workbook */
  XLSX.utils.book_append_sheet(wb, ws, ws_name);

  /* Write workbook and Download */
  if (typeof console !== 'undefined') console.log(new Date());
  XLSX.writeFile(wb, filename);
  if (typeof console !== 'undefined') console.log(new Date());

  }
  </script>
</div>
