

<% if @article.slug == "jakarta-in-a-decade" %>
    <%= render :partial => 'custom_content' %>
<% else %>
<section id="article-detail">
  <div class="container">
    <div class="sticky-top bg-light" style="z-index:10;">
      <div id="article-title" class="d-flex">
        <span class="col"> <%= @article.category.title.capitalize %> | </span><h1 class="article-title col p-0"> <%= @article.title %></h1>
        </div>
      </div>
      <h5 class="category category-before" >
        <a href="<%= sub_category_url(@article) %>"> <%= @article.category.title %>  </a>| <span class="date"><%= @article.publish.strftime("%e %B %Y") rescue "-" %></span>
      </h5>
      <div class="row justify-content-between">
        <div class="pl-3 mb-0">
          <div class="sticky-top mt-4 text-right" style="top:230px;">
            <ul class="list-unstyled text-left d-md-block d-none">
              <li class="social-facebook mb-2">
                <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.nowjakarta.co.id/<%= @article.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                  <img src="https://img.icons8.com/material-sharp/32/000000/facebook.png">
                </a>
              </li>
              <li class="social-twitter mb-2">
                <a target="_blank" href="https://twitter.com/intent/tweet?text=<%= @article.title %> , read more at: http://www.nowjakarta.co.id/<%= @article.slug %>">
                  <img src="https://img.icons8.com/ios-glyphs/32/000000/twitter.png">
                </a>
              </li>
              <li class="social-wa mb-2">
                <a target="_blank" href="https://wa.me/?text=<%= u "#{@article.title} - http://nowjakarta.co.id/#{@article.slug}" %>">
                  <img src="https://img.icons8.com/material/32/000000/whatsapp.png">
                </a>
              </li>
            </ul>
          </div>
          <div class="d-md-none d-sm-block text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.nowjakarta.co.id/<%= @article.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                  <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/home?status=<%= @article.title %> , read more at: http://www.nowjakarta.co.id/<%= @article.slug %>">
                  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://wa.me/?text=<%= u "#{@article.title} - http://nowjakarta.co.id/#{@article.slug}" %>">
                  <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8 mt-md-4 mt-sm-0 col mb-0">
          <div class="article mt-0">
            <div class="article-slider">
              <% if @article.slider == true %>
              <% if @article.gallery_id != "" %>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @article.gallery.image_sliders.each_with_index do |x, i| %>
                  <% if i == 0 %>
                  <div class="carousel-item active">
                    <img src="<%= x.image %>" class="d-block w-100" alt="<%= @article.title %>">
                    <% if x.caption.present? %>
                      <figcaption><%= x.caption %></figcaption>
                    <% end %>
                  </div>
                  <% else %>
                  <div class="carousel-item">
                    <img src="<%= x.image %>" class="d-block w-100" alt="<%= @article.title %>">
                    <% if x.caption.present? %>
                      <figcaption><%= x.caption %></figcaption>
                    <% end %>
                  </div>
                  <% end %>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <% end %>
              <% end %>
            </div>
            <%= @article.content.html_safe %>
            <div class="mt-5 mb-3">
              <% @article.tag_list.each do |x|  %>
              <a href="<%= search_path(q: x) %>" class="btn btn-dark mb-3" style="font-size:12px;">#<%= x %></a>
              <% end %>
            </div>
          </div>
          <div class="border-top mb-5 pt-5" id="author">
            <a href="<%= writer_path(@article.writer.slug) %>">
              <div class="row mt-2 align-items-center">
                <div class="col-3">
                  <img src="<%= @article.writer.image %>" alt="<%= @article.writer.fullname %>" class="w-75 rounded-circle">
                </div>
                <div class="col-9">
                  <h4 class="author-name"><%= @article.writer.fullname %></h4>
                  <p class="author-desc"><%= @article.writer.desc %></p>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="col-md-3 col mb-0">
          <div class="p-2" style="">

              <p style="font-family: 'Oswald', sans-serif;font-size: 32px;font-weight: 900;">
                Get Closer To Us
              </p>
              <button type="button" class="btn  btn-primary  btn-dark" data-toggle="modal" data-target="#subscribeModal">SUBSCRIBE TO OUR NEWSLETTER</button>
          </div>


          <% if @suggested.present? %>
            <% @suggested.limit(1).each do |article|  %>
              <div class="mt-2">
                <span class="category" style="margin-bottom:5px;display:block;">
                  <a href="<%= sub_category_url(article) %>">Suggested | <%= article.category.title %> </a>
                </span>
                <a href="<%= article_url(article) %>" class="">
                  <img src="http://nowjakarta.co.id<%= article.image.url(:regular) %>" alt="<%= article.title %>" class="w-100 mb-3">
                  <h4 class="title-article mb-1"><%= article.title %></h4>
                  <p class="min-desc">
                    <%= article.meta_des %>
                  </p>
                </a>
              </div>
            <% end %>
          <% end %>
          <div class=" mt-4">
            <% Banner.where(category_id: @article.category.parent.id).each do |x| %>
            <div class="banner mb-3" >
              <a href="<%= x.link %>">
                <img src="<%= x.image %>" alt="" class="w-100">
              </a>
            </div>
            <% end %>
          </div>
          <div class="mt-4">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">
                  <p style="font-family: 'Oswald', sans-serif;font-size: 20px;font-weight: 900;margin-bottom:0">
                    POPULAR
                  </p>
                </a>
                <a class="nav-item nav-link" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">
                  <p style="font-family: 'Oswald', sans-serif;font-size: 20px;font-weight: 900;margin-bottom:0">
                    RECENT
                  </p>
                </a>

              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                <% @popular.each do |x| %>
                <div class="">
                  <a href="<%= article_url(x) %>" class="">
                    <div class="row align-items-center">
                      <div class="col-md-8">
                        <span class="category"><%= x.category.title %></span>
                        <h3 class="title-article" style="font-size:18px"><%= x.title  rescue "-"%></h3>
                        <span class="writer"><%= x.writer.fullname %></span>
                      </div>
                      <div class="col-md-4">
                        <img src="<%= x.image.url(:mobile) %>" alt="<%= x.title %>" class="w-100">
                      </div>
                    </div>
                  </a>
                </div>
                <hr>
                <% end %>
              </div>
              <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                <% @recent.each do |x| %>
                <div class="">
                  <a href="<%= article_url(x) %>" class="">
                    <div class="row align-items-center">
                      <div class="col-md-8">
                        <span class="category"><%= x.category.title %></span>
                        <h3 class="title-article" style="font-size:18px"><%= x.title  rescue "-"%></h3>
                        <span class="writer"><%= x.writer.fullname %></span>
                      </div>
                      <div class="col-md-4">
                        <img src="<%= x.image.url(:mobile) %>" alt="<%= x.title %>" class="w-100">
                      </div>
                    </div>
                  </a>
                </div>
                <hr>
                <% end %>
              </div>

            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div id="related">
            <div class="heading-section d-md-flex justify-content-between align-items-center text-sm-center">
              <h3>Related Articles</h3>
            </div>
            <div class="row ">
              <% @related.each do |x| %>
              <% if @related.count < 5 %>

              <div class="col-12 col-md-4 ">
                <a href="<%= article_url(x) %>" class="">
                  <img src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
                  <h4 class="title-article"style="font-size:18px;"  ><%= x.title %></h4>
                </a>
              </div>
              <% else %>
              <div class="col">
                <a href="<%= article_url(x) %>" class="">
                  <img src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
                  <h4 class="title-article"style="font-size:18px;"  ><%= x.title %></h4>
                </a>
              </div>
              <% end %>


              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
