<% if @article.slug == "jakarta-in-a-decade" %>
<%= render :partial => 'custom_content' %>
<% else %>
<section>
  <div class="container">
    <h5 class="category mt-4" >
      <a href="<%= sub_category_url(@article) %>"> <%= @article.category.title %>  </a>| <span class="date"><%= @article.publish.strftime("%e %B %Y") rescue "-" %></span>
    </h5>
    <div class=" position-relative bg-light" style="z-index:10;">
      <h1 class="article-title" style="font-size:30px;line-height:1"><%= @article.title %></h1>
    </div>

    <div class="mt-3 mb-3">

      <div class="d-md-none d-sm-block">

        <p class="heading">
          <amp-social-share type="twitter"
          width="45"
          height="33"></amp-social-share>
          <amp-social-share type="facebook"
          width="45"
          height="33"
          data-attribution="254325784911610"></amp-social-share>
          <amp-social-share type="gplus"
          width="45"
          height="33"></amp-social-share>
          <amp-social-share type="email"
          width="45"
          height="33"></amp-social-share>

        </p>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="container">
        <div class="article mt-0">
          <%= sanitize @article.content, scrubber: AmpScrubber.new %>
          <div class="mt-5 mb-3">
            <% @article.tag_list.each do |x|  %>
            <a href="<%= search_path(q: x) %>" class="btn btn-dark mb-1 " style="font-size:12px;">#<%= x %></a>
            <% end %>
          </div>
        </div>
        <div class="border-top mb-3 pt-5 " id="author">
          <a href="<%= writer_path(@article.writer.slug) %>">
            <div class="row mt-2 align-items-center">
              <div class="col-3 mb-3">
                <amp-img
                src="<%= @article.writer.image %>"
                width="500"
                height="500"
                layout="responsive"
                alt="<%= @article.writer.fullname %>"
                class="w-100 d-block rounded-circle m-auto"
                >
              </amp-img>
                </div>
                <div class="col-9 ">
                  <h4 class="author-name mb-0"><%= @article.writer.fullname %></h4>
                  <span style="font-weight:100;color:gray">writer</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="p-2" style="">
            <div class="">
              <p style="font-family: 'Oswald', sans-serif;font-size: 32px;font-weight: 900;">
                Get Closer To Us
              </p>
              <div class="mb-3">
                <input id="signup_email" name="signup[email]" class="mm-field required email col" type="text" data-required-field="This field is required" placeholder="you@example.com" style="border-bottom:1px solid #000;text-align:left;padding-left:0;font-size:16px;">
              </div>
              <a href="#" class="btn btn-outline-dark w-100">
                SUBMIT
              </a>
            </div>
            </div>
            <div class="mt-2">
              <div class=" text-center pt-3">
                <p class="mb-3" style="font-size:35px;font-weight:900;font-family: 'Cormorant', serif;"><strong>COVID-19</strong> Cases in Indonesia</p>
              </div>
              <div class="  pb-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="text-center covid-info py-4" style="border-bottom:1px white solid;">
                      <div  class="feed-confirmed">  <p class="count-statistics"><%= @crn_confirm %></p>
                      </div>
                      <p class="mb-0">Confirmed</p>
                    </div>
                  </div>
                  <div class="col-6 pr-0" style="border-right: 1px solid white;">
                    <div class="text-center covid-info py-4  ">
                      <div  class="feed-recovered">  <p class="count-statistics"><%= @crn_cured %></p>
                      </div>
                      <p class="mb-0">Recovered</p>
                    </div>
                  </div>
                  <div class="col-6 pl-0">
                    <div class="text-center covid-info py-4 ">
                      <div  class="feed-deaths">  <p class="count-statistics"><%= @crn_died %></p>
                      </div>
                      <p class="mb-0">Death</p>
                    </div>
                  </div>
                </div>
                <small class="mt-3"><i>API source: <a href="https://covid19api.com" target="_blank"><u><b>https://covid19api.com</b></u></a>. Data Source: <a href="https://systems.jhu.edu/" target="_blank"><u><b>Johns Hopkins CSSE</b></u></a></i></small>
                <p class="mt-3">For live update about Covid-19 cases in Indonesia, visit <a href="http://www.covid19.go.id/situasi-virus-corona" target="_blank"><strong><u>www.covid19.go.id/situasi-virus-corona</u></strong></a>. Get informed, take percautions, and help to contain the virus from spreading.</p>
              </div>
            </div>
            <% @suggested.limit(1).each do |x|  %>
            <div class="mt-4">
              <span class="category" style="margin-bottom:5px;display:block;">
                <a href="<%= sub_category_url(x) %>">Suggested | <%= x.category.title %> </a>
              </span>
              <a href="<%= article_url(x) %>" class="">
                <amp-img
                src="<%= x.image.url(:regular) %>"
                srcset="<%= x.image.url(:regular) %>"
                width="300"
                height="250"
                layout="responsive"
                alt="<%= x.title %>">
              </amp-img>


              <h4 class="title-article mb-1" ><%= x.title %></h4>
              <p class="min-desc">
                <%= x.meta_des %>
              </p>
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <% end %>
