<% if @article.slug == "jakarta-in-a-decade" %>
    <%= render :partial => 'custom_content' %>
<% else %>
<section>
  <div class="container">
    <h5 class="category mt-4" >
     <a href="<%= sub_category_url(@article) %>"> <%= @article.category.title %>  </a>| <span class="date"><%= @article.publish.strftime("%e %B %Y") rescue "-" %></span>
    </h5>
    <div class=" position-relative bg-light" style="z-index:10;">
      <h1 class="article-title" style="font-size:30px;line-height:1"><%= @article.title %></h1>
    </div>

      <div class="mt-3 mb-3">

        <div class="d-md-none d-sm-block">

          <ul class="list-inline">
            <!-- <li class="list-inline-item mr-1">
              SHARE:
            </li> -->
            <li class="list-inline-item m-0">
              <a style="font-size:12px;" href="#"  class="btn btn-dark" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.nowjakarta.co.id/<%= @article.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                FACEBOOK
              </a>
            </li>
            <li class="list-inline-item m-0">
              <a style="font-size:12px;" target="_blank"  class="btn btn-dark" href="https://twitter.com/intent/tweet?text=<%= @article.title %> , read more at: http://www.nowjakarta.co.id/<%= @article.slug %>">
                TWITTER
              </a>
            </li>
            <li class="list-inline-item m-0">
              <a style="font-size:12px;" target="_blank"  class="btn btn-dark" href="https://wa.me/?text=<%= u "#{@article.title} - http://nowjakarta.co.id/#{@article.slug}" %>">
                WHATSAPP
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-12 mb-3">
          <div class="article mt-0">
            <%= @article.content.html_safe %>
            <div class="mt-5 mb-3">
              <% @article.tag_list.each do |x|  %>
              <a href="<%= search_path(q: x) %>" class="btn btn-dark mb-1 " style="font-size:12px;">#<%= x %></a>
              <% end %>
            </div>
          </div>
          <div class="border-top mb-3 pt-5 " id="author">
            <a href="<%= writer_path(@article.writer.slug) %>">
              <div class="row mt-2 align-items-center">
                <div class="col-3 mb-3">
                  <img src="https://nowjakarta.co.id<%= @article.writer.image %>" alt="<%= @article.writer.fullname %>" class="w-100 d-block rounded-circle m-auto">
                </div>
                <div class="col-9 ">
                  <h4 class="author-name mb-0"><%= @article.writer.fullname %></h4>
                  <span style="color:gray" style="font-weight:100;">writer</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="p-2" style="">
            <p style="font-family: 'Oswald', sans-serif;font-size: 32px;font-weight: 900;">
              Get Closer To Us
            </p>
            <button type="button" class="btn  btn-primary  btn-dark" data-toggle="modal" data-target="#subscribeModal">SUBSCRIBE TO OUR NEWSLETTER</button>


            <% Banner.where(category_id: @article.category.parent.id).each do |x| %>
            <div class="banner mb-3 mt-3" >
              <a href="<%= x.link %>">
                <img src="<%= x.image %>" alt="" class="w-100">
              </a>
            </div>
            <% end %>

          </div>

          <% @suggested.limit(1).each do |x|  %>
          <div class="mt-4">
            <span class="category" style="margin-bottom:5px;display:block;">
              <a href="<%= sub_category_url(x) %>">Suggested | <%= x.category.title %> </a>
            </span>
            <a href="<%= article_url(x) %>" class="">
              <img src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
              <h4 class="title-article mb-1" ><%= x.title %></h4>
              <p class="min-desc">
                <%= x.meta_des %>
              </p>
            </a>
          </div>
          <% end %>
          <div class=" mt-4">
            <% Banner.where(category_id: @article.category_id).each do |x| %>
            <div class="banner mb-3" >
              <a href="<%= x.link %>">
                <img src="<%= x.image %>" alt="" class="w-100">
              </a>
            </div>
            <% end %>
          </div>

          <div class="mt-4">
            <h4 style="text-transform:uppercase ;font-family: 'Oswald', sans-serif;font-size: 28px;font-weight: 900;">
              Related Article
            </h4>
            <% @related.limit(5).each do |x| %>
            <a href="<%= article_url(x) %>">
              <div class="d-block">
                <div class="row align-items-center mb-3">
                  <div class="col-4">
                    <img  src="<%= x.image.url(:mobile) %>" alt="<%= x.title %>" class="w-100">
                  </div>
                  <div class="col-8 pl-0">
                    <span class="category" style="display:block;">
                      <%= x.category.title %>
                    </span>
                    <h4 class="title-article"><%= x.title %></h4>
                  </div>
                </div>
              </div>
            </a>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
