<%- model_class = Device -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:endpoint) %>:</strong></dt>
  <dd><%= @device.endpoint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:p256dh_key) %>:</strong></dt>
  <dd><%= @device.p256dh_key %></dd>
  <dt><strong><%= model_class.human_attribute_name(:auth_key) %>:</strong></dt>
  <dd><%= @device.auth_key %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              devices_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_device_path(@device), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              device_path(@device),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
