<p>Hi, Refa</p>
<p>There is a new article drafted by aulya,</p>
<p>Title: <a href="<%= dtl_sub_category_url(@article.category.parent.slug, @article.category.slug) %>"><%= @article.title %></a></p>
<p>Category: <a href="<%= dtl_sub_category_url(@article.category.parent.slug, @article.category.slug) %>"><%= @article.category.title %></a></p>
<p>Drafted on: <%= @article.created_at.strftime("%e %B %Y @%H:%M") %></p>
<p>To Be publish on: <%= @article.publish.strftime("%e %B %Y @%H:%M") %></p>
<p>Check this link for preview: <a href="<%= dtl_sub_category_url(@article.category.parent.slug, @article.category.slug) %>"><%= dtl_sub_category_url(@article.category.parent.slug, @article.category.slug) %></a></p>
<p>and this link for edit: <a href="<%= edit_article_url(@article.slug) %>"><%= edit_article_url(@article.slug) %></a></p>
<p>Good luck! Hope it works.</p>
