<p>Hi, Aulya</p>
<p>There is a new message in contact,</p>
<p>Sender: <%= @contact.fullname %></p>
<p>Email: <%= @contact.email %></p>
<p>Subject: <%= @contact.subject %></p>
<p>Message:</p>
<p><%= @contact.message %></p>
