<p>Hi, Gadis</p>
<p>Berikut Report untuk Banner <%= @banner.title %>,</p>
<hr>
<p>
  Start Date: <%= @banner.start_date %> <br>
  End Date: <%= @banner.expired_date %> <br>
  Position: <%= human_banner_name(@banner.position.to_s) %> <br>
  Total Click: <%= @banner.click %>
</p>
<hr>
<p>
  <a href="https://nowjakarta.co.id<%= @banner.screen_shoot.url %>">click here to download banner's Screen Shoot</a> or  <a href="<%= banner_url(@banner.id) %>"> click here to check report  in web version</a>
</p>
<p>Good luck! Hope it works.</p>
