<p>Hi, Marketing</p>
<p>We have new subscriber,</p>
<p>Full Name: <%= @subscribe.title %> <%= @subscribe.fullname %></p>
<p>Phone Number: <% if @subscribe.phonenumber.nil? %><% @subscribe.phonenumber %>  /<% else %>- / <% end %>  <%= @subscribe.telephone %></p>
<p>Email: <%= @subscribe.email %></p>
<p>Address:</p>
<p><%= @subscribe.address %></p>
<p>Plan: <strong><%= @subscribe.plan %></strong></p>
