<%= form_for @image_slider, :html => { :class => "form-horizontal image_slider" } do |f| %>

  <% if @image_slider.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@image_slider.errors.count, "error") %> prohibited this image_slider from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @image_slider.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image) %>
  </div>
  <div class="form-group">
    <%= f.label :caption, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :caption, :class => 'form-control' %>
    </div>
    <%=f.error_span(:caption) %>
  </div>
  <div class="form-group">
    <%= f.label :gallery_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gallery_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gallery_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                image_sliders_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
