<%= form_for @notification, :html => { :class => "form-horizontal notification" } do |f| %>

  <% if @notification.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @notification.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <%= f.label :article_id, :class => 'control-label' %>
        <%= f.select :article_id, Article.order(created_at: :desc).first(50).map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
        <%=f.error_span(:article_id) %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                notifications_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(".select2").select2();
</script>
