<%- model_class = Notification -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <h2>Device Registered</h2>
        </div>
        <div class="col-md-12 text-right">
          <h1>
            <%= Device.all.count %>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")),new_notification_path,:class => 'btn btn-success mb-2' %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th><%= model_class.human_attribute_name(:article_id) %></th>
                <th>View Count</th>
                <th>Open Rate</th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th><%= model_class.human_attribute_name(:updated_at) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @notifications.each do |notification| %>
              <tr>
                <td><%= notification.id %></td>
                <td><%= notification.article.title %></td>
                <td><%= notification.article.wpn_counter %></td>
                <td><%= number_to_percentage((notification.article.wpn_counter.to_f / Device.all.count.to_f) * 100 )  %></td>
                <td><%= notification.created_at.strftime("%e %B %Y @%H:%M") %></td>
                <td><%= notification.updated_at.strftime("%e %B %Y @%H:%M") %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  notification_path(notification), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_notification_path(notification), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  notification_path(notification),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
</script>
