<%= form_for @banner, :html => { :class => "form-horizontal banner" } do |f| %>

  <% if @banner.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@banner.errors.count, "error") %> prohibited this banner from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @banner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 text-center">
      <div class="form-group">
        <div id="checkimagehp1">
          <%= f.label :image, :class => 'control-label' %>
          <% if @banner.image.nil? || @banner.image.blank? %>
            <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
          <% else %>
            <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @banner.image.url %>
          <% end %>
          <%=f.error_span(:image) %>
        </div>
        <div id="checkwidgethp1">
          <%= f.text_area :widget, :class => 'form-control text-square' %>
          <%=f.error_span(:widget) %>
        </div>
      </div>
      <div class="form-group">
        <button type="button" name="button" class="btn btn-outline-info" id="btnimagehp1">Image</button>
        <button type="button" name="button" class="btn btn-outline-danger" id="btnwidgethp1">Widget</button>
      </div>
      <script type="text/javascript">
      $('#checkwidgethp1').hide();
      $('#btnimagehp1').hide();
      </script>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title, :class => 'control-label' %>
        <%= f.text_field :title, :class => 'form-control', :required => true %>
        <%=f.error_span(:title) %>
      </div>
      <div class="form-group">
        <%= f.label :start_date, :class => 'control-label' %>
        <%= f.date_field :start_date, :class => 'form-control' %>
        <%=f.error_span(:start_date) %>
      </div>
      <div class="form-group">
        <%= f.label :expired_date, :class => 'control-label' %>
        <%= f.date_field :expired_date, :class => 'form-control' %>
        <%=f.error_span(:expired_date) %>
      </div>
      <div class="form-group">
        <%= f.label :link, :class => 'control-label' %>
        <%= f.text_field :link, :class => 'form-control',:required => true %>
        <%=f.error_span(:link) %>
      </div>
      <div class="form-group">
        <%= f.label :status, :class => 'control-label' %>
        <%= f.text_field :status, :class => 'form-control',:required => true %>
        <%=f.error_span(:status) %>
      </div>

    </div>
    <div class="col-md-12 text-center">
      <div class="form-group">
        <div id="screen_shoot">
          <%= f.label :screen_shoot, :class => 'control-label' %>
          <% if @banner.screen_shoot.nil? || @banner.screen_shoot.blank? %>
            <%= f.file_field :screen_shoot, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png',  'data-show-remove'=>'false', 'data-height' => '250' %>
          <% else %>
            <%= f.file_field :screen_shoot, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png',  'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @banner.screen_shoot.url %>
          <% end %>
          <%=f.error_span(:screen_shoot) %>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <div class="form-group">
        <% if @banner.new_record? %>
        <%= f.hidden_field :category_id, :value => params[:category_id], :class => 'form-control',:required => true %>
        <%= f.hidden_field :position,value:"article",  :class => 'form-control',:required => true %>
        <% end %>
        <%= f.submit 'Save', :class => 'btn btn-success' %>
        <a href="<%# banner_path(@banner.id) %>" class="btn btn-primary">
          Show
        </a>
      </div>
    </div>
  </div>
<% end %>
