<%- model_class = Banner -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%= action_name.titleize %> Page <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="<%= banners_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a>
            </li>
            <li class="breadcrumb-item">
              <%= action_name.titleize %> Page <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% Category.parent.each do |x| %>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="" style="text-transform:uppercase;" ><%= x.title %></h3>
        <a href="<%= new_banner_path(category_id: x.id) %>" class="btn btn-success mb-2">add banner</a>

      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:image) %></th>
            <th><%= model_class.human_attribute_name(:title) %></th>
            <th class="text-center"><%= model_class.human_attribute_name(:expired) %></th>
            <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% x.banners.each do |x| %>
          <tr>
            <td class="text-center"> <img src="<%= x.image %>" alt="" style="width:150px;"></td>
            <td class="text-center"><%= x.title %></td>
            <td class="text-center"><%= x.expired.strftime("%Y/%m/%d") rescue "-" %></td>
            <td class="text-center">
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_banner_path(x), :class => 'btn btn-warning btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              banner_path(x),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>
