<%- model_class = Banner -%>
<style media="screen">
  .text-square{
    height:264px;
  }
  .text-landscape{
    height:164px;
  }
</style>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">Banner Article <%= Category.find(params[:category_id]).title %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="<%= sliders_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
    <%= render :partial => 'form' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#btnwidgethp1').click(function() {
      $('#checkimagehp1').hide();
      $('#btnwidgethp1').hide();
      $('#checkwidgethp1').show();
      $('#btnimagehp1').show();
    });
    $('#btnimagehp1').click(function() {
      $('#checkimagehp1').show();
      $('#btnwidgethp1').show();
      $('#checkwidgethp1').hide();
      $('#btnimagehp1').hide();
    });
  });
</script>
