<%- model_class = Banner -%>
<section>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h1><%= @banner.title %></h1>
          <h3>Total Click: <%= @banner.click %></h3>
        </div>
        <hr>
        <div class="row ">
          <div class="col-md-3">
            <h4>Banner Image</h4>
            <img src="<%= @banner.image %>" alt="" class="w-100 mb-3">
          </div>
          <div class="col-md-5">
            <h4>Screenshot</h4>
            <img src="<%= @banner.screen_shoot %>" alt="" class="w-100 mb-3">
          </div>
          <div class="col-md-4">
            <h4>Banner Detail</h4>
            <div class="p-3 border border-warning">
              <div class="row">
                <div class="col-5">
                  Start Date
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-5">
                  <%= @banner.start_date %>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  End Date
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-5">
                  <%= @banner.expired_date %>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  Position
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-5">
                  <%= human_banner_name(@banner.position.to_s) %>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  Total Click
                </div>
                <div class="col-1">
                  :
                </div>
                <div class="col-5">
                  <%= @banner.click %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <a href="<%= @banner.image.url %>" class="btn btn-success">Download</a>
          </div>
          <div class="col-md-5 text-center">
            <a href="<%= @banner.screen_shoot %>" class="btn btn-success" >Download</a>
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
</section>
