<%- model_class = Banner -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%= action_name.titleize %> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="<%= banners_path %>"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></a>
            </li>
            <li class="breadcrumb-item">
              <%= action_name.titleize %> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:title) %></th>
            <th><%= model_class.human_attribute_name(:image) %></th>
            <th><%= model_class.human_attribute_name(:position) %></th>
            <th><%= model_class.human_attribute_name(:click) %></th>
            <th><%= model_class.human_attribute_name(:status) %></th>
            <th><%= model_class.human_attribute_name(:category_id) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @banners.each do |banner| %>
          <tr>
            <td><%= link_to banner.id, banner_path(banner) %></td>
            <td><%= banner.title %></td>
            <td><%= banner.image %></td>
            <td><%= banner.position %></td>
            <td><%= banner.click %></td>
            <td><%= banner.status %></td>
            <td><%= banner.category.name rescue 'nil' %></td>
            <td><%= banner.created_at.strftime("%B %d, %Y %H:%M") %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
              banner_path(banner), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_banner_path(banner), :class => 'btn btn-warning btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              banner_path(banner),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
              <a href="<%= send_report_banner_path(id: banner.id) %>" class="btn btn-dark btn-xs">Send Report</a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
</script>
