<% if @user.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :username, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.text_field :username, :class => 'form-control', required:true %>
            <%=f.error_span(:username) %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :email, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.text_field :email, :class => 'form-control', required:true %>
            <%=f.error_span(:email) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :password, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.password_field :password, :class => 'form-control', required:true %>
            <%=f.error_span(:password) %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :password_confirmation, :class => 'control-label' %> <small><i>Required</i></small>
            <%= f.password_field :password_confirmation, :class => 'form-control', required:true %>
            <%=f.error_span(:password_confirmation) %>
          </div>
        </div>
        <div class="col-md-12 mt-2">
          <div class="form-group text-center">
            <%= f.submit nil, :class => 'btn btn-success' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-light' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
