<%- model_class = User -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">User Profile</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= app_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= users_path %>"><%= model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <strong><%= model_class.human_attribute_name(:username) %></strong>
              <p class="text-muted"><%= @user.username rescue '' %> <%= @user.username %></p>
              <strong><%= model_class.human_attribute_name(:email) %></strong>
              <p class="text-muted"><%= @user.email rescue '' %> <%= @user.email %></p>
            </div>
            <div class="col-12">
              <%= link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-light'  %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-wa' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
