<div class="row">
  <% if @video.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<%= form_for @video, :html => { :class => "form-horizontal video" } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <%= f.label :title, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :title, :class => 'form-control' %>
            </div>
            <%=f.error_span(:title) %>
          </div>
          <div class="form-group row">
            <%= f.label :youtube_url, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :youtube_url, :class => 'form-control', required: true %>
            </div>
            <%=f.error_span(:youtube_url) %>
          </div>
          <div class="form-group row">
            <%= f.label :image, :class => 'col-form-label col-lg-2' %>
            <div class="col-lg-10">
              <%= f.text_field :image, :class => 'form-control' %>
            </div>
            <%=f.error_span(:image) %>
          </div>
          <div class="form-group row">
            <div class="offset-lg-2 col-lg-10">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")), videos_path, :class => 'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
