<%- model_class = Video -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <%= link_to t('.new', :default => t("helpers.links.new")), new_video_path, :class => 'btn btn-success mb-2' %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center"><%= model_class.human_attribute_name(:id) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:title) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:youtube_url) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:image) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:created_at) %></th>
                <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @videos.each do |video| %>
                <tr>
                  <td class="text-center"><%= link_to video.id, video_path(video) %></td>
                  <td class="text-center"><%= video.title %></td>
                  <td class="text-center"><%= video.youtube_url %></td>
                  <td class="text-center">
                    <% if video.image.present? %>
                      <img src="<%= video.image.url%>" alt="" width="200px">
                    <% end %>
                  </td>
                  <td class="text-center"><%= video.created_at.strftime("%Y-%m-%d@%H:%M") %></td>
                  <td class="text-center">
                    <%= link_to t('.show', :default => t("helpers.links.show")), video_path(video), :class => 'btn btn-info btn-xs mb-2' %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_video_path(video), :class => 'btn btn-warning btn-xs mb-2' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), video_path(video), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger mb-2' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
</script>
