<div class="row">
  <% if @event.errors.any? %>
    <div class="col-12">
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= form_for @event, :html => { :class => " event" } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :title, :class => 'control-label' %>
            <%= f.text_field :title, :class => 'form-control', required: true %>
            <%=f.error_span(:title) %>
          </div>
          <div class="form-group">
            <%= f.label :meta_title, :class => 'control-label' %>
            <%= f.text_field :meta_title, :class => 'form-control' %>
            <%=f.error_span(:meta_title) %>
          </div>
          <div class="form-group">
            <%= f.label :meta_des, :class => 'control-label' %>
            <%= f.text_area :meta_des, :class => 'form-control' %>
            <%=f.error_span(:meta_des) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
            <%=f.error_span(:content) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :image, :class => 'control-label' %>
            <% if @event.image.nil? || @event.image.blank? %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png gif', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @event.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <%= f.label :start_date, :class => 'control-label' %>
              <%= f.date_field :start_date, :class => 'form-control' %>
              <%=f.error_span(:start_date) %>
            </div>
            <div class="col-md-6">
              <%= f.label :end_date, :class => 'control-label' %>
              <%= f.date_field :end_date, :class => 'form-control' %>
              <%=f.error_span(:end_date) %>
            </div>
          </div>

            <div class="form-group">
              <%= f.label :category_id, :class => 'control-label' %>
              <%= f.select :category_id, Category.events.map {|s| [s.title, s.id ]},{:include_blank => '-Choose-'}, :class=>"form-control w-100 select2"%>
              <%=f.error_span(:category_id) %>
            </div>
          <div class="form-group">
            <%= f.label :vanue, :class => 'control-label' %>
            <%= f.text_field :vanue, :class => 'form-control' %>
            <%=f.error_span(:vanue) %>
          </div>
          <div class="form-group">
            <%= f.label :map, :class => 'control-label' %> (iframe)
            <%= f.text_area :map, :class => 'form-control' %>
            <%=f.error_span(:map) %>
          </div>
          <div class="form-group text-center">
            <%= f.submit nil, :class => 'btn btn-success' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-light' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $('.mydatepicker').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY @HH:mm' });
  $("input[type='checkbox'], input[type='radio']").bootstrapSwitch();
  $(".select2").select2();
</script>
