<section id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-10 pl-md-0">
        <div class="row ">
          <div class="col-md-4">

            <div class="sticky-top mb-3" >
              <img src="<%= @event.image %>" alt="<%= @event.title %>" class="w-100 mb-2">
              <div class="event-info p-2">
                <span class="category"><%= @event.category.title %></span>
              <h1 class="article-title"><%= @event.title %></h1>
                <hr>
                <div class="event-date">
                  <% if @event.start_date == @event.end_date %>
                    <h3><%= @event.start_date.strftime(" %e %B %Y") rescue "-" %></h3>
                  <% else %>
                    <h3><%= @event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %></h3>
                  <% end %>
                </div>
                <hr>
                <%= @event.vanue %>
                <hr>

                <ul class="list-inline">
                  share this event:
                  <li class="list-inline-item">
                    <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.nowjakarta.co.id/events/<%= @event.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                      <img src="https://img.icons8.com/material-sharp/32/000000/facebook.png">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/home?status=<%= @event.title %> , read more at: http://www.nowjakarta.co.id/events/<%= @event.slug %>">
                      <img src="https://img.icons8.com/ios-glyphs/32/000000/twitter.png">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://wa.me/?text=<%= u "#{@event.title} - http://nowjakarta.co.id/events/#{@event.slug}" %>">
                      <img src="https://img.icons8.com/material/32/000000/whatsapp.png">
                    </a>
                  </li>
                </ul>
                <hr>
                <a href="http://www.google.com/calendar/event?action=TEMPLATE&dates=<%= @event.start_date.strftime('%Y%m%d')%>/<%= @event.end_date.strftime('%Y%m%d')%>&text=<%= URI.encode(@event.title)  %>&location=<%= URI.encode(@event.vanue) rescue '' %>&details=<%= URI.encode(@event.note ) rescue '' %>" target="_blank" rel="nofollow" class="btn btn-dark">
                  Add To Calendar
                </a>

            </div>

            </div>

          </div>
          <div class="col-md-8">


              <div class="article">
                <%= @event.content.html_safe %>
              </div>
              <hr>
                <%= @event.map.html_safe rescue ''%>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div id="related">
        <div class="heading-section d-md-flex justify-content-between align-items-center text-sm-center">
          <h3>OTHER UPCOMING EVENTS</h3>
        </div>

        <div class="owl-carousel event-slider">
          <% @other_event.each do |x| %>
          <div class="card-article">
            <a href="<%= dtl_event_path(x.slug) %>">
              <div class="image-box effect dia-full">
                <img src="<%= x.image.url(:poster) %>" class="w-100">
                <div class="image-box-content">
                  <div class="">
                    <a href="<%= dtl_event_path(x.slug) %>" data-method="get">
                      <h5 class="category text-white">
                        <%= x.category.title %>
                      </h5>
                    </a>
                  </div>
                  <div class="title">
                    <div class="post-title">
                      <a href="<%= dtl_event_path(x.slug) %>" data-method="get">
                        <h4 class="title-article" style="color:white !important;"><%= x.title %></h4>
                        <div class="event-date text-white">
                          <% if x.start_date == x.end_date %>
                          <h3><%= x.start_date.strftime(" %e %B %Y") rescue "-" %></h3>
                          <% else %>
                          <h3><%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %></h3>
                          <% end %>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</section>
