<section id="events">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="heading-section d-flex justify-content-between no-border mb-0">
          <h1 class="mb-0 page-title"><a href="<%= all_event_path %>">EVENTS</a></h1>
        </div>
      </div>
      <div class="col-md-10 p-0">
        <ul class="nav nav-event-category d-none d-md-block">
          <%@months.map{ |date| date.end_date.strftime("%B") }.uniq.each do |x|  %>
          <li class="nav-item ">
            <a class="nav-link pl-0 active" style="text-transform:uppercase" href="/events?month=<%= x %>"><%= x %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="sticky-top">
          <nav class="nav flex-column month-list d-none d-md-block">
            <% @categories.each do |x| %>
            <% if x.slug == 'bazaar-festival' %>
            <a class="nav-link " href="/events/bazaar-and-festival"><%= x.title %></a>
            <% elsif x.slug == 'education-853cabb7-3568-4c3f-b79e-1b578a14e672' %>
            <a class="nav-link " href="/events/education"><%= x.title %></a>
            <% elsif x.slug == 'festive-40b19b1d-580e-494b-bec5-a3840a40e7a1' %>
            <a class="nav-link " href="/events/festive"><%= x.title %></a>
            <% else %>
            <a class="nav-link " href="/events/<%= x.slug %>"><%= x.title %></a>
            <% end %>
            <% end %>
          </nav>
        </div>
      </div>
      <div class="col-md-10 pl-md-0">
        <div class="row ">
          <div class="col-md-4">

            <div class="sticky-top mb-3" >
              <a href="<%= @event.image %>" class="d-block popupbanner" data-lightbox="zoom-banner">
                <img src="<%= @event.image %>" alt="<%= @event.title %>" class="w-100 mb-2">
              </a>
              <div class="event-info p-2 text-right">

                <div class="event-date">
                  <% if @event.start_date == @event.end_date %>
                  <h3><%= @event.start_date.strftime(" %e %B %Y") rescue "-" %></h3>
                  <% else %>
                  <h3><%= @event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= @event.end_date.strftime("%e %B %Y") rescue "-" %></h3>
                  <% end %>
                </div>
                <hr>
                <%= @event.vanue %>
                <hr>

                <ul class="list-inline">
                  share this event:
                  <li class="list-inline-item">
                    <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.nowjakarta.co.id/events/<%= @event.slug %>','facebook-share-dialog','width=626,height=436');return false;">
                      <img src="https://img.icons8.com/material-sharp/32/000000/facebook.png">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/home?status=<%= @event.title %> , read more at: http://www.nowjakarta.co.id/events/<%= @event.slug %>">
                      <img src="https://img.icons8.com/ios-glyphs/32/000000/twitter.png">
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://wa.me/?text=<%= u "#{@event.title} - http://nowjakarta.co.id/events/#{@event.slug}" %>">
                      <img src="https://img.icons8.com/material/32/000000/whatsapp.png">
                    </a>
                  </li>
                </ul>
                <hr>
                <a  target="_blank"  href="http://www.google.com/calendar/event?action=TEMPLATE&dates=<%= @event.start_date.strftime('%Y%m%d')%>/<%= @event.end_date.strftime('%Y%m%d')%>&text=<%= URI.encode(@event.title)  %>&location=<%= URI.encode(@event.vanue) rescue '' %>&details=<%= URI.encode(@event.note ) rescue '' %>" target="_blank" rel="nofollow" class="btn btn-dark">
                  Add To Calendar
                </a>

              </div>

            </div>

          </div>
          <div class="col-md-8">
            <span class="category"><%= @event.category.title %></span>
            <h1 class="article-title"><%= @event.title %></h1>
            <hr>

            <div class="article">
              <%= @event.content.html_safe %>
            </div>
            <hr>
            <%= @event.map.html_safe rescue ''%>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 section-event">
      <div id="related">
        <div class="heading-section d-md-flex justify-content-between align-items-center text-sm-center">
          <h3>OTHER UPCOMING EVENTS</h3>
        </div>

        <div class="row">

          <% @other_event.each do |x| %>
          <div class="col">
            <div class="card">
              <a href="<%= dtl_event_path(x.slug) %>">
                <img class="card-img-top" src="https://nowjakarta.co.id<%= x.image.url(:square) %>" alt="<%= x.title %>" class="w-100">
                <div class="card-body first-article" style="background-color:#101010">
                  <span class="category text-white"><%= x.category.title %></span>
                  <h3 class="title-article text-white"><%= x.title %></h3>
                  <% if x.start_date == x.end_date %>
                  <p class="card-text text-white"><%= x.start_date.strftime(" %e %B %Y") rescue "-" %></p>
                  <% else %>
                  <p class="card-text text-white"><%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %></p>
                  <% end %>
                </div>
              </a>
            </div>
          </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
