<div class="col-md-3 ">
  <span class="category" style="margin-bottom:5px;display:block;">
    <a href="<%= sub_category_url(article) %>"><%= article.category.title %></a>
  </span>
  <a href="<%= article_url(article) %>" class="">
    <img src="<%= article.image.url(:regular) %>" alt="<%= article.title %>" class="w-100 mb-3">
    <h3 class="title-article mb-1" ><%= article.title %></h3>
    <p class="min-desc">
      <%= article.meta_des %>
    </p>
  </a>
</div>
