  <% @all.each_with_index do |x, i| %>
  <% if x.editor_pick == true or x.featured == true or Category.magazine_issue.map(&:id).include?(x.category_id) %>
  <div class="p-3 pb-0 pt-0">
    <a href="<%= article_url(x) %>">
      <img src="<%= x.image %>" class="w-100 mb-3" alt=" <%= x.category.title %>">
    </a>
    <h5 class="category">
      <%= article_status(x) %> | <a href="<%= sub_category_url(x) %>"> <%= x.category.title %></a>
    </h5>
    <a href="<%= article_url(x) %>">
      <h2 class="title-article" style="font-size:40px;">  <%= x.title %></h2>
      <div class="">
        <p class="min-desc">
          <%= x.meta_des %>
        </p>
      </div>
    </a>

  </div>
  <% else %>
  <a href="<%= article_url(x) %>" class="">
    <div class="p-3 pb-0 pt-0">
      <div class="row mb-2 align-items-center">
        <div class="col-md-6">
          <img src="<%= x.image.url(:featured) %>" alt="<%= x.title %>" class="w-100">
        </div>
        <div class="col-md-6">
          <span class="category"><%= x.category.title %> |  <% if x.publish <  Date.today-3.days %> <%= x.publish.strftime("%e %B %Y")%> <%else%> <%=  time_ago_in_words(x.publish) %> <%end%></span>
          <h3 class="title-article" style="font-size:30px"><%= x.title %></h3>
          <p class="min-desc">
            <%= x.meta_des %>
          </p>
        </div>
      </div>
    </div>
  </a>
  <% end %>
<% end %>
