<section>
  <div class="container">
    <div class="">
      <div class="heading-section  ">
        <h1>ABOUT US</h1>
      </div>
      <p class="text-left">
        NOW! Jakarta started publishing in January 2009 with a clear mission: to support the international community in Jakarta with positive, insightful, experienced and well-written stories about life in the capital.  <br><br>

        We understood that we were not hard news nor glossy “lifestyle” magazine, but something unique, a blend of culture and good living, of community and education, of eating, drinking, having fun and doing sport. We take no political stance or support any party, but champion good governance and improvements to the living conditions and standards of the people. We try to introduce culture at every opportunity and support all the charities that we can. We hope that you can join us in this constant challenge to uphold standards, do “the right thing” wherever possible – but still have fun!

      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="">
      <div class="heading-section  ">
        <h2>OUR STORYTELLERS</h2>
      </div>
      <p class="text-left mb-5">
        NOW! Jakarta has a diverse range of full-time writers and contributors whose expertise and excellence are what make our media platform something to be proud of. We wouldn’t be who we are without those who share their stories through us.

      </p>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/alistair.jpg') %>" alt="Alistair Speirs" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Alistair Speirs, Founder</h3>
              <p class="font-size:14px;">
                Alistair has been in the publishing, advertising and PR business for 25 years. He started NOW! Magazines as the region’s preferred community magazine.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/alistair-speirs"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="https://nowjakarta.co.id/uploads/writer/image/7/Refa_Koetin.JPG" alt="Refa Koetin" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Refa Koetin</h3>
              <p class="font-size:14px;">
                A full-time, dream-powered writer constantly defeating his nemesis, the notorious writer's block, Refa handles any and all editorial affairs within the company, including NOW! Jakarta publication and other projects. When not writing in his second home (the office), he can be found roaming the city hunting happy hours or exploring its diverse culinary scene. He is also a sci-fi addict, ex-gamer, fitness junkie, beer lover and burger fan, among other things. Hit up +62 856 188 0336 for nerd talk or happy hour info.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/refa-koetin"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/eva.jpg') %>" alt="Asyariefah, R.A." class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Asyariefah, R.A.</h3>
              <p class="font-size:14px;">
                Born into a nature-loving family, Asyariefah enjoys the outdoors. Now! Jakarta provides her favourite collection of narratives with a sense of helping establish her identity. Some of her key areas of expertise include human interest, arts & culture, travel and features.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/asyariefah-r-a"><u><strong>Read her writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/sari.jpg') %>" alt="Sari Widiati" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Sari Widiati</h3>
              <p class="font-size:14px;">
                Sari has been an arts and culture enthusiast for many years. She has written extensively on the arts, travel, and social issues as Features Writer at NOW! Jakarta.

              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/sari-widiati"><u><strong>Read her writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/rintang.jpg') %>" alt="Rintang Azhar" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Rintang Azhar</h3>
              <p class="font-size:14px;">
                Rintang has experience in hard news and lifestyle journalism. He specialises in art, design, culture, fashion, digital, and environmental issues.

              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/rintang-azhar"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/david-metcalf.jpg') %>" alt="David Metcalf" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">David Metcalf</h3>
              <p class="font-size:14px;">
                David Metcalf is a resident of Bali, an author, film producer, professional photographer and specialises in taking people on cultural/photography tours. He supports educational, literacy projects in Kalimantan and creates large indigenous gatherings in Indonesia <a href="http://www.davidmetcalfphotography.com"><u> www.davidmetcalfphotography.com</u></a>.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/david-metcalf"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/sussanna-tjokro.jpg') %>" alt="Susanna Tjokro" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Susanna Tjokro</h3>
              <p class="font-size:14px;">
                Susanna has written articles for various magazines and newspapers. She writes about up and coming retail  brands in her column “Made in Indonesia” at NOW! Jakarta.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/susanna-tjokro"><u><strong>Read her writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/stephanie-brookes.jpg') %>" alt="Stephanie Brookes" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Stephanie Brookes</h3>
              <p class="font-size:14px;">
                Stephanie is an author and travel writer who lives in Bali and covers the cultural Hidden Heritage section monthly.  Traveling to far reaches of Indonesia, Stephanie finds stories of myths and legends and covers cultural festivals.  From Aceh to Timor her stories feature remote places across the archipelago. See more of her stories on <a href="http://www.travelwriter.ws"><u>www.travelwriter.ws</u></a>
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/stephanie-brookes"><u><strong>Read her writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/erza-st.jpg') %>" alt="Erza S.T." class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Erza S.T.</h3>
              <p class="font-size:14px;">
                Erza S.T. is the founder of Indonesia Opera Society and has helped contribute to the city's classical music scene. An avid traveller, he writes about his forays around the world for NOW! Jakarta's travel section.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/erza-s-t"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/amir-sidharta.jpg') %>" alt="Amir Sidharta" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">Amir Sidharta</h3>
              <p class="font-size:14px;">
                Amir Sidharta leads Sidharta Auctioneer, an auction house specialising in fine arts that he founded in 2005. He is also co-founder and chairman of  Yayasan Mitra Museum Jakarta. A writer and photographer, he has published several books and his work has appeared across several media outlets.
              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/amir-sidharta"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="row">
            <div class="col-md-3">
              <img src="<%= asset_url('writers/john-paul.jpg') %>" alt="John Paul" class="w-100 rounded-circle">
            </div>
            <div class="col-md-9 text-left">
              <h3 class="author-name">John Paul</h3>
              <p class="font-size:14px;">
                John Paul studied music in Germany and Italy. He founded an annual charity concert in 2011, helping over 200 children stay in and or return to school.

              </p>
              <div class="d-block mb-3">
                <a href="http://nowjakarta.co.id/writers/john-paul"><u><strong>Read his writings</u></strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
