<section>
  <div class="container">
    <div class="heading-section border-0">
      <h1>ADVERTISE</h1>
    </div>
    <hr>
    <div class="mt-5">

    </div>
    <div class="row">
      <div class="col-md-5">
        <img src="<%= asset_url('now_jakarta_go_digital.png') %>" alt="now jakarta digital" class="w-100">
        <div class=" text-center">
          <a href="<%= asset_url('MANIFESTO NJ 2018-2019.pdf') %>" class="btn btn-dark">Download Our Manifesto</a>
        </div>
      </div>
      <div class="col-md-7">

        <form class="new_advertise" id="new_advertise" action="/advertises" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="l2aKDVsX3S5H10SY4CDbHiJIcp+T07YBnKbdCxbSp16lt9jab3GJ1GpANbWPXlKm79boiRzilHeQJoOb+GAVWg==">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="fullname">Full Name <span style="color:red;">*</span></label>
                <input class="form-control required" placeholder="Enter Full Name" required="required" type="text" name="advertise[fullname]" id="advertise_fullname">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="email">Email <span style="color:red;">*</span></label>
                <input class="form-control required" placeholder="Enter Your Email " required="required" type="email" name="advertise[email]" id="advertise_email">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="phone">Mobile Phone <span style="color:red;">*</span></label>
                <input class="form-control required" placeholder="Enter Your Phone " required="required" type="tel" name="advertise[phone]" id="advertise_phone">
              </div>
            </div>
            <div class="col-md-12">
              <label class="upper" for="ads">Advertise To <span style="color:red;">*</span> :</label><br class="visible-xs">
              <div class="custom-control custom-radio">
                <input type="radio" id="digital" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="digital">Digital</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="print" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="print">Print</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id=">e-newsletter" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for=">e-newsletter">E-Newsletter</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="">Message / Question</label>
                <textarea class="form-control" row="3" name="advertise[massage]" id="advertise_massage"></textarea>
              </div>
              <button name="button" type="submit" class="btn btn-dark"> Submit
              </button>
            </div>



          </div>
        </form>
      </div>
    </div>
  </div>
</section>
