<!-- <section>
  <div class="container">
    <div id="map" style="height:500px;">

    </div>
    <hr>
    <div class="title">
      <h1 class="article-title text-center">CITY GUIDES by NOW! JAKARTA</h1>
      <h5 class="category text-center">
        NOW! Jakarta is the ultimate city guide for those who want to explore the best restaurants, cafes, hotels and landmarks in Jakarta.
      </h5>
      <br>
      <div class="text-center">
        <a href="#" style="text-transform:uppercase">West Jakarta</a> / <a href="#" style="text-transform:uppercase">South Jakarta</a> / <a href="#" style="text-transform:uppercase">central Jakarta</a> / <a href="#" style="text-transform:uppercase">North Jakarta</a> /<a href="#" style="text-transform:uppercase">East Jakarta</a>
      </div>
      <hr>
    </div>
    <div class="row">
      <% s = ["Kemang", "Senopati", "Sabang"] %>
      <% @articles.limit(3).each do |article| %>
      <div class="col-md-3 ">
        <span class="category" style="margin-bottom:5px;display:block;">
          <a href="<%= sub_category_url(article) %>"><%= article.category.title %></a>
        </span>
        <a href="<%= article_url(article) %>" class="">
          <img src="<%= article.image.url(:regular) %>" alt="<%= article.title %>" class="w-100 mb-3">
          <h4 class="title-article mb-1" ><%= s.sample %></h4>
          <p class="min-desc">
            <%= article.meta_des %>
          </p>
        </a>
      </div>
      <% end %>

    </div>

  </div>

</section>

<script type="text/javascript">
function initMap() {
  // Styles a map in night mode.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -6.174399, lng: 106.827285},
    zoom: 13,
    styles: [
      {
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f5f5f5"
          }
        ]
      },
      {
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#616161"
          }
        ]
      },
      {
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#f5f5f5"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#bdbdbd"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#eeeeee"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#757575"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#e5e5e5"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9e9e9e"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#757575"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dadada"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#616161"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9e9e9e"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#e5e5e5"
          }
        ]
      },
      {
        "featureType": "transit.station",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#eeeeee"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#c9c9c9"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#9eb7da"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9e9e9e"
          }
        ]
      }
    ]
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBKV62IJR1BQglE4uSJBsVII47GHjzXBY&callback=initMap"
async defer></script> -->


<section>
  <div class="text-center">
      <h1>COMING SOON</h1>
  </div>
</section>
