<section>
  <div class="container">
    <div class="heading-section border-0">
      <h1>CONTACT US</h1>
    </div>
    <hr>
    <div class="mt-5">

    </div>
    <div class="row">

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.888645930026!2d106.81371081463841!3d-6.27836799545579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f18acf17d043%3A0xeebe5d7cc19439f4!2sPT.+Phoenix+Communications!5e0!3m2!1sen!2sid!4v1552036556945" width="100%" height="680" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
      <div class="col-md-6">
        <h2 style="font-size:25px;font-weight:900;font-family:'Cormorant', serif">HEAD OFFICE</h2>
        <p>
          Jl. Benda Raya No. 98 A-B, Cilandak, Jakarta 12560 - Indonesia  <br>
          <div class="row">
            <div class="col-2">
              <b>Phone</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              +6221 781 3212
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <b>Fax</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              +6221 781 2476
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <b>Inquiry</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              <u><a href="mailto:nowjakarta@phoenix.co.id"></a>nowjakarta@phoenix.co.id</u>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <b>Advertise</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              <u><a href="mailto:sales@phoenix.co.id"></a>sales@phoenix.co.id</u>
            </div>
          </div>

        </p>
        <h3 style="font-size:25px;font-weight:900;font-family:'Cormorant', serif;text-transform:uppercase">Send Message</h3>
        <hr>
        <%= form_for @contact do |f| %>
          <p><span style="color:red;">*</span> Input Required</p>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="fullname">Full Name <span style="color:red;">*</span></label>
                <%= f.text_field :fullname, :class => 'form-control required', placeholder:"Enter Full Name" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="email">Email <span style="color:red;">*</span></label>
                <%= f.email_field :email, :class => 'form-control required', placeholder:"Enter Your E-Mail" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="subject">Subject <span style="color:red;">*</span></label>
                <select class="custom-select form-control required" required name="contact[subject]" style="">
                  <option value="">Select</option>
                  <option value="Advertise">Advertise</option>
                  <option value="Collaboration and Partnership">Collaboration and Partnership</option>
                  <option value="Writing">Writing</option>
                  <option value="Career">Career</option>
                  <option value="General">General</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="">Message/Question <span style="color:red;">*</span></label>
                <textarea class="form-control required" row="3" name="contact[message]" id="contact_message" required></textarea>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <%= recaptcha_tags %>
          </div>
          <input type="submit"  value="Submit" class="btn btn-dark d-block">
        <% end %>
      </div>
    </div>
  </div>
</section>
