<section>
  <div class="container">
    <h1 class="article-title text-center">Kota Tua</h1>
    <h5 class="category text-center">
      City Guides by NOW! JAKARTA
    </h5>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div id="map" style="height:283px;">
        </div>
      </div>
      <div class="col-md-6">
        <img src="<%= asset_url('kota-tua.jpg') %>" alt="" class="w-100">
      </div>
    </div>
    <div class="mt-3">
      <div class="row justify-content-center">
        <div class="col-md-10 ">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>

    </div>
    <div id="related">
      <div class="heading-section d-md-flex justify-content-between align-items-center text-sm-center">
        <h3>More About Kota Tua</h3>
      </div>
      <div class="row rw-article">
        <div class="col-md card-article">
          <a href="/main-theme/potsdam-a-city-fit-for-emperors-and-kings" class="">
            <span class="category">TRAVEL AND HOLIDAY</span>
            <img src="/uploads/article/image/1427/regular_SPSG_PotsdamSchlossSanssouci_HansBach_F0028349.jpg" alt="Potsdam: A City Fit for Emperors and Kings" class="w-100">
            <h4 class="title-article">Potsdam: A City Fit for Emperors and Kings</h4>
          </a>
        </div>
        <div class="col-md card-article">
          <a href="/main-theme/at-torajan-funerals-grieving-is-impolite" class="">
            <span class="category">TRAVEL AND HOLIDAY</span>
            <img src="/uploads/article/image/1433/regular_s6__1_-tile.jpg" alt="At&nbsp;Torajan Funerals, Grieving is Impolite" class="w-100">
            <h4 class="title-article">At&nbsp;Torajan Funerals, Grieving is Impolite</h4>
          </a>
        </div>
        <div class="col-md card-article">
          <a href="/main-theme/islands-along-indonesia-s-border-offer-stunning-views-and-environmental-conservation-acts" class="">
            <span class="category">TRAVEL AND HOLIDAY</span>
            <img src="/uploads/article/image/1434/regular_iStock-968282014.jpg" alt="Islands Along Indonesia's Border Offer Stunning Views, And Encourage " class="w-100">
            <h4 class="title-article">Islands Along Indonesia's Border Offer Stunning Views, And Encourage </h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
function initMap() {
  // Styles a map in night mode.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -6.134902, lng: 106.813698},
    zoom: 18,
    styles: [
      {
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#f5f5f5"
          }
        ]
      },
      {
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#616161"
          }
        ]
      },
      {
        "elementType": "labels.text.stroke",
        "stylers": [
          {
            "color": "#f5f5f5"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#bdbdbd"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#eeeeee"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#757575"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#e5e5e5"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9e9e9e"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#757575"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#dadada"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#616161"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9e9e9e"
          }
        ]
      },
      {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#e5e5e5"
          }
        ]
      },
      {
        "featureType": "transit.station",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#eeeeee"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
          {
            "color": "#c9c9c9"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#9eb7da"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9e9e9e"
          }
        ]
      }
    ]
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBKV62IJR1BQglE4uSJBsVII47GHjzXBY&callback=initMap"
async defer></script>
