<section id="events">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="heading-section d-flex justify-content-between no-border mb-0">
          <h1 class="mb-0 page-title"><a href="<%= all_event_path %>">EVENTS</a></h1>
        </div>
      </div>
      <div class="col-md-10 p-0">
        <ul class="nav nav-event-category d-none d-md-block">
          <%@months.map{ |date| date.start_date.strftime("%B") }.uniq.each do |x|  %>
          <li class="nav-item ">
            <a class="nav-link pl-0 active" style="text-transform:uppercase" href="<%= request.path %>?month=<%= x %>"><%= x %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="sticky-top">
          <nav class="nav flex-column month-list d-none d-md-block">
            <% @categories.each do |x| %>
            <% if x.slug == 'bazaar-festival' %>
            <a class="nav-link " href="/events/bazaar-and-festival"><%= x.title %></a>
            <% elsif x.slug == 'education-853cabb7-3568-4c3f-b79e-1b578a14e672' %>
            <a class="nav-link " href="/events/education"><%= x.title %></a>
            <% elsif x.slug == 'festive-40b19b1d-580e-494b-bec5-a3840a40e7a1' %>
            <a class="nav-link " href="/events/festive"><%= x.title %></a>
            <% else %>
            <a class="nav-link " href="/events/<%= x.slug %>"><%= x.title %></a>
            <% end %>
            <% end %>

          </nav>
        </div>
        <div class="d-md-none d-sm-block w-100">
          <form action="/events" method="get" id=filter-category>
            <div class="row">
              <div class="col">
                <select id="selectMonth" class="form-control" name="month">
                  <option selected>Choose Month</option>
                  <% @months.map{ |date| date.start_date.strftime("%B") }.uniq.each do |x| %>
                  <option value="<%= x %>"><%= x %></option>
                  <% end %>
                </select>
              </div>
              <div class="col">
                <select class="form-control" onchange="location = this.value;">
                  <option selected>Choose Category</option>

                  <% @categories.each do |x| %>
                  <% if x.slug == 'bazaar-festival' %>
                  <option value="/events/bazaar-and-festival"><%= x.title %></option>
                  <% elsif x.slug == 'education-853cabb7-3568-4c3f-b79e-1b578a14e672' %>
                  <option value="/events/education"><%= x.title %></option>
                  <% elsif x.slug == 'festive-40b19b1d-580e-494b-bec5-a3840a40e7a1' %>
                  <option value="/events/festive"><%= x.title %></option>
                  <% else %>
                  <option value="/events/<%= x.slug %>"><%= x.title %></option>
                  <% end %>
                  <% end %>
                </select>
              </div>
            </div>
          </form>
          <hr>
        </div>
      </div>
      <div class="col-md-10 pl-md-0">
        <% if @events.empty? %>
        <div class="text-center">
          <h1>- NO UPCOMING EVENTS -</h1>
        </div>
        <% else %>
        <p><strong>Since most events are being wisely postponed or cancelled please check with each venue to make sure the event is still proceeding. We strongly encourage everyone to <strong>#stayathome</strong>, but that doesn't mean being any less productive. In fact, there are many positive things to do from the safety of your own home. We&rsquo;ve put together some awesome ideas of how you can stay connected and active. </strong></p>
        <hr>
        <div class="card-columns">
          <% @events.each do |x| %>

          <!-- <div class="card"> -->
            <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
            <!-- Display Horizontal Event -->
            <!-- <ins class="adsbygoogle"
            style="display:inline-block;width:1000px;height:100px"
            data-ad-client="ca-pub-4080030071889451"
            data-ad-slot="3841222950"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script> -->
          <!-- </div> -->
          <div class="card">
            <a href="<%= dtl_event_path(x.slug) %>">
              <img class="card-img-top" src="<%= x.image %>" alt="<%= x.title %>" class="w-100">
              <div class="card-body" style="background-color:#101010">
                <span class="category text-white"><%= x.category.title %></span>
                <h3 class="title-article text-white"><%= x.title %></h3>
                <div class="card-text">
                  <p class="text-white">
                    <% if x.start_date == x.end_date %>
                    <%= x.start_date.strftime(" %e %B %Y") rescue "-" %>
                    <% else %>
                    <% if x.start_date.strftime("%B") == x.end_date.strftime("%B")   %>
                    <%= x.start_date.strftime("%e") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                    <% else %>
                    <%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                    <% end %>
                    <% end %>
                  </p>
                  <!-- <hr style="border-color:white;">  -->
                  <div class="row">
                    <div class="col-1 pr-0">
                      <i class="fa fa-map-marker text-light" aria-hidden="true"></i>
                    </div>
                    <div class="col pl-1">
                      <span class="text-light"><%= x.vanue %></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
