<div class="container" >
  <div class="text-center">
    <h2 style="font-size:27px;font-weight:300;margin:40px 0;">
      An Insider’s Guide to Life in the Capital.
      <a href="<%= subscribe_now_path %>" style="color:#d2242a !important;    font-family: 'Cormorant', serif;"><u>Subscribe NOW!</u></a>
    </h2>
  </div>
</div>
<!-- slider  -->
<div class="container">
  <div class="owl-carousel owl-theme home-slider ">
    <% @slider_homepage.all.order(index: :asc).each do |x| %>
    <div class="item">
      <a href="<%= slider_article_url(x) %>">
        <div class=" text-center position-relative m-0">
          <img src="<%= x.image.url(:desktop) %>" class="w-100" alt="<%= x.title %>">
          <div class="caption">
            <% if  x.title.nil? ||  x.title == ""  %>
            <h3 class="title-article m-4" style="font-size:45px;" ><%= x.article.title %></h3>
            <% else %>
            <h3 class="title-article m-4" style="font-size:45px;" ><%= x.title %></h3>
            <% end %>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>

<%= home_page_banner_long("hp3") %>

<!-- featured -->
<section style="margin-top:0;">
  <div class="container">
    <hr>
    <div class="row mt-5 mb-5 justify-content-between">
      <div class="col-md-3  m-sm-10">
        <div class="" style="margin-bottom:13.5px;">
          <div class="">
            <a href="<%= article_url(@soapbox) %>">
              <div class="mb-3" style="background-image:url('<%= @soapbox.image %>');height:255px;background-size:cover;background-position:center center;">
              </div>
            </a>
            <span class="category">
              <a href="<%= sub_category_url(@soapbox) %>">
                SOAPBOX: PUBLISHER'S PERSPECTIVE
              </a>
            </span>
            <a href="<%= article_url(@soapbox) %>">
              <h3 class="title-article"><%= @soapbox.title %></h3>
            </a>
          </div>
        </div>
        <div class="" style="margin-bottom:13.5px;">
          <div class="">
            <a href="<%= article_url(@now_people) %>">
              <div class="mb-3" style="background-image:url('<%= @now_people.image %>');height:255px;background-size:cover;background-position:center center;">
              </div>
            </a>
            <span class="category">
              <a href="<%= sub_category_url(@now_people) %>">
                NOW! PEOPLE
              </a>
            </span>
            <a href="<%= article_url(@now_people) %>">
              <h3 class="title-article"><%= @now_people.title %></h3>
            </a>
          </div>

        </div>

      </div>
      <div class="col-md-5 m-sm-10 pr-0 pl-0" style="flex: 0 0 45%; max-width: 45%;">
        <div class="">
          <a href="<%= article_url(@featured) %>">
            <img src="<%= @featured.image.url(:featured) %>" class="w-100 mb-3" alt=" <%= @featured.category.title %>">
          </a>
          <span class="category">
            FEATURED | <a href="<%= sub_category_url(@featured) %>"> <%= @featured.category.title %></a>
          </span>
          <a href="<%= article_url(@featured) %>">
            <h3 class="title-article" style="font-size:40px;">  <%= @featured.title %></h3>
            <div class="">
              <p class="min-desc">
                <%= @featured.meta_des %>
              </p>
            </div>
          </a>
          <a href="<%= writer_path(@featured.writer.slug) %>">
            <span class="writer"><%= @featured.writer.fullname %></span>
          </a>
          <hr>
          <a href="<%= sub_category_url(@feature_second) %>">
            <span class="category">
              <%= @feature_second.category.title %>
            </span>
          </a>
          <a href="<%= article_url(@feature_second) %>">
            <h3 class="title-article" style="font-size:30px;">  <%= @feature_second.title %></h3>
            <div class="">
              <p class="min-desc">
                <%= @feature_second.meta_des %>
              </p>
            </div>
          </a>
          <a href="<%= writer_path(@feature_second.writer.slug) %>">
            <span class="writer"><%= @feature_second.writer.fullname %></span>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <div class="" style="margin-bottom:13.5px;">
            <a href="<%= article_url(@artnculture) %>">
              <div class="">
                <img src="<%= @artnculture.image %>" alt="<%= @artnculture.title %>" class="w-100 mb-3">
                <span class="category">
                  <%= @artnculture.category.title %>
                </span>
                <h4 class="title-article"><%= @artnculture.title %></h4>
              </a>
            </div>
          </div>
          <% if Banner.where(position: "hp1").where(status: 'active').first.nil? %>
          <hr>
          <div class="mt-3 mb-3 list-section" style="height: 344px;">
            <% Article.art_and_culture.where.not(id: @artnculture.id).limit(6).each do |x| %>
            <a href="<%= article_url(x) %>">
              <h3 class="title-article mb-1" style="font-size:18px;"><%= x.title %></h3>
            </a>
            <% end %>
          </div>
          <% else %>
          <div class="mb-4" style="">
            <%= home_page_banner("hp1") %>
          </div>
          <% end %>

          <div class="d-block">
            <%= home_page_banner("hp2") %>
          </div>
        </div>

      </div>
    </div>

  </section>

  <%= home_page_banner_long("hp4") %>

  <!-- latest article -->
  <section>
    <div class="container">
      <div class="heading-section d-flex justify-content-between align-items-center ">
        <h2><a href="<%= latest_path %>">LATEST STORIES</a></h2>
      </div>
      <div class="row ">
        <%= render :partial => "article", :collection => @latest.limit(8) %>
      </div>
      <div class="d-md-none d-sm-block text-center">
        <a href="#" class="btn btn-dark w-75">MORE</a>
      </div>
      <div class="d-md-block d-none text-center">
        <a href="<%= latest_path %>" class="btn btn-dark w-50">MORE</a>
      </div>
    </div>
  </section>
  <!-- latest article -->

  <%= home_page_banner_long("hp6") %>
  <section>
    <div class="container">
      <div class="">
        <div class="row">
          <div class="col-md-5 pr-0 " style="">
            <div class="p-5 text-white d-flex align-items-center sm-hgt-sldr" style="background: #101010;height:470px">
              <div class="align-items-center">
                <h2 style="font-family: 'Cormorant', serif;font-weight:900"><a  class="text-white"  href="<%= dtl_sub_category_path(@magazine_issue.parent.slug, @magazine_issue.slug) %>"><%= @magazine_issue.title %></a></h2>
                <p style="font-size:13px;" class="mt-3 mb-3"><%= @magazine_issue.desc.html_safe %></p>
                <div class="">
                  <!--    <a href="<%= dtl_sub_category_path(@magazine_issue.parent.slug,  @magazine_issue.slug) %>"class="btn btn-outline-light">READ MORE</a> %> -->
                  <a href="<%= @magazine_issue.emag_link rescue "-" %>" target="_blank" class="btn btn-light">READ OUR E-MAGAZINE</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 pl-0 sm-hgt-sldr" >
            <div id="magazine-issue" class="carousel slide" data-ride="carousel" style="background-color: #101010;height: 100%;">
              <ol class="carousel-indicators">
                <% @slider_magazine_issue.each_with_index do |x,i| %>
                <li data-target="#magazine-issue" data-slide-to="<%= i %>" class="<%= slider_active(i) %>"></li>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% @slider_magazine_issue.each_with_index do |x,i| %>
                <div class="carousel-item <%= slider_active(i) %>">
                  <img src="<%= x.image %>" alt="<%= x.title %>" class="w-100">
                </div>
                <% end %>
              </div>
              <a class="carousel-control-prev opacity-0" href="#magazine-issue " role="button" data-slide="prev" s>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next opacity-0" href="#magazine-issue" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-0">
    <div class="container">
      <hr class="pb-3">
      <div class="row align-items-center">
        <div class="col-5">
          <iframe src="https://open.spotify.com/embed-podcast/show/4MEUBrD04Lw6meq7poWwm6" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-6">
          <div class=" ">
            <h2 style="font-weight:900;"><a href="https://open.spotify.com/show/4MEUBrD04Lw6meq7poWwm6?si=w2IPEz8dRQalWETlUmnmwg" target="_blank">NOW! JAKARTA PODCAST</a></h2>
          </div>
          <p>A new way to enjoy NOW! Jakarta contents, available on your favourite podcast listening platforms.Hear the voices of NOW! Jakarta Publisher Alistair Speirs and NOW! Jakarta Managing Editor Refa Koetin and listen to what they have to say about life in Jakarta.</p>
        </div>
      </div>
    </div>
  </section>

  <%= home_page_banner_long("hp5") %>
    <!-- event -->
  <% if @events.present? %>
    <section style="margin-top:16px;">
      <div class="container section-event">
        <div class="d-block">
          <hr>
        </div>
        <div class="row align-items-center ">
          <div class="col-md-2 text-md-right">
            <h2><a href="<%= all_event_path %>">EVENTS</a></h2>
            <div class="d-md-block d-none">
              <a href="<%= all_event_path %>" class="btn btn-dark ">MORE</a>
            </div>
          </div>
          <div class="col-md-10">
            <div class="pl-2 pr-2">
              <div class="owl-carousel owl-theme event-slider">
                <% @events.each do |x| %>
                <div class="card">
                  <a href="<%= dtl_event_path(x.slug) %>">
                    <img class="card-img-top" src="<%= x.image.url(:square) %>" alt="<%= x.title %>" class="w-100">
                    <div class="card-body first-article" style="background-color:#101010">
                      <span class="category text-white"><%= x.category.title %></span>
                      <h3 class="title-article text-white"><%= x.title %></h3>
                      <div class="card-text">
                        <p class="text-white">
                          <% if x.start_date == x.end_date %>
                          <%= x.start_date.strftime(" %e %B %Y") rescue "-" %>
                          <% else %>
                          <% if x.start_date.strftime("%B") == x.end_date.strftime("%B")   %>
                          <%= x.start_date.strftime("%e") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                          <% else %>
                          <%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                          <% end %>
                          <% end %>
                        </p>
                        <!-- <hr style="border-color:white;">  -->
                        <div class="row">
                          <div class="col-1 pr-0">
                            <i class="fa fa-map-marker text-light" aria-hidden="true"></i>
                          </div>
                          <div class="col ">
                            <span class="text-light"><%= x.vanue %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="d-md-none d-sm-block text-center">
          <a href="#" class="btn btn-dark w-75">MORE</a>
        </div>
        <div class="d-block">
          <hr>
        </div>
      </div>
    </section>
    <!-- event -->
  <% end %>

<%= home_page_banner_long("hp7") %>
<!-- editors_pick -->
<section id="editor_pick" style="margin-top:20px">
  <h2 style="color: #ff010100;height: 0;width: 0;margin: 0; padding: 0;font-size: 0;" >Editor's Pick</h2>
  <div class="container">
    <hr style="padding-top:20px">
    <div class="row">
      <div class="col-md-6 xx">
        <a href="<%= article_url(@editors_pick) %>">
          <img src="<%= @editors_pick.image.url(:featured) %>" alt="<%= @editors_pick.title %>" class="w-100">
        </a>
      </div>
      <div class="col-md-6 xx" style="display:flex;align-items:center">
        <div class="" style="">
          <span class="category">EDITOR'S PICK |<a href="<%= sub_category_url(@editors_pick) %>"> <%= @editors_pick.category.title %> </a></span>
          <div class="post-title">
            <a href="<%= article_url(@editors_pick) %>">
              <h3 class="title-article"><%= @editors_pick.title %></h3>
              <p class="min-desc">
                <%= @editors_pick.meta_des %>
              </p>
            </a>
          </div>
          <div class="">
            <span class="writer">
              <a href="<%= article_url(@editors_pick) %>">
                <%= @editors_pick.writer.fullname  %>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top:30px;">
  </div>
</section>
<!-- editors_pick -->
<%= home_page_banner_long("hp8l") %>
<!-- dine and travel -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <!-- Dine -->
          <div class="col-md-6">
            <div class="heading-section d-flex justify-content-between align-items-center ">
              <h2><a href="<%= dining_path %>/dine">DINE</a></h2>
            </div>
            <div class="mt-3 mb-3 list-section">
              <%  @dining.each_with_index do |x,i| %>
              <% if i == 0 %>
              <a href="<%= article_url(x) %>" class="">
                <div class="first-article">
                  <img src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
                  <h3 class="title-article mb-1" ><%= x.title %></h3>
                  <p class="min-desc">
                    <%= x.meta_des %>
                  </p>
                </div>
              </a>
              <hr>
              <% else %>
              <a href="<%= article_url(x) %>">
                <h3 class="title-article mb-1" style="font-size:18px;" ><%= x.title %></h3>
              </a>
              <% end %>
              <% end %>
            </div>
            <div class="text-center">
              <a href="<%= dining_path %>/dine" class="btn btn-dark w-50">MORE</a>
            </div>
          </div>
          <!-- travel -->
          <div class="col-md-6">
            <div class="heading-section d-flex justify-content-between align-items-center ">
              <h2><a href="/city-guide/explore-jakarta">Explore Jakarta</a></h2>
            </div>
            <div class="mt-3 mb-3 list-section">
              <%  @travel.each_with_index do |x,i| %>
              <% if i == 0 %>
              <a href="<%= article_url(x) %>" class="">
                <div class="first-article">
                  <img src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
                  <h3 class="title-article mb-1" ><%= x.title %></h3>
                  <p class="min-desc">
                    <%= x.meta_des %>
                  </p>
                </div>
              </a>
              <hr>
              <% else %>
              <a href="<%= article_url(x) %>">
                <h3 class="title-article mb-1" style="font-size:18px;" ><%= x.title %></h3>
              </a>
              <% end %>
              <% end %>
            </div>
            <div class="text-center">
              <a href="/city-guide/explore-jakarta" class="btn btn-dark w-50">MORE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          <%= home_page_banner("hp8") %>
        </div>
        <div class="mb-3">
          <%= home_page_banner("hp9") %>
        </div>
        <div class="mb-3">
          <%= home_page_banner("hp10") %>
        </div>
        <div class="mb-3">
          <%= home_page_banner("hp11") %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- dine and travel -->
<%= home_page_banner_long("hp9l") %>
<section class="section-video">
  <div class="container">
    <div class="d-block">
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="d-md-none d-sm-block">
          <div class="heading-section no-border">
            <h2>Videos</h2>
          </div>
        </div>
        <div class="video_case">
          <iframe width="100%" height="470" src="https://www.youtube.com/embed/<%= YoutubeID.from(@video.first.youtube_url) %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4 d-md-block d-none">
        <div class="heading-section no-border">
          <h2><a href="https://www.youtube.com/channel/UCnoLtawmE16iU-zXKtoMARQ">Videos</a></h2>
        </div>
        <div class="list-video"  style="height:100%;max-height: 414px;overflow-y: scroll;">
          <% @video.all.each_with_index do |x, i| %>
            <div class="vid-thumb">
              <a href="https://www.youtube.com/embed/<%= YoutubeID.from(x.youtube_url) %>" class="video-<%= i %>" title="" >
                <img src="https://img.youtube.com/vi/<%= YoutubeID.from(x.youtube_url) %>/maxresdefault.jpg" alt="" class="w-100"/>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-block">
      <hr>
    </div>
  </div>
</section>
<%= home_page_banner_long("hp10l") %>
<!-- DINING article -->
<section>
  <div class="container">
    <div class="heading-section d-flex justify-content-between align-items-center ">
      <h2><a href="<%= deals_path %>">SPECIAL OFFERS</a></h2>
      <div class="d-md-block d-none">
        <a href="<%= deals_path %>" class="btn btn-dark">MORE</a>
      </div>
    </div>
    <div class="row ">
      <%= render :partial => "article", :collection => @special_offers.limit(4) %>
    </div>
  </div>
</section>
<!-- DINING article -->
<section>
  <div class="container">
    <div class="heading-section text-center mb-5">
      <h2><a href="<%= about_path %>">Our Contributors</a></h2>
    </div>
    <div class="owl-carousel contributor-slider">
      <% @contributor.each do |x| %>
      <div class="item text-center">
        <a href="<%= writer_path(x.id) %>">
          <div class="contributor-image mb-3">
            <img src="<%= x.image %>" alt="<%= x.fullname %>" class="w-50 d-block m-auto rounded-circle">
          </div>
          <span class="author-name" style="font-size:18px; color: gray"><%= x.fullname %></span>
        </a>
        <a href="<%= article_url(x.articles.first) %>" class="">
          <h3 class="title-article" style="font-size:25px"><%= x.articles.first.title  rescue "-"%></h3>
        </a>
        <a href="<%= writer_path(x.slug) %>" style="font-size:11px;text-transform:uppercase">
          Read More Stories
        </a>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!-- photostory article -->
<section class="mb-0 pt-5" style="background-color:#040404" id="photostory">
  <div class="container">
    <div class="heading-section text-center" style="border-bottom: 1px solid white;">
      <h2 class="text-white"><a href="<%= photos_path %>" class="text-white">PHOTO STORIES</a></h2>
    </div>
    <div class="row ">
      <% @photos.limit(3).each do |x| %>
      <div class="col-md-4 mb-5 ">
        <a href="<%= gallery_path(x.slug) %>" class="" >
          <div class="">
            <div class="mb-3">
              <img src="<%= x.cover.url(:cover) %>" alt="<%= x.title %>"  class="w-100">
            </div>
            <% if x.images.count == 0  %>
            <span class="writer text-white"><%= x.image_sliders.count %> photos | Raditya Fadila</span>
            <% else %>
            <span class="writer text-white"><%= x.images.count %> photos | Raditya Fadila</span>
            <% end %>
            <h3 class="article-title text-white" style="font-size:25px;">
              <%= x.title %>
            </h3>
          </div>
        </a>
      </div>
      <% end %>
    </div>
    <div class="d-md-none d-sm-block text-center">
      <a href="<%= photos_path %>" class="btn btn-dark w-75">MORE</a>
    </div>
  </div>
  <div class="mt-3 pb-5" style="overflow:hidden">
    <div class="container">
      <div class="mb-3">
        <h2 class="text-white">Follow Us on
          <a href="https://www.instagram.com/now_jakarta/?hl=en" style="font-size:20px;">
            <i class="fa fa-instagram" aria-hidden="true" style="color:white;font-size:20px"> Instagram</i>
          </a>
        </h2>
      </div>
      <div class="row justify-content-center" id="all-feed">
      </div>
    </div>
  </div>
</section>
<%= home_page_popup("pop") %>
<script type="text/javascript">
  setTimeout(function() {
    $('.modal').modal();
  }, 10000);

</script>
<!-- photostory article -->
<script type="text/javascript">
  $('#subscribeModal').modal();
</script>
