<!-- <div class="container mt-1 pb-1 mb-2" >
  <div class="text-center">
    <h1 style="font-size:18px;font-weight:300;margin:15px 0;">An Insider’s Guide to Life in the Capital. <a href="<%= subscribe_now_path %>" style="color:#d2242a !important;    font-family: 'Cormorant', serif;"> <br> <u>Subscribe NOW!</u></a> </h1>
  </div>
</div>
<!-- slider  -->
<div class="owl-carousel owl-theme home-slider mb-3">
  <%  @slider_homepage.all.order(index: :asc).each do |x| %>
  <div class="item">
    <a href="<%= slider_article_url(x) %>">
      <div class="w-100 d-md-none d-sm-block">
        <div class="slider-image-mobile" style="background-image:url('<%= x.image.url(:desktop) %>')"></div>
        <div class="container text-center">
          <% if x.title.nil? ||  x.title.blank? %>
          <h3 class="title-article m-4" style="font-size:25px;" ><%= x.article.title %></h3>
          <% else %>
          <h3 class="title-article m-4" style="font-size:25px;" ><%= x.title%></h3>
          <% end %>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
<!-- slider  -->

<!-- slider  -->



<div class="mb-3">
  <%= home_page_banner("hp3m") %>
</div>

<div class="container">
  <!-- soapbox -->
  <div class="mb-3">
    <div class="">
      <a href="<%= article_url(@soapbox) %>">
        <img  src="<%= @soapbox.image.url(:featured) %>" alt="<%= @soapbox.title %>" class="w-100 mb-3">
      </a>
      <h5 class="category">
        <a href="<%= sub_category_url(@soapbox) %>">
          SOAPBOX: PUBLISHER'S PERSPECTIVE
        </a>
      </h5>
      <a href="<%= article_url(@soapbox) %>">
        <h4 class="title-article"><%= @soapbox.title %></h4>
        <div class="">
          <p class="min-desc">
            <%= @soapbox.meta_des %>
          </p>
        </div>
      </a>
    </div>
  </div>
  <!-- soapbox -->


  <!-- featured -->
  <div class="mb-3">
    <a href="<%= article_url(@featured) %>">
      <img  src="<%= @featured.image.url(:featured) %>" class="w-100 mb-3">
    </a>
    <h5 class="category">
      FEATURED | <a href="<%= sub_category_url(@featured) %>"> <%= @featured.category.title %></a>
    </h5>
    <a href="<%= article_url(@featured) %>">
      <h2 class="title-article">  <%= @featured.title %></h2>
      <div class="">
        <p class="min-desc">
          <%= @featured.meta_des %>
        </p>
      </div>
    </a>
    <a href="<%= writer_path(@featured.writer.slug) %>">
      <span class="writer"><%= @featured.writer.fullname %></span>
    </a>
    <hr>
    <a href="<%= sub_category_url(@feature_second) %>">
      <h5 class="category">
        FEATURED | <%= @feature_second.category.title %>
      </h5>
    </a>
    <a href="<%= article_url(@feature_second) %>">
      <h2 class="title-article">  <%= @feature_second.title %></h2>
      <div class="">
        <p class="min-desc">
          <%= @feature_second.meta_des %>
        </p>
      </div>
    </a>
    <a href="<%= writer_path(@feature_second.writer.slug) %>">
      <span class="writer"><%= @feature_second.writer.fullname %></span>
    </a>
  </div>
  <!-- featured -->


  <!-- banner featured -->
  <div class="mb-3">
    <%= home_page_banner("hp1") %>
  </div>
  <!-- banner featured -->


  <!-- now people -->
  <div class="mb-3">
    <div class="">
      <a href="<%= article_url(@now_people) %>">
        <img  src="<%= @now_people.image.url(:featured) %>" alt="<%= @now_people.title %>" class="w-100 mb-3">
      </a>
      <h5 class="category">
        <a href="<%= sub_category_url(@now_people) %>">
          NOW! PEOPLE
        </a>
      </h5>
      <a href="<%= article_url(@now_people) %>">
        <h4 class="title-article"><%= @now_people.title %></h4>
        <div class="">
          <p class="min-desc">
            <%= @now_people.meta_des %>
          </p>
        </div>
      </a>
    </div>
  </div>
  <!-- now people -->

  <!-- art and culture -->
  <div class="mb-3">

    <div class="">
      <a href="<%= article_url(@artnculture) %>">
        <img  src="<%= @artnculture.image.url(:featured) %>" alt="<%= @artnculture.title %>" class="w-100 mb-3">
      </a>
      <h5 class="category">
        <a href="<%= sub_category_url(@artnculture) %>">
          <%= @artnculture.category.title %>
        </a>
      </h5>
      <a href="<%= article_url(@artnculture) %>">
        <h4 class="title-article"><%= @artnculture.title %></h4>
        <div class="">
          <p class="min-desc">
            <%= @artnculture.meta_des %>
          </p>
        </div>
      </a>
    </div>
  </div>
  <!-- art and culture -->


  <!-- banner featured -->
  <div class="mb-3">
    <%= home_page_banner("hp2") %>
  </div>
  <!-- banner featured -->
</div>

<!-- lates -->
<section>
  <div class="container">
    <div class="heading-section d-flex justify-content-between align-items-center ">
      <h3 style="font-size:25px;">LATEST STORIES</h3>
    </div>
    <% @latest.limit(5).each do |x| %>
    <a href="<%= article_url(x) %>">
      <div class="d-block">
        <div class="row align-items-center mb-3">
          <div class="col-4">
            <img  src="<%= x.image.url(:mobile) %>" alt="<%= x.title %>" class="w-100">
          </div>
          <div class="col-8 pl-0">
            <span class="category" style="display:block;">
              <%= x.category.title %>
            </span>
            <h4 class="title-article"><%= x.title %></h4>
          </div>
        </div>
      </div>
    </a>
    <% end %>

    <div class="w-75 m-auto d-block">
      <a href="<%= latest_path %>" class="btn btn-dark w-100"> MORE</a>
    </div>

  </div>
</section>
<!-- lates -->

<section style="background: rgb(16, 16, 16);" class="py-3">
  <div class="container">
    <img src="<%= @slider_magazine_issue.first.image %>" alt="<%= @magazine_issue.title %>" class="w-100 mb-3">
    <div class="heading-section d-flex justify-content-between align-items-center " style="border-bottom: 1px solid #fff;">
      <h3 style="font-size:25px;"><a  class="text-white"  href="<%= dtl_sub_category_path(@magazine_issue.parent.slug,  @magazine_issue.slug) %>"><%= @magazine_issue.title %></a></h3>
    </div>
    <p style="font-size:13px; " class="mt-3 mb-3 text-white"><%= @magazine_issue.desc %></p>
    <a href="<%= @magazine_issue.emag_link rescue "-" %>" target="_blank" class="btn btn-outline-light w-100">READ OUR E-MAGAZINE</a>

  </div>
</section>



<!-- banner featured -->
<div class="container">
  <div class="mb-3">
    <%= home_page_banner("hp4m") %>
  </div>
</div>
<!-- banner featured -->

<section>
  <div class="container">
    <div class="heading-section d-flex justify-content-between align-items-center ">
      <h3 style="font-size:25px;">Dine</h3>
    </div>
    <%  @dining.each_with_index do |x,i| %>
    <% if i == 0 %>
    <a href="<%= article_url(x) %>" class="">
      <div class="first-article">
        <img  src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
        <h4 class="title-article mb-1" ><%= x.title %></h4>
        <p class="min-desc">
          <%= x.meta_des %>
        </p>
      </div>
    </a>
    <hr>
    <ul class="pl-3">
      <% else %>
      <li><a href="<%= article_url(x) %>" class="title-article mb-1" style="font-size:18px;" ><%= x.title %></a></li>

      <% end %>
      <% end %>
    </ul>
    <div class="w-75 mt-3 m-auto d-block">
      <a href="<%= dining_path %>" class="btn btn-dark w-100"> MORE</a>
    </div>
    <div class="mt-3">
      <div class="mb-3">
        <%= home_page_banner("hp8") %>
      </div>
      <div class="mb-3">
        <%= home_page_banner("hp9") %>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="container">
    <div class="heading-section d-flex justify-content-between align-items-center ">
      <h3 style="font-size:25px;">Explore Jakarta</h3>
    </div>
    <%  @travel.each_with_index do |x,i| %>
    <% if i == 0 %>
    <a href="<%= article_url(x) %>" class="">
      <div class="first-article">
        <img  src="<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
        <h4 class="title-article mb-1" ><%= x.title %></h4>
        <p class="min-desc">
          <%= x.meta_des %>
        </p>
      </div>
    </a>
    <hr>
    <ul class="pl-3">
      <% else %>
      <li><a href="<%= article_url(x) %>" class="title-article mb-1" style="font-size:18px;" ><%= x.title %></a></li>

      <% end %>
      <% end %>
    </ul>
    <div class="w-75 mt-3 m-auto d-block">
      <a href="<%= travel_path %>" class="btn btn-dark w-100"> MORE</a>
    </div>

    <div class="mt-3">
      <div class="mb-3">
        <%= home_page_banner("hp10") %>
      </div>
      <div class="mb-3">
        <%= home_page_banner("hp11") %>
      </div>
    </div>

  </div>
</section>



<section class="mb-0">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-12">
        <div class="heading-section d-flex justify-content-between align-items-center ">
          <h3 style="font-size:25px;"><a href="https://open.spotify.com/show/4MEUBrD04Lw6meq7poWwm6?si=w2IPEz8dRQalWETlUmnmwg" target="_blank">NOW! JAKARTA PODCAST</a></h3>
        </div>
        <iframe src="https://open.spotify.com/embed-podcast/show/4MEUBrD04Lw6meq7poWwm6" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

      </div>
      <div class="col-12">
        <p>A new way to enjoy NOW! Jakarta contents, available on your favourite podcast listening platforms.
          <br> <br>
          Hear the voices of NOW! Jakarta Publisher Alistair Speirs and NOW! Jakarta Managing Editor Refa Koetin and listen to what they have to say about life in Jakarta.</p>

        </div>

      </div>


    </div>
  </section>

  <section>
    <div class="container">
      <div class="heading-section d-flex justify-content-between align-items-center ">
        <h3 style="font-size:25px;">Upcoming Events</h3>
      </div>
      <div class="owl-carousel owl-theme event-slider">
        <% @events.each do |x| %>
        <div class="card">
          <a href="<%= dtl_event_path(x.slug) %>">
            <img class="card-img-top" src="<%= x.image.url(:square) %>" alt="<%= x.title %>" class="w-100">
            <div class="card-body first-article" style="background-color:#101010">
              <span class="category text-white"><%= x.category.title %></span>
              <h3 class="title-article text-white"><%= x.title %></h3>
              <div class="card-text">
                <p class="text-white">
                  <% if x.start_date == x.end_date %>
                  <%= x.start_date.strftime(" %e %B %Y") rescue "-" %>
                  <% else %>
                  <% if x.start_date.strftime("%B") == x.end_date.strftime("%B")   %>
                  <%= x.start_date.strftime("%e") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                  <% else %>
                  <%= x.start_date.strftime("%e %B %Y") rescue "-" %> - <%= x.end_date.strftime("%e %B %Y") rescue "-" %>
                  <% end %>
                  <% end %>
                </p>
                <!-- <hr style="border-color:white;">  -->
                <div class="row">
                  <div class="col-1 pr-0">
                    <i class="fa fa-map-marker text-light" aria-hidden="true"></i>
                  </div>
                  <div class="col ">
                    <span class="text-light"><%= x.vanue %></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <% end %>
      </div>
      <div class="w-75 m-auto d-block">
        <a href="<%= all_event_path %>" class="btn btn-dark w-100"> MORE</a>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="heading-section d-flex justify-content-between align-items-center ">
        <h3 style="font-size:25px;">Deals</h3>
      </div>
      <div class="owl-carousel owl-theme deal-slider">
        <% @special_offers.limit(4).each do |article| %>
        <div class="item">
          <span class="category" style="margin-bottom:5px;display:block;">
            <a href="<%= sub_category_url(article) %>"><%= article.category.title %></a>
          </span>
          <a href="<%= article_url(article) %>" class="">
            <img src="<%= article.image.url(:regular) %>" alt="<%= article.title %>" class="w-100 mb-3">
            <h4 class="title-article mb-1" ><%= article.title %></h4>
            <p class="min-desc">
              <%= article.meta_des %>
            </p>
          </a>
        </div>
        <% end %>
      </div>
      <div class="w-75 m-auto d-block">
        <a href="<%= deals_path %>" class="btn btn-dark w-100"> MORE</a>
      </div>
    </div>
  </section>

  <section style="background-color:#040404" class="pt-5 pb-5 mb-0">
    <div class="container">
      <div class="heading-section text-center" style="border-bottom: 1px solid white;">
        <h3  class="text-white" style="font-size:25px;">Photo Stories</h3>
      </div>
      <%  @photos.limit(5).each_with_index do |x,i| %>
      <% if i == 0 %>
      <a href="<%= gallery_path(x.slug) %>" class="">
        <div class="first-article">
          <img src="<%= x.cover.url(:cover) %>" alt="<%= x.title %>" class="w-100 mb-3">
          <h4 class="text-white title-article mb-1" ><%= x.title %></h4>
        </div>
      </a>
      <hr style="border-color:white">
      <% else %>
      <a href="<%= gallery_path(x.slug) %>">
        <h4 class="text-white title-article mb-1" style="font-size:18px;" ><%= x.title %></h4>
      </a>
      <% end %>
      <% end %>
      <div class="mt-3 text-center">
        <a href="<%= photos_path %>" class="btn btn-outline-light w-75">MORE</a>
      </div>
    </div>
  </section>
  <%= home_page_popup("pop") %>
  <script type="text/javascript">
    setTimeout(function() {
      $('.modal').modal();
    }, 10000);

  </script>
