
<section class="infinite-table">
  <div class="container">
    <div class="row">
      <div class="col-md-6 xx">
        <a href="<%= article_url(@first) %>" class="">
          <img src="<%= @first.image.url(:featured) %>" alt="" class="w-100">
        </a>
      </div>
      <div class="col-md-6 xx" style="display:flex;align-items:center">
        <div class="" style="">
          <div class="post-title">
            <a href="<%= sub_category_url(@first) %>">
              <span class="category"><%= @first.category.title %></span>
            </a>
            <a href="<%= article_url(@first) %>" class="">
              <h4 class="title-article" style="font-size:35px"><%= @first.title %></h4>
              <p class="min-desc">
                <%= @first.meta_des %>
              </p>
            </a>
          </div>
          <div class="">
            <span style="font-size:10px;color:grey;text-transform:uppercase;font-weight:700;">
              <%= @first.writer.fullname %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <hr style="margin-top:30px;">

        <div class="row  mb-30" id="all">
          <div class="p-3 pb-0 pt-0 w-100" style"min-width:250;>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-bx-7z+54+or-by"
            data-ad-client="ca-pub-4080030071889451"
            data-ad-slot="1367286636"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
          <%= render "page/latests" %>
        </div>
        <div class="text-center btn-load-more">
          <a id="load_more" class="btn btn-outline-dark" rel="next" data-remote="true" href="<%= request.path %>?page=<%= @all.current_page+1 %>">LOAD MORE</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-2 mt-4" style="">
          <div class="">
            <p style="font-family: 'Oswald', sans-serif;font-size: 32px;font-weight: 900;">
              Get Closer To Us
            </p>
            <div class="mb-3">
              <input id="signup_email" name="signup[email]" class="mm-field required email col" type="text" data-required-field="This field is required" placeholder="you@example.com" style="border-bottom:1px solid #000;text-align:left;padding-left:0;font-size:16px;">
            </div>
            <a href="#" class="btn btn-outline-dark w-100">
              SUBMIT
            </a>
          </div>
        </div>
        <% Article.publish.featured.limit(1).each do |article|  %>
        <div class="mt-4">
          <span class="category" style="margin-bottom:5px;display:block;">
            <a href="<%= sub_category_url(article) %>">Suggested | <%= article.category.title %> </a>
          </span>
          <a href="<%= article_url(article) %>" class="">
            <img src="<%= article.image.url(:regular) %>" alt="<%= article.title %>" class="w-100 mb-3">
            <h4 class="title-article mb-1" ><%= article.title %></h4>
            <p class="min-desc">
              <%= article.meta_des %>
            </p>
          </a>
        </div>

        <% end %>
        <!-- <div class=" mt-4">
          <%# Banner.where(category_id: @article.category_id).each do |x| %>
          <div class="banner mb-3" >
            <a href="#">
              <img src="<%# x.image %>" alt="" class="w-100">
            </a>
          </div>
          <%# end %>
        </div> -->
        <div class="mt-4">

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">
                <p style="font-family: 'Oswald', sans-serif;font-size: 20px;font-weight: 900;margin-bottom:0">
                  POPULAR
                </p>
              </a>
              <a class="nav-item nav-link" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">
                <p style="font-family: 'Oswald', sans-serif;font-size: 20px;font-weight: 900;margin-bottom:0">
                  RECENT
                </p>
              </a>

            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
              <% @popular.each do |x| %>
              <div class="">
                <a href="<%= article_url(x) %>" class="">
                  <div class="row align-items-center">
                    <div class="col-md-8">
                      <span class="category"><%= x.category.title %></span>
                      <h3 class="title-article" style="font-size:18px"><%= x.title  rescue "-"%></h3>
                      <span class="writer"><%= x.writer.fullname %></span>
                    </div>
                    <div class="col-md-4">
                      <img src="<%= x.image.url(:mobile) %>" alt="<%= x.title %>" class="w-100">
                    </div>
                  </div>
                </a>
              </div>
              <hr>
              <% end %>
            </div>
            <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
              <% @recent.each do |x| %>
              <div class="">
                <a href="<%= article_url(x) %>" class="">
                  <div class="row align-items-center">
                    <div class="col-md-8">
                      <span class="category"><%= x.category.title %></span>
                      <h3 class="title-article" style="font-size:18px"><%= x.title  rescue "-"%></h3>
                      <span class="writer"><%= x.writer.fullname %></span>
                    </div>
                    <div class="col-md-4">
                      <img src="<%= x.image.url(:mobile) %>" alt="<%= x.title %>" class="w-100">
                    </div>
                  </div>
                </a>
              </div>
              <hr>
              <% end %>
            </div>

          </div>

        </div>
      </div>
    </div>

  </section>
