<section id="photostory">
  <div class="container">
    <a href="<%= gallery_path(@first.slug) %>">
    <img src="<%= @first.cover %>" alt="<%= @first.title %>" class="w-100">
    </a>
    <hr>
    <a href="<%= gallery_path(@first.slug) %>">
    <div class="title">
      <h1 class="article-title text-center"><%= @first.title %></h1>
        <h5 class="category text-center">
          Photo Stories | <span class="date"><%= @first.publish.strftime("%e %B %Y") rescue "-" %></span>
        </h5>
      </div>
      </a>
      <hr>
      <div class="row">
        <% @all.each do |x| %>
        <div class="col-md-4 mb-5 ">
          <a href="<%= gallery_path(x.slug) %>" class="">
            <div class="">
              <div class="mb-3">
                <img src="<%= x.cover.url(:cover) %>" alt="<%= x.title %>"  class="w-100">
              </div>
              <% if x.images.count == 0  %>
              <span class="writer text-white"><%= x.image_sliders.count %> photos | <% if x.photographer.nil? %>NOW! Jakarta<% else %><%= x.photographer %><% end %></span>
                <% else %>
                <span class="writer text-white"><%= x.images.count %> photos | <% if x.photographer.nil? %>NOW! Jakarta<% else %><%= x.photographer %><% end %></span>
              <% end %>
              <h4 class="article-title text-white" style="font-size:25px;">
                <%= x.title %>
              </h4>
            </div>
          </a>
        </div>
        <% end %>
      </div>
    </div>
  </section>
