<section class="mb-5 pb-3">
  <div class="container">
    <div class="title text-center">
      <div class="heading-section border-0">
        <h1>SUBSCRIBE</h1>
      </div>

    </div>
    <div class="w-75 m-auto">
      <p>
        Our stories are available across various platforms. NOW! Jakarta is available as a printed magazine, offering monthly subscriptions; an e-magazine of each issue is also available via third party; and you can also subscribe to our weekly e-newsletter to stay up-to-date with our stories.
      </p>
    </div>
    <div class="mt-3">
      <div class="text-center">
        <a href="<%= subscribe_now_path(type: "print") %>" class="btn <%= set_button_print(params[:type]) %> m-1">
          PRINT
        </a>
        <a href="<%= subscribe_now_path(type: "digital") %>"  class="btn <%= set_button_digital(params[:type]) %> m-1">
          DIGITAL
        </a>
        <a href="<%= subscribe_now_path(type: "newsletter") %>"  class="btn <%= set_button_newsletter(params[:type]) %> m-1">
          NEWSLETTER
        </a>
      </div>
      <hr>
    </div>

    <% if params[:type].present? && params[:type] == 'digital' %>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="<%= asset_url('now_jakarta_go_digital.png') %>" alt="now JAKARTA digital" class="w-100">
          </div>
          <div class="col-md-6">
            <h2 style="font-size:20px;">Read our monthly magazine on any device, at any time, from anywhere!</h2>
            <p class="mb-3">NOW! Jakarta is available as an e-magazine through Gramedia Books.</p>
            <div class="row">
              <div class="col-md-4">
                <a href="https://ebooks.gramedia.com/magazines/now-jakarta">
                  <img src="<%= asset_url('logo-gramedia-digital.png') %>" alt="now jakarta logo gramedia" class="w-100">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% elsif params[:type].present? && params[:type] == 'newsletter' %>
    <section>
        <div class="container">
          <div class="row align-items-center justify-content-center ">
            <div class="col-md-6 col mb-0">
              <div class="p-2" style="">
                <form id="ema_signup_form text-left" target="_blank" action="https://madmimi.com/signups/subscribe/73291" class="form"  accept-charset="UTF-8" method="post">
              <input name="utf8" type="hidden" value="✓"/>

              <div class="row">
                <div class="col-md-6">
                  <div class="mimi_field required form-group">
                     <label for="signup_firstname">First Name*</label>
                     <input type="text" name="signup[firstname]" id="signup_firstname"  class="form-control required" data-required-field="This field is required" required/>
                     <input class="field_type" type="hidden" data-field-type="text_field"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mimi_field required form-group">
                     <label for="signup_lastname">Last Name*</label>
                     <input type="text" name="signup[lastname]" id="signup_lastname" data-required-field="This field is required" class="form-control required" required/>
                     <input class="field_type" type="hidden" data-field-type="text_field"/>
                  </div>
                </div>

              </div>


              <div class="mimi_field required form-group">
                 <label for="signup_email">Email*</label>
                 <input id="signup_email" name="signup[email]" class="form-control required"  type="text" data-required-field="This field is required" placeholder="you@example.com" required/>
              </div>
              <div class="mimi_field required form-group">
                 <label for="signup_location">Location*</label>
                 <br/>
                 <select name="signup[location]" id="signup_location" class="mimi_html_dropdown form-control required" required>
                    <option value="">Choose an option</option>
                    <option value="Jakarta">Jakarta</option>
                    <option value="Indonesia (Other)">Indonesia (Other)</option>
                    <option value="Outside Indonesia">Outside Indonesia</option>
                 </select>
                 <input class="field_type" type="hidden" data-field-type="dropdown"/>
              </div>
              <div style="background: white; font-size:1px; height: 0; overflow: hidden">
                 <input type="text" name="e85b27bebdbf52b87a3770df21f01d7e" style="font-size: 1px; width: 1px !important; height:1px !important; border:0 !important; line-height: 1px !important; padding: 0 0; min-height:1px !important;"/>
                 <input class="checkbox" type="checkbox" name="beacon"/>
              </div>

              <div class="mimi_field w-100 mt-3">
                 <input type="submit" class="submit btn btn-dark w-100" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!"/>
              </div>
           </form>
              </div>
              </div>
          </div>
        </div>
      </section>
    <% else %>
    <%= form_for @subscribe, :html => { :class => "form-horizontal subscribe" } do |f| %>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <img src="<%= asset_url('image-cover-now-jakarta.jpg') %>" alt="magazine now jakartayy" class="w-100">
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="upper" for="name">Title*</label>
                    <%= f.text_field :title, :class => 'form-control required',placeholder: "mr / mrs / ms" %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="upper" for="fullname">Full Name*</label>
                    <%= f.text_field :fullname, :class => 'form-control required', placeholder: "Enter Full Name" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="upper" for="telephone">Telephone</label>
                    <%= f.text_field :telephone, :class => 'form-control required', placeholder:"Enter Telephone Number"  %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="upper" for="phonenumber">Phone Number*</label>
                    <%= f.text_field :phonenumber, :class => 'form-control required', placeholder:"Enter Phone Number" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="upper" for="fax">Fax</label>
                    <%= f.text_field :fax, :class => 'form-control required', placeholder:"Enter Fax Number" %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="upper" for="email">Email*</label>
                    <%= f.email_field :email, :class => 'form-control required',placeholder:"Enter Email Address"  %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="upper" for="address">Address*</label>
                    <%= f.text_area :address, :class => 'form-control required',rows:"2", cols:"20" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="upper" for="address">Subscribe Plan*</label>
                    <select title="Choose game" class="form-control" name="subscribe[plan]">
                      <optgroup label="6 Month = 6 Issues">
                        <option value="6 Month = 6 Issue">  RP 240.000,- FROM RP 300.000,-</option>
                      </optgroup>
                      <optgroup label="1 year = 12 Issues">
                        <option value="1 year = 12 Issues" > Rp. 450.000,-  FROM Rp. 600.000,-</option>
                      </optgroup>
                      <optgroup label="2 year = 24 Issues">
                        <option value="2 year = 24 Issues"> Rp  840.000,-   FROM Rp. 1.200.000,-</option>
                      </optgroup>
                      <optgroup label="COMPANY SUBSCRIPTIONS PER MONTH FOR 12 MONTHS BULK SALES">
                        <option value="COMPANY SUBSCRIPTIONS: 25 copies">   25 copies @Rp. 10.500.000,- = Rp 11.250.000,- </option>
                        <option value="COMPANY SUBSCRIPTIONS: 50 copies">   50 copies @Rp.  19.500.000,-= Rp 21.000.000,- </option>
                        <option value="COMPANY SUBSCRIPTIONS: 100 copies">   100 copies @Rp. 36.000.000,- = Rp 39.000.000,- </option>
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <%= recaptcha_tags %>
              <div class="mt-2 pt-2">
                <%= f.submit "Submit", :class => 'btn btn-dark' %>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    <% end %>

  </div>
</section>
