<%- model_class = Contact -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">User Profile</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= subscribes_path %>"><%= model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <dl class="dl-horizontal">
            <dt><strong><%= model_class.human_attribute_name(:fullname) %>:</strong></dt>
            <dd><%= @contact.fullname %></dd>
            <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
            <dd><%= @contact.email %></dd>
            <dt><strong><%= model_class.human_attribute_name(:subject) %>:</strong></dt>
            <dd><%= @contact.subject %></dd>
            <dt><strong><%= model_class.human_attribute_name(:message) %>:</strong></dt>
            <dd><%= @contact.message %></dd>
          </dl>

          <%= link_to t('.back', :default => t("helpers.links.back")),
          contacts_path, :class => 'btn btn-default'  %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_contact_path(@contact), :class => 'btn btn-default' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          contact_path(@contact),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
