<div class="row">
  <% if @writer.errors.any? %>
    <div class="col-md-12">
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@writer.errors.count, "error") %> prohibited this writer from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% @writer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= form_for @writer, :html => { :class => "form-horizontal writer" } do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :image, :class => 'control-label' %>
            <% if @writer.image.nil? || @writer.image.blank? %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', required: true %>
            <% else %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @writer.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :fullname, :class => 'control-label' %>
                <%= f.text_field :fullname, :class => 'form-control', required: true %>
                <%=f.error_span(:fullname) %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= f.label :main_contributor, :class => 'control-label' %>
                <%= f.text_field :main_contributor, :class => 'form-control' %>
                <%=f.error_span(:main_contributor) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.label :desc, :class => 'control-label' %>
                <%= f.text_area :desc, :class => 'form-control' %>
                <%=f.error_span(:desc) %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <div class="form-group">
                <%= f.submit nil, :class => 'btn btn-success' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                writers_path, :class => 'btn btn-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
