<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-2">
        <img src="<%= @writer.image %>" alt="<%= @writer.fullname %>" class="rounded-circle w-100">
      </div>
      <div class="col-md-8">
        <h1 class="author-name"><%= @writer.fullname %></h1>
        <p class="min-desc">
          <%= @writer.desc %>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="infinite-table">
  <div class="container">
    <div class="heading-section d-flex justify-content-between align-items-center ">
    </div>
    <div class="row">
      <div class="col-md-6 xx">
        <a href="<%= article_url(@first) %>" class="">
          <img src="<%= @first.image.url(:featured) %>" alt="" class="w-100">
        </a>
      </div>
      <div class="col-md-6 xx" style="display:flex;align-items:center">
        <div class="" style="">
          <div class="post-title">
            <a href="<%= article_url(@first) %>" class="">
              <span class="category"><%= @first.category.title %></span>
              <h4 class="title-article" style="font-size:35px"><%= @first.title %></h4>
              <p class="min-desc">
                <%= @first.meta_des %>
              </p>
            </a>
          </div>
          <div class="">
            <span style="font-size:10px;color:grey;text-transform:uppercase;font-weight:700;">
              <%= @first.writer.fullname %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top:30px;">
    <div class="row">
      <div class="col-md-8">
        <div class="row  mb-30" id="all">
          <%= render "page/latests" %>
        </div>
        <div class="text-center btn-load-more">
          <a id="load_more" class="btn btn-outline-dark" rel="next" data-remote="true" href="<%= request.path %>?page=<%= @all.current_page+1 %>">LOAD MORE</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sticky-top">
          <div class="heading-section d-flex justify-content-between align-items-center ">
            <h3 style="font-size:20px;text-transform">Read From Other Contributors</h3>
          </div>
          <% @other.each do |x| %>

          <div class="">
            <div class="row mb-3 align-items-center">
              <div class="col-md-3">
                <img src="<%= x.image %>" alt="<%= x.fullname %>" class="rounded-circle w-100">
              </div>
              <div class="col-md-9">
                <a href="<%= writer_path(x.id) %>">
                  <span class="category"><%= x.fullname %></span>
                </a>
                <a href="<%= article_url(x.articles.first) %>" class="">
                  <h3 class="title-article" style="font-size:20px"><%= x.articles.first.title  rescue "-"%></h3>
                </a>
                <a href="<%= writer_path(x.slug) %>" style="font-size:11px;text-transform:uppercase">
                  Read More Stories
                </a>
              </div>
            </div>
            <hr>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- to do : http://localhost:3000/writers/77 -->
