<% if @tag.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading"><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h3>
        <ul>
          <% @tag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row justify-content-center">
  <div class="col-md-4">
    <%= form_for @tag, :html => { :class => "form-horizontal tag" } do |f| %>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :name, :class => 'control-label' %> <small><i>*required</i></small>
            <%= f.text_field :name, :class => 'form-control' %>
            <%=f.error_span(:name) %>
          </div>
          <div class="form-group text-center">
            <button type="submit" name="button" data-disable-with="Saving..." value="Add Tag" class="btn btn-success">
              <% if @tag.new_record? %>
                <i class="fa fa-check"></i> Add Tag
              <% else %>
                <i class="fa fa-save"></i> Save Changes
              <% end %>
            </button>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")), tags_path, :class => 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
