<%- model_class = Tag -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add New', new_tag_path, :class => 'btn btn-success mb-2' %>
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center"><%= model_class.human_attribute_name(:id) %></th>
                <th class="text-center"><%= model_class.human_attribute_name(:name) %></th>
                <th class="text-center"><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @tags.each do |tag| %>
                <tr>
                  <td class="text-center"><%= link_to tag.id, user_path(tag) %></td>
                  <td class="text-center"><%= tag.name %></td>
                  <td class="text-center">
                    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_tag_path(tag), :class => 'btn btn-warning btn-xs' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable({
      <% if params[:start].present? %>
        "ajax": '/tags.json?start=<%= params[:start] %>&end=<%= params[:end] %>&button=',
        <% else %>
        "ajax": '/tags.json',
      <% end %>
        "columns": [{"data":"id"},{"data":"name"},{"data":"action"}]
    });
  } );
</script>
