<% icon_sizes = Rails.configuration.serviceworker.icon_sizes %>
{
  "name": "NOW! JAKARTA",
  "short_name": "NOW! JAKARTA",
  "start_url": "/",
  "icons": [
    {
      "src": "<%= image_path "favicon.png" %>",
      "sizes": "16x16",
      "type": "image/png"
    }]
  ,
  "theme_color": "#000000",
  "background_color": "#FFFFFF",
  "display": "fullscreen",
  "orientation": "portrait"
}
