
self.addEventListener("push", function(event) {
  var title = (event.data.text().split("|")[0]);
  var body; body = event.data.text().split("|")[1];
  var image; image = event.data.text().split("|")[3];
  var icon = '/assets/now-wp-icon.png'
  var badge = '/assets/badge.png'


  event.waitUntil(
      self.registration.showNotification(title, {
          body: body,
          icon: icon,
          image: image,
          badge: badge,
      })
  );
});

self.addEventListener('notificationclick', function(event) {
    event.notification.close()
    var url = "/<%= Notification.last.article.category.parent.slug %>/<%= Notification.last.article.category.slug %>/<%= Notification.last.article.slug %>";
    event.waitUntil( clients.matchAll({type: 'window'}).then( function(windowClients) {
            for (var i = 0; i < windowClients.length; i++) {
                var client = windowClients[i];
                if (client.url === url && 'focus' in client) { return client.focus()}
            }
            if (clients.openWindow) { return clients.openWindow(url) }
        })
    );
});
