<div class="row">
  <% if @gallery.errors.any? %>
  <div class="col-md-12">
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @gallery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= form_for @gallery, :html => { :class => "form-horizontal gallery" } do |f| %>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :cover, :class => 'control-label' %>
          <% if @gallery.cover.nil? || @gallery.cover.blank? %>
          <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
          <% else %>
          <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @gallery.cover.url %>
          <% end %>
          <%=f.error_span(:cover) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= f.label :title, :class => 'control-label' %>
              <%= f.text_field :title, :class => 'form-control', required:true %>
              <%= f.hidden_field :id, value: Gallery.last.id.to_i + 1 %>
              <%=f.error_span(:title) %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <%= f.label :publish, :class => 'control-label' %> Date
              <%= f.datetime_field :publish, :class => 'form-control' %>
              <%=f.error_span(:publish) %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <%= f.label :photo_grapher, :class => 'control-label' %>
              <%= f.select :photographer, Gallery::Photographer.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
              <%=f.error_span(:photographer) %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <%= f.label :slider_type, :class => 'control-label' %>
              <%= f.select :slider_type, Gallery::Type.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
              <%=f.error_span(:slider_type) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.label :content, :class => 'control-label' %>
              <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,about,flash',:removeButtons => 'Image', :height => '300px'} %>
              <%=f.error_span(:content) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="form-group">
              <%= f.submit nil, :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),galleries_path, :class => 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row" id="image_sliders">
        <%= f.fields_for :image_sliders do |image_slider| %>

           <%= render 'image_slider_fields', f: image_slider %>

        <% end %>
        <div class="col-md-4">
           <%= link_to_add_association 'add image', f, :image_sliders, class:"btn btn-primary" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<% end %>
