


<% if @gallery.image_sliders.count == 0 %>
<section id="gallery-detail" style="overflow:hidden">
  <div class="container">
    <div class="mb-30">
      <h1 class="article-title text-center"><%= @gallery.title %></h1>
      <h5 class="category text-center">
        Photo Stories | <span class="date"><%= @gallery.publish.strftime("%e %B %Y") rescue "-" %></span>
      </h5>
    </div>
  </div>
  <div class="">
    <div class="owl-carousel meow-slider h-100 mb-3">
      <% @gallery.images.each_with_index do |x, i| %>
      <div class="p-0" data-hash="gal<%= i %>">
        <div class="filter"></div>
        <div class="owl-lazy" data-src="<%= x.url %>" style="height:800px;background-position:center;background-size:cover;width:100%;">
        </div>
      </div>
      <% end %>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="p-3">
            <div class="owl-carousel slider-thumb">
              <% @gallery.images.each_with_index do |x, i| %>
              <div class="item">
                <a class="url" href="#gal<%= i %>">
                  <img src="<%= x.url(:mobile) %>" class="mw-100 w-auto m-auto" alt="<%= @gallery.title %>">
                </a>
              </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="article">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="d-flex justify-content-between  ">
            <h4 style="font-family: 'Cormorant', serif;font-weight: 1200;"><%= @gallery.images.count.to_i %> <i class="fa fa-clone" style="color:#adadad" aria-hidden="true"></i></h4>
          </div>
          <%= @gallery.content.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>
  <% else %>
  <section id="gallery-detail" style="overflow:hidden">
    <div class="container">
      <div class="mb-30">
        <h1 class="article-title text-center"><%= @gallery.title %></h1>
        <h5 class="category text-center">
          Photo Stories | <span class="date"><%= @gallery.publish.strftime("%e %B %Y") rescue "-" %></span>
        </h5>
      </div>
    </div>
    <div class="">
      <div class="owl-carousel meow-slider h-100 mb-3">
        <% @gallery.image_sliders.each_with_index do |x, i| %>
        <div class="" style="width:100%;max-width:100%">
          <div class="p-0" data-hash="gal<%= i %>">
            <div class="filter"></div>
            <div class="owl-lazy" data-src="<%= x.image %>" style="height:800px;background-position:center;background-size:cover;width:100%;">
            </div>
          </div>
          <p class="text-white gallery-image-caption" style="font-size:12px;"><%= x.caption %></p>
        </div>
        <% end %>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="p-3">
              <div class="owl-carousel slider-thumb">
                <% @gallery.image_sliders.each_with_index do |x, i| %>
                <div class="item">
                  <a class="url" href="#gal<%= i %>">
                    <img src="<%= x.image.url(:mobile) %>" class="mw-100 w-auto m-auto" alt="<%= @gallery.title %>">
                  </a>
                </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="article">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="d-flex justify-content-between  ">
              <h4 style="font-family: 'Cormorant', serif;font-weight: 1200;"><%= @gallery.image_sliders.count.to_i %> <i class="fa fa-clone" style="color:#adadad" aria-hidden="true"></i> | Photos by <% if @gallery.photographer.nil? %>NOW! Jakarta<% else %><%= @gallery.photographer %><% end %> </h4>
            </div>
            <%= @gallery.content.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
