
<% @articles.each_with_index do |x, i| %>

<div class="col-md-3 ">
  <% unless Category.magazine_issue.map(&:id).include?(x.category_id)%>
  <a href="<%= dtl_sub_category_path(x.category.parent.slug, x.category.slug) rescue dtl_category_path(x.category.slug) %>">
    <span class="category" style="margin-bottom:5px;display:block;"><%= x.category.title %></span>
  </a>
  <% end %>
  <a href="<%= dtl_article_path(x.category.parent.slug, x.category.slug, x.slug) rescue dtl_article_path(x.category.slug, x.category.slug, x.slug) %>">
    <img src="https://nowjakarta.co.id/<%= x.image.url(:regular) %>" alt="<%= x.title %>" class="w-100 mb-3">
    <h3 class="title-article mb-1" ><%= x.title %></h3>
    <p class="min-desc">
      <%= x.meta_des %>
    </p>
  </a>
</div>
<% end %>
