// Append new data
$("<%=j render(:partial => 'articles', :object => @articles) %>")
  .appendTo($("#all"));

// Update pagination link
<% if @articles.last_page? %>
  $('.btn-load-more').html("That's all, folks!");
<% else %>
  $('#load_more').replaceWith("<a id='load_more' class='btn btn-outline-dark' rel='next' data-remote='true' href='<%= request.path %>?page=<%= @articles.current_page+1 %>'>LOAD MORE</a>");
<% end %>
