<% if   @category.slug == "magazine-issue"  %>
<div class="container mt-1 pb-1 mb-2" >
  <div class=""style="border-bottom: 1px solid black;">
    <div class="row" >
      <div class="col-6">
      </div>
      <div class="col text-right">
        <a href="<%= root_path %>"> <strong> Home</strong></a> / <a href="magazine-issue"> Magazine Issue </a>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="heading-section d-md-flex justify-content-between align-items-center text-sm-center">
      <h1>MAGAZINE ISSUES</h1>
    </div>
    <div class="row">
      <% Category.order("created_at desc").where(parent_id: 282).each do |x| %>
      <div class="col-md-3">
        <div class="card mb-3">
          <a href="<%= dtl_sub_category_path(x.parent.slug,  x.slug) %>">
            <img class="card-img-top" src="<%= x.cover %>" alt="<%= x.title %>" class="w-100">
            <div class="card-body" style="background-color:#101010">
              <span class="category text-white" style="font-size:20px;"><%= x.month %> <%= x.year %></span>
              <h3 class="title-article text-white list-section"><%= x.title %></h3>
            </div>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<% elsif Category.magazine_issue.map(&:id).include?(@category.id) %>
<div class="container mt-1 pb-1 mb-2" >
  <div class=""style="border-bottom: 1px solid black;">
    <div class="row" >
      <div class="col text-right">
        <a href="<%= root_path %>"> <strong> Home</strong></a> / <a href="magazine-issue"> <strong>Magazine Issue</strong> </a> / <a href="<%= @category.slug %>"> <%= @category.title %></a>
      </div>
    </div>
  </div>
</div>
<section class="infinite-table">
  <div class="container">
    <div class="row" id="first-article">
      <div class="col-md-6 xx">
        <div class="w-75">
          <img src="<%= @category.cover %>" alt="" class="w-100">
        </div>

      </div>
      <div class="col-md-6 xx" style="display:flex;align-items:center">
        <div class="" style="">
          <div class="post-title">

            <span class="category"><%=  @category.month %> issue</span>

            <h4 class="title-article" style="font-size:35px"><%= @category.title %></h4>
            <p class="min-desc">
              <%= @category.desc %>
            </p>

          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top:30px;">
    <div class="">
      <div class="row  mb-30" id="all">
        <%= render "categories/articles" %>
      </div>
      <div class="text-center btn-load-more">
        <a id="load_more" class="btn btn-outline-dark" rel="next" data-remote="true" href="<%= request.path %>?page=<%= @articles.current_page+1 %>">LOAD MORE</a>
      </div>
    </div>

  </div>
</section>

<% elsif Category.parent.include?(@category) %>
<div class="container">
  <%= ctr_banner_long("ctrtop") %>
</div>

<div class="container mt-1 pb-1 mb-2" >

  <div class=""style="border-bottom: 1px solid black;">
    <div class="row" >
      <div class="col text-right pt-2 pb-2">
        <a href="<%= root_path %>">Home</a> / <a href="<%= @category.slug %>"> <strong><%= @category.title.titleize %></strong></a>
      </div>
    </div>
  </div>

  <div class="">

  </div>
</div>
<section class="infinite-table d-flex">
  <div class="pl-3 " style="width:10%">
    <div class="sticky-top">
      <%= ctr_banner_long("ctrleft") %>
    </div>
  </div>
  <div class="container">
    <div class="heading-section">
      <div class="row align-items-center">
        <div class="" style="padding-left:15px;width:fit-content !important">
          <h1><%= @category.title %></h1>
        </div>
        <div class="col">
          <ul class="nav nav-event-category d-none d-md-block">
            <% @category.children.each do |x| %>
            <% unless x.slug == "note-from-editors" %>
            <li class="nav-item ">
              <h2 style="font-weight:300;font-family: 'heebo', sans-serif;" class="mb-0"><a class="nav-link p-0 pr-4 active" style="text-transform:uppercase" href="<%= dtl_sub_category_path(x.parent.slug,  x.slug) %>"><%= x.title %></a></h2>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row align-items-center" id="first-article">
      <div class="col-md-6 xx">
        <a href="<%= article_url(@first)  %>">
          <img src="https://nowjakarta.co.id/<%= @first.image.url(:featured)  rescue "-"%>" alt="" class="w-100">
        </a>
      </div>
      <div class="col-md-6 xx" style="display:flex;align-items:center">
        <div class="" style="">
          <div class="post-title">
            <a href="<%= sub_category_url(@first) %>">
              <span class="category"><%= @first.category.title %></span>
            </a>
            <a href="<%= article_url(@first)  %>">
              <h3 class="title-article" style="font-size:35px"><%= @first.title %></h3>
              <p class="min-desc">
                <%= @first.meta_des %>
              </p>
            </a>
          </div>
          <div class="">
            <span style="font-size:10px;color:grey;text-transform:uppercase;font-weight:700;">
              <%= @first.writer.fullname %>
            </span>
          </div>
        </div>
      </div>

    </div>
    <hr style="margin-top:30px;">
    <div class="">
      <div class="row  mb-30" id="all">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Display Horizontal -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4080030071889451"
        data-ad-slot="6974836536"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <%= render "categories/articles" %>
      </div>
      <div class="text-center btn-load-more">
        <a id="load_more" class="btn btn-outline-dark" rel="next" data-remote="true" href="<%= request.path %>?page=<%= @articles.current_page+1 %>">LOAD MORE</a>
      </div>
    </div>

  </div>
  <div class="pr-3 " style="width:10%">
    <div class="sticky-top">
      <%= ctr_banner_long("ctrright") %>
    </div>
  </div>
</section>
<% else %>
<div class="container mt-1 pb-1 mb-2" >
  <div class=""style="border-bottom: 1px solid black;">
    <div class="row" >
      <div class="col text-right pt-2 pb-2">
        <a href="<%= root_path %>">Home</a> / <a href="/<%= @category.parent.slug %>"><%= @category.parent.title %></a> / <a href="<%= @category.slug %>"> <strong> <%= @category.title.titleize %> </strong></a>
      </div>
    </div>
  </div>
</div>
<% if @show_cham == true %>
<div class="container">
  <div class="text-center">
    <h3 style="font-size: 27px;font-weight: 300;margin: 40px 0;">
      In this section, NOW! Jakarta proudly supports these chambers of commerce:
    </h3>
  </div>
  <div class="w-75 m-auto text-center">
    <div class="pt-3 pb-3">
      <div class="row align-items-end">
        <div class="col text-center">
          <a href="https://www.amcham.or.id/en/home" target="_blank">
            <img src="<%= asset_url('chamber/amchan.png') %>" alt="AMCHAM" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">AMCHAM</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="http://dancham.id/" target="_blank">
            <img src="<%= asset_url('chamber/dancham.png') %>" alt="DANCHAM" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">DANCHAM</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="http://www.britcham.or.id/" target="_blank">
            <img src="<%= asset_url('chamber/britcham.png') %>" alt="BRITCHAM" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">BRITCHAM</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="https://indonesien.ahk.de/en/" target="_blank">
            <img src="<%= asset_url('chamber/EKONID.png') %>" alt="EKONID" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">EKONID</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="http://www.iabc.or.id/" target="_blank">
            <img src="<%= asset_url('chamber/iabc.png') %>" alt="IABC" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">IABC</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="https://www.ifcci.org.in/" target="_blank">
            <img src="<%= asset_url('chamber/ifcci.jpg') %>" alt="IFCCI" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">IFCCI</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="http://www.iccc.or.id/" target="_blank">
            <img src="<%= asset_url('chamber/icccc.png') %>" alt="ICCC" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:300">ICCC</h4>
          </a>
        </div>
        <div class="col text-center">
          <a href="http://www.eurocham.id/" target="_blank">
            <img src="<%= asset_url('chamber/EuroCham.jpg') %>" alt="EuroCham" class="w-100 mb-3">
            <h4 style="font-size:14px;font-weight:500">EuroCham</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <%= ctr_banner_long("ctrtop") %>
</div>

<section class="infinite-table d-flex">
  <div class="pl-3" style="width:10%">
    <%= ctr_banner_long("ctrleft") %>
  </div>
  <div class="container">
    <div class="heading-section d-md-flex justify-content-between align-items-center text-sm-center">
      <h1><%= @category.title %></h1>
    </div>
    <div class="row" id="first-article">
      <div class="col-md-6 xx">
        <a href="<%= article_url(@first)  %>">
          <img src="<%= @first.image.url(:featured) %>" alt="" class="w-100">
        </a>
      </div>
      <div class="col-md-6 xx" style="display:flex;align-items:center">
        <div class="" style="">
          <div class="post-title">
            <a href="<%= sub_category_url(@first) %>">
              <span class="category"><%= @first.category.title %></span>
            </a>
            <a href="<%= article_url(@first)  %>">
              <h3 class="title-article" style="font-size:35px"><%= @first.title %></h3>
              <p class="min-desc">
                <%= @first.meta_des %>
              </p>
            </a>
          </div>
          <div class="">
            <span style="font-size:10px;color:grey;text-transform:uppercase;font-weight:700;">
              <%= @first.writer.fullname %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr style="margin-top:30px;">
    <div class="">
      <div class="row  mb-30" id="all">
        <%= render "categories/articles" %>
      </div>
      <div class="text-center btn-load-more">
        <a id="load_more" class="btn btn-outline-dark" rel="next" data-remote="true" href="<%= request.path %>?page=<%= @articles.current_page+1 %>">LOAD MORE</a>
      </div>
    </div>

  </div>
  <div class="pr-3" style="width:10%">
    <%= ctr_banner_long("ctrright") %>
  </div>
</section>


<% end %>
