<%= form_for @subscribe, :html => { :class => "form-horizontal subscribe" } do |f| %>

  <% if @subscribe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@subscribe.errors.count, "error") %> prohibited this subscribe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @subscribe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label :fullname, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fullname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fullname) %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :telephone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:telephone) %>
  </div>
  <div class="form-group">
    <%= f.label :phonenumber, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phonenumber, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phonenumber) %>
  </div>
  <div class="form-group">
    <%= f.label :fax, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fax, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fax) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :plan, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :plan, :class => 'form-control' %>
    </div>
    <%=f.error_span(:plan) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                subscribes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
