<%- model_class = Subscribe -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_index_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= model_class.human_attribute_name(:id) %></th>
                <th><%= model_class.human_attribute_name(:title) %></th>
                <th><%= model_class.human_attribute_name(:fullname) %></th>
                <th><%= model_class.human_attribute_name(:email) %></th>
                <th><%= model_class.human_attribute_name(:plan) %></th>
                <th><%= model_class.human_attribute_name(:created_at) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
              </tr>
            </thead>
            <tbody>
              <% @subscribes.each do |subscribe| %>
              <tr>
                <td><%= link_to subscribe.id, subscribe_path(subscribe) %></td>
                <td><%= subscribe.title %></td>
                <td><%= subscribe.fullname %></td>
                <td><%= subscribe.email %></td>
                <td><%= subscribe.plan %></td>
                <td><%=l subscribe.created_at %></td>
                <td>
                  <%= link_to t('.show', :default => t("helpers.links.show")),
                  subscribe_path(subscribe), :class => 'btn btn-default btn-xs m-1' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  subscribe_path(subscribe),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs m-1 btn-danger' %>
                  <a href="<%= mail_subscribe_path(id: subscribe.id) %>" class="btn btn-dark btn-xs m-1">
                    Email This
                  </a>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    $('.table').DataTable();
  } );
  </script>
