<%- model_class = Subscribe -%>
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-5 align-self-center">
      <h4 class="page-title">User Profile</h4>
    </div>
    <div class="col-7 align-self-center">
      <div class="d-flex align-items-center justify-content-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="<%= subscribes_path %>"><%= model_class.model_name.human.pluralize.titleize %></a></li>
            <li class="breadcrumb-item">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
          <dd><%= @subscribe.title %></dd>
          <dt><strong><%= model_class.human_attribute_name(:fullname) %>:</strong></dt>
          <dd><%= @subscribe.fullname %></dd>
          <dt><strong><%= model_class.human_attribute_name(:telephone) %>:</strong></dt>
          <dd><%= @subscribe.telephone %></dd>
          <dt><strong><%= model_class.human_attribute_name(:phonenumber) %>:</strong></dt>
          <dd><%= @subscribe.phonenumber %></dd>
          <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
          <dd><%= @subscribe.fax %></dd>
          <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
          <dd><%= @subscribe.email %></dd>
          <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
          <dd><%= @subscribe.address %></dd>
          <dt><strong><%= model_class.human_attribute_name(:plan) %>:</strong></dt>
          <dd><%= @subscribe.plan %></dd>
        </dl>

        <%= link_to t('.back', :default => t("helpers.links.back")),
        subscribes_path, :class => 'btn btn-default'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_subscribe_path(@subscribe), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        subscribe_path(@subscribe),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
      </div>
    </div>
  </div>
  </div
