<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Content Management System | NOW! Jakarta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
    <script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  </head>

  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div class="navbar-header">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
              <i class="fa fa-times"></i>
            </a>
            <div class="navbar-brand">
              <a href="<%= root_path %>" class="logo" target="_blank">
                <b class="logo-icon">
                  <img src="<%= asset_url('LOGO NJ WHITE.png') %>" alt="homepage" class="dark-logo" style="width:60%;" />
                  <img src="<%= asset_url('LOGO NJ WHITE.png') %>" alt="homepage" class="light-logo" style="width:60%;" />
                </b>
              </a>
              <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                <i class="fa fa-sliders"></i>
              </a>
            </div>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"                   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-ellipsis-h"></i>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
              <li class="nav-item">
                <a href="<%= root_path %>" target="_blank" class="nav-link waves-effect waves-dark"><i class="fa fa-home"></i> Visit Home Page</a>
              </li>
            </ul>
            <ul class="navbar-nav float-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                  <img src="<%= asset_url('user.png') %>" alt="" class="rounded-circle" width="40">
                  <span class="m-l-5 font-medium d-none d-sm-inline-block"><%= current_user.username %> <i class="fa fa-chevron-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                  <span class="with-arrow">
                    <span class="bg-primary"></span>
                  </span>
                  <div class="d-flex no-block align-items-center p-3 bg-primary text-white m-b-10">
                    <div class="">
                        <img src="<%= asset_url('user.png') %>" alt="" class="rounded-circle" width="60">
                    </div>
                    <div class="ml-3">
                      <h4 class="mb-0"><%= current_user.username rescue '-' %></h4>
                      <p class="mb-0"><%= current_user.email %></p>
                    </div>
                  </div>
                  <a class="dropdown-item" href="<%= user_path(current_user.id) %>">
                    <i class="fa fa-user mr-3 ml-3"></i> My Profile</a>
                  <div class="dropdown-cog"></div>
                  <a class="dropdown-item" href="<%= edit_user_path(current_user.id) %>">
                    <i class="fa fa-cog mr-3 ml-3"></i> Account Setting</a>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path,:class => 'dropdown-item', :method => :delete do %>
                    <i class="fa fa-power-off mr-3 ml-3"></i> Logout</a>
                  <% end %>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark" href="<%= dashboard_index_path %>">
                  <i class="fa fa-dashboard"></i>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-pencil"></i>
                  <span class="hide-menu">Articles</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= list_article_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Articles</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_article_path %>" class="sidebar-link"><span class="hide-menu"> Add New </span></a></li>
                  <li class="sidebar-item"><a href="<%= categories_path %>" class="sidebar-link"><span class="hide-menu"> Categories </span></a></li>
                  <li class="sidebar-item"><a href="<%= tags_path %>" class="sidebar-link"><span class="hide-menu"> Tags </span></a></li>
                  <li class="sidebar-item"><a href="<%= directories_path %>" class="sidebar-link"><span class="hide-menu"> Directories </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-calendar"></i>
                  <span class="hide-menu">Events</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= list_event_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Events</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_event_path %>" class="sidebar-link"><span class="hide-menu"> Add New </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-picture-o"></i>
                  <span class="hide-menu">Galleries</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= galleries_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Galleries</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_gallery_path %>" class="sidebar-link"><span class="hide-menu">Add New</span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-slideshare"></i>
                  <span class="hide-menu">Sliders</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= sliders_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Sliders</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_slider_path %>" class="sidebar-link"><span class="hide-menu">Add New</span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-diamond"></i>
                  <span class="hide-menu">Banners</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                  <li class="sidebar-item"><a href="<%= banners_active_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">Active Banners</span></a></li>
                  <li class="sidebar-item"><a href="<%= banners_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">Homepage Banners</span></a></li>
                  <li class="sidebar-item"><a href="<%= banners_article_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">Article Banners</span></a></li>
                  <li class="sidebar-item"><a href="<%= banners_trash_path %>" data-method="get" class="sidebar-link"><span class="hide-menu"> Trash </span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-youtube"></i>
                  <span class="hide-menu">YT Videos</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item"><a href="<%= videos_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Videos</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_video_path %>" class="sidebar-link"><span class="hide-menu">Add New</span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-users"></i>
                  <span class="hide-menu">Writers</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item"><a href="<%= writers_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Writers</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_writer_path %>" class="sidebar-link"><span class="hide-menu">Add New</span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <span class="hide-menu">Users</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item"><a href="<%= users_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">All Users</span></a></li>
                  <li class="sidebar-item"><a href="<%= new_user_path %>" class="sidebar-link"><span class="hide-menu">Add New</span></a></li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                  <i class="fa fa-wrench"></i>
                  <span class="hide-menu">Tools</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="sidebar-item">
                    <a href="<%= list_subscriber_path %>" data-method="get" class="sidebar-link"><span class="hide-menu">Subsribers</span></a>
                  </li>
                  <li class="sidebar-item">
                    <a href="<%= notifications_path %>" class="sidebar-link"><span class="hide-menu">Notification</span></a>
                  </li>
                  <li class="sidebar-item">
                    <a href="#" class="sidebar-link"><span class="hide-menu">Export</span></a>
                  </li>
                  <li class="sidebar-item">
                    <a href="#" class="sidebar-link"><span class="hide-menu">Import</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="page-wrapper">
        <%= render 'shared/message' %>
        <%= yield %>
      </div>
      <footer class="footer text-center">
        All Rights Reserved by PT Phoenix Communications.
      </footer>
    </div>
  </body>
</html>
