<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="<%= "#{request.protocol}#{request.host}#{dtl_article_path(@article.category.parent.slug, @article.category.slug, @article.slug)}" %>" >
  <%= display_meta_tags %>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "NOW Jakarta",
      "url": "http://nowjakarta.co.id/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://nowjakarta.co.id/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <% if @event.present? %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "<%= @event.title %>",
      "description": "<%= @event.meta_des %>",
      "image": "<%= request.protocol + request.host_with_port %><%= @event.image.url %>",
      "startDate": "<%= @event.start_date.strftime("%Y-%m-%d")%>T00:00",
      "endDate": "<%= @event.end_date.strftime("%Y-%m-%d")%>T23:59",
      "location": {
        "@type": "Place",
        "name": "<%= @event.vanue %>",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "",
          "addressLocality": "",
          "postalCode": "",
          "addressCountry": "ID"
        }
      }
    }
  </script>
  <% end %>
  <% if @article.present? %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "<%= @article.title %>",
      "image": {
        "@type": "ImageObject",
        "url": "<%= request.protocol + request.host_with_port %><%= @article.image.url %>",
        "width": 700 ,
        "height": 536
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "<%= request.protocol + request.host_with_port %>/<%= @article.slug %>"
      },
      "description": "<%= @article.meta_des %>",
      "datePublished": "<%= @article.publish.strftime("%Y-%m-%d") rescue "-" %>",
      "dateModified": "<%= @article.updated_at.strftime("%Y-%m-%d") rescue "-" %>",
      "author": {
        "@type": "Person",
        "name": "<%= @article.writer.fullname %>"
      },
      "publisher": {
        "@type": "Organization",
        "name": "NOW JAKARTA",
        "logo": {
          "@type": "ImageObject",
          "url": "<%= request.protocol + request.host_with_port %>/assets/LOGO NJ BLACK & WHITE-02.png",
          "width": 120,
          "height": 55
        }
      }
    }
  </script>

  <% end %>

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:400,700" rel="stylesheet">
  <% if Rails.application.assets && Rails.application.assets['amp/application'] %>
  <style amp-custom><%= Rails.application.assets['amp/application'].to_s.html_safe %></style>
  <% else %>
  <style amp-custom><%= File.read("#{Rails.root}/public#{stylesheet_path('amp/application', host: nil)}").to_s.html_safe %></style>
  <% end %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light   sticky-top"style="top:0;border-bottom:1px solid black;transition: top 0.3s;"  id="navbar">
    <div class="d-flex " id="logo-position">
      <div class="row align-items-center m-0">
        <div class="col">
           <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger">  <span class="navbar-toggler-icon"></span></div>
        </div>
        <div class="col-1">
          <a  href="<%= root_path %>" style="line-height:1;height: 29px;display: block;">
            <amp-img class="w-100" src="<%= asset_url('NOWJAKARTA BLACK.png') %>"height="29" width="75"></amp-img>
          </a>
        </div>

      </div>


    </div>


    </nav>
  <div class="amp">
    <%= yield %>
  </div>
</body>
</html>
