<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MSGXRVL');</script>
  <!-- End Google Tag Manager -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= display_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="google-site-verification" content="XMS68gaud5nn7KJqbJ0qPTZckXWSck2ggDXA56-EG4Y" />
  <meta name="alexaVerifyID" content="kav852cl8Xz44Ay4acnDbfimr2w"/>
  <% if @article.present? %>
  <link rel="canonical" href="<%= "#{request.protocol}#{request.host}#{dtl_article_path(@article.category.parent.slug, @article.category.slug, @article.slug)}" %>" >
  <link rel="amphtml" href="<%= url_for(format: :amp, only_path: false) %>" >
  <% else %>
  <link rel="canonical" href="<%= "#{request.protocol}#{request.host}#{request.path}" %>">
  <% end %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:400,700" rel="stylesheet">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "NOW Jakarta",
      "url": "http://nowjakarta.co.id/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://nowjakarta.co.id/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '457222468006273');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1"
      src="https://www.facebook.com/tr?id=457222468006273&ev=PageView
      &noscript=1"/>
    </noscript>
    <% if @event.present? %>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "<%= @event.title %>",
        "description": "<%= @event.meta_des %>",
        "image": "<%= request.protocol + request.host_with_port %><%= @event.image.url %>",
        "startDate": "<%= @event.start_date.strftime("%Y-%m-%d")%>T00:00",
        "endDate": "<%= @event.end_date.strftime("%Y-%m-%d") %>T23:59",
        "location": {
          "@type": "Place",
          "name": "<%= @event.vanue %>",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "",
            "postalCode": "",
            "addressCountry": "ID"
          }
        }
      }
    </script>
    <% end %>

    <% if @article.present? %>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "<%= @article.title %>",
        "image": {
          "@type": "ImageObject",
          "url": "<%= request.protocol + request.host_with_port %><%= @article.image.url %>",
          "width": 700 ,
          "height": 536
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= request.protocol + request.host_with_port %>/<%= @article.slug %>"
        },
        "description": "<%= @article.meta_des %>",
        "datePublished": "<%= @article.publish.strftime("%Y-%m-%d") rescue "-" %>",
        "dateModified": "<%= @article.updated_at.strftime("%Y-%m-%d") rescue "-" %>",
        "author": {
          "@type": "Person",
          "name": "<%= @article.writer.fullname %>"
        },
        "publisher": {
          "@type": "Organization",
          "name": "NOW JAKARTA",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= request.protocol + request.host_with_port %>/assets/LOGO NJ BLACK & WHITE-02.png",
            "width": 120,
            "height": 55
          }
        }
      }
    </script>

    <% end %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MSGXRVL');</script>
    <!-- End Google Tag Manager -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '457222468006273');
        fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1"
        src="https://www.facebook.com/tr?id=457222468006273&ev=PageView
        &noscript=1"/>
      </noscript>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44326561-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-44326561-1');
      </script>

      <!-- GDG -->
      <script data-ad-client="ca-pub-4080030071889451" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSGXRVL"
        height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </head>

  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light   sticky-top"style="top:0;border-bottom:1px solid black;transition: top 0.3s;"  id="navbar">
      <div class="d-flex " id="logo-position">
        <div class="row align-items-center m-0">
          <div class="col">
            <button class="navbar-toggler border-0 ml-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col">
            <a class="navbar-brand w-100 text-center d-md-none d-sm-block" href="<%= root_path %>" id="navbar-brand">
              <img src="<%= asset_url('NOWJAKARTA BLACK.png') %>" alt="NOW! Jakarta" class="w-100">
            </a>
          </div>
          <div class="col">

            <div class="p-1 text-right m-2" style="">
              <a class=" text-red" href="javascript:void(0)" id="search-triger"><i class="fa fa-search fa-1x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>


      </div>
      <div class="position-absolute w-100 d-none" id="search-bar">
        <form action="/search" method="get">
          <div class="d-flex">
            <input type="text" name="q" class="form-control search-input" value="" placeholder="Start typing &amp; press  &quot;Enter&quot;">
            <a href="javascript:void(0)" id="form-close"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </form>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= home_life_path %>">HOME LIFE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= people_path %>" style="padding-left:0;">PEOPLE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= city_guide_path %>">CITY GUIDE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= updates_path %>">UPDATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= dining_path %>">DINING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= all_event_path %>">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= life_path %>">LIFE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= art_and_culture_path %>">ART & CULTURE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= business_path %>">BUSINESS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= deals_path %>">SPECIAL OFFERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= travel_path %>">TRAVEL</a>
          </li>
        </div>
      </nav>
      <!-- navigation -->
      <%= yield %>

      <footer class="background-dark text-grey" id="footer">
        <div class="footer-content">
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-3  text-left-xs">
                <h2  class="mb-3" style="font-size:3em;">Life in The Capital</h2>
                <h4  class="mb-3" style="">Get Closer To Us</h4>
                <form id="ema_signup_form" target="_blank" action="https://madmimi.com/signups/subscribe/73291" accept-charset="UTF-8" method="post">
                  <input name="utf8" type="hidden" value="✓"/>
                  <div class="mimi_field required input-group">
                    <input id="signup_email" name="signup[email]" class="mm-field required email col" type="text" data-required-field="This field is required" placeholder="you@example.com"/>
                    <input type="submit" class="btn btn-primary submit mm-btn" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!" />
                  </div>
                  <div style="background: white; font-size:1px; height: 0; overflow: hidden">
                    <input type="text" name="af93a4cb10f0a73a773a4f07f33132f3" style="font-size: 1px; width: 1px !important; height:1px !important; border:0 !important; line-height: 1px !important; padding: 0 0; min-height:1px !important;"/>
                    <input class="checkbox" type="checkbox" name="beacon"/>
                  </div>
                </form>
                <p style="margin-top: 10px;font-weight:500;line-height:1.2;font-size:12px;" class="mt-4">
                  NOW! Jakarta is a magazine for international visitors & expatriates in Jakarta, focusing on art, culture, dining, hotels and events in Jakarta.
                </p>

              </div>
              <div class="col">
                <h4  class="mb-3" style="">Contact</h4>
                <ul class="list-unstyled">
                  <li> <a href="<%= about_path %>"><h5>About</h5></a></li>
                  <li> <a href="<%= contactus_path %>"><h5>Contact Us</h5></a></li>
                  <li> <a href="<%= subscribe_now_path %>"><h5>Subscribe</h5></a></li>
                  <li> <a href="<%= advertise_path %>"><h5>Advertising</h5></a></li>
                </ul>
              </div>

              <div class="col">
                <h4  class="mb-3" style="">Network</h4>
                <ul class="list-unstyled">
                  <li> <a href="http://phoenix.co.id/" target="_blank"><h5>PHOENIX</h5></a></li>
                  <li> <a href="http://www.nowbali.co.id/" target="_blank"><h5>NOW! BALI</h5></a></li>
                  <li> <a href="https://best.nowjakarta.co.id/" target="_blank"><h5>BRBCA JAKARTA</h5></a></li>
                  <li> <a href="https://best.nowbali.co.id/" target="_blank"><h5>BRBCA BALI</h5></a></li>
                  <li> <a href="https://www.nowguides.asia/" target="_blank"><h5>NOW! Guides</h5>  </a> </li>
                  <li> <a href="https://nowjakarta.co.id/njsc-2019-winner" target="_blank"><h5>NJSC</h5>  </a> </li>
                  <li> <a href="https://open.spotify.com/show/4MEUBrD04Lw6meq7poWwm6?si=w2IPEz8dRQalWETlUmnmwg" target="_blank"><h5>NOW! JAKARTA PODCAST</h5>  </a> </li>
                </ul>
              </div>
              <div class="col-12">
                <h4  class="mb-3" style="">Social</h4>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/NOWJakarta/" target="_blank">
                      <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/now_jakarta?lang=en">
                      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com/now_jakarta/?hl=en">
                      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a target="_blank" href="https://www.youtube.com/channel/UCnoLtawmE16iU-zXKtoMARQ">
                      <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4 style="font-size:12px;">
                  © 2019 Phoenix Communications.All Rights Reserved.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </footer>




      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
      <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
      <%= javascript_include_tag 'application'%>

      <%- unless flash.empty? %>
      <script type="text/javascript">
        <%- flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
        toastr['<%= type %>']('<%= f[1] %>');
        <%- end %>
        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": false,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }
      </script>

      <%- end %>

            <script type="text/javascript">
      (function(global) {
        function serialize(form){if(!form||form.nodeName!=="FORM"){return }var i,j,q=[];for(i=form.elements.length-1;i>=0;i=i-1){if(form.elements[i].name===""){continue}switch(form.elements[i].nodeName){case"INPUT":switch(form.elements[i].type){case"text":case"hidden":case"password":case"button":case"reset":case"submit":q.push(form.elements[i].name+"="+encodeURIComponent(form.elements[i].value));break;case"checkbox":case"radio":if(form.elements[i].checked){q.push(form.elements[i].name+"="+encodeURIComponent(form.elements[i].value))}break;case"file":break}break;case"TEXTAREA":q.push(form.elements[i].name+"="+encodeURIComponent(form.elements[i].value));break;case"SELECT":switch(form.elements[i].type){case"select-one":q.push(form.elements[i].name+"="+encodeURIComponent(form.elements[i].value));break;case"select-multiple":for(j=form.elements[i].options.length-1;j>=0;j=j-1){if(form.elements[i].options[j].selected){q.push(form.elements[i].name+"="+encodeURIComponent(form.elements[i].options[j].value))}}break}break;case"BUTTON":switch(form.elements[i].type){case"reset":case"submit":case"button":q.push(form.elements[i].name+"="+encodeURIComponent(form.elements[i].value));break}break}}return q.join("&")};


        function extend(destination, source) {
          for (var prop in source) {
            destination[prop] = source[prop];
          }
        }

        if (!Mimi) var Mimi = {};
        if (!Mimi.Signups) Mimi.Signups = {};

        Mimi.Signups.EmbedValidation = function() {
          this.initialize();

          var _this = this;
          if (document.addEventListener) {
            this.form.addEventListener('submit', function(e){
              _this.onFormSubmit(e);
            });
          } else {
            this.form.attachEvent('onsubmit', function(e){
              _this.onFormSubmit(e);
            });
          }
        };

        extend(Mimi.Signups.EmbedValidation.prototype, {
          initialize: function() {
            this.form         = document.getElementById('ema_signup_form');
            this.submit       = document.getElementById('webform_submit_button');
            this.callbackName = 'jsonp_callback_' + Math.round(100000 * Math.random());
            this.validEmail   = /.+@.+\..+/
          },

          onFormSubmit: function(e) {
            e.preventDefault();

            this.validate();
            if (this.isValid) {
              this.submitForm();
            } else {
              this.revalidateOnChange();
            }
          },

          validate: function() {
            this.isValid = true;
            this.emailValidation();
            this.fieldAndListValidation();
            this.updateFormAfterValidation();
          },

          emailValidation: function() {
            var email = document.getElementById('signup_email');

            if (this.validEmail.test(email.value)) {
              this.removeTextFieldError(email);
            } else {
              this.textFieldError(email);
              this.isValid = false;
            }
          },

          fieldAndListValidation: function() {
            var fields = this.form.querySelectorAll('.mimi_field.required');

            for (var i = 0; i < fields.length; ++i) {
              var field = fields[i],
                  type  = this.fieldType(field);
              if (type === 'checkboxes' || type === 'radio_buttons' || type === 'age_check') {
                this.checkboxAndRadioValidation(field);
              } else {
                this.textAndDropdownValidation(field, type);
              }
            }
          },

          fieldType: function(field) {
            var type = field.querySelectorAll('.field_type');

            if (type.length) {
              return type[0].getAttribute('data-field-type');
            } else if (field.className.indexOf('checkgroup') >= 0) {
              return 'checkboxes';
            } else {
              return 'text_field';
            }
          },

          checkboxAndRadioValidation: function(field) {
            var inputs   = field.getElementsByTagName('input'),
                selected = false;

            for (var i = 0; i < inputs.length; ++i) {
              var input = inputs[i];
              if((input.type === 'checkbox' || input.type === 'radio') && input.checked) {
                selected = true;
              }
            }

            if (selected) {
              field.className = field.className.replace(/ invalid/g, '');
            } else {
              if (field.className.indexOf('invalid') === -1) {
                field.className += ' invalid';
              }

              this.isValid = false;
            }
          },

          textAndDropdownValidation: function(field, type) {
            var inputs = field.getElementsByTagName('input');

            for (var i = 0; i < inputs.length; ++i) {
              var input = inputs[i];
              if (input.name.indexOf('signup') >= 0) {
                if (type === 'text_field') {
                  this.textValidation(input);
                } else {
                  this.dropdownValidation(field, input);
                }
              }
            }
            this.htmlEmbedDropdownValidation(field);
          },

          textValidation: function(input) {
            if (input.id === 'signup_email') return;

            if (input.value) {
              this.removeTextFieldError(input);
            } else {
              this.textFieldError(input);
              this.isValid = false;
            }
          },

          dropdownValidation: function(field, input) {
            if (input.value) {
              field.className = field.className.replace(/ invalid/g, '');
            } else {
              if (field.className.indexOf('invalid') === -1) field.className += ' invalid';
              this.onSelectCallback(input);
              this.isValid = false;
            }
          },

          htmlEmbedDropdownValidation: function(field) {
            var dropdowns = field.querySelectorAll('.mimi_html_dropdown');
            var _this = this;

            for (var i = 0; i < dropdowns.length; ++i) {
              var dropdown = dropdowns[i];

              if (dropdown.value) {
                field.className = field.className.replace(/ invalid/g, '');
              } else {
                if (field.className.indexOf('invalid') === -1) field.className += ' invalid';
                this.isValid = false;
                dropdown.onchange = (function(){ _this.validate(); });
              }
            }
          },

          textFieldError: function(input) {
            input.className   = 'required invalid';
            input.placeholder = input.getAttribute('data-required-field');
          },

          removeTextFieldError: function(input) {
            input.className   = 'required';
            input.placeholder = '';
          },

          onSelectCallback: function(input) {
            if (typeof Widget === 'undefined' || !Widget.BasicDropdown) return;

            var dropdownEl = input.parentNode,
                instances  = Widget.BasicDropdown.instances,
                _this = this;

            for (var i = 0; i < instances.length; ++i) {
              var instance = instances[i];
              if (instance.wrapperEl === dropdownEl) {
                instance.onSelect = function(){ _this.validate() };
              }
            }
          },

          updateFormAfterValidation: function() {
            this.form.className   = this.setFormClassName();
            this.submit.value     = this.submitButtonText();
            this.submit.disabled  = !this.isValid;
            this.submit.className = this.isValid ? 'submit' : 'disabled';
          },

          setFormClassName: function() {
            var name = this.form.className;

            if (this.isValid) {
              return name.replace(/\s?mimi_invalid/, '');
            } else {
              if (name.indexOf('mimi_invalid') === -1) {
                return name += ' mimi_invalid';
              } else {
                return name;
              }
            }
          },

          submitButtonText: function() {
            var invalidFields = document.querySelectorAll('.invalid'),
                text;

            if (this.isValid || !invalidFields) {
              text = this.submit.getAttribute('data-default-text');
            } else {
              if (invalidFields.length || invalidFields[0].className.indexOf('checkgroup') === -1) {
                text = this.submit.getAttribute('data-invalid-text');
              } else {
                text = this.submit.getAttribute('data-choose-list');
              }
            }
            return text;
          },

          submitForm: function() {
            this.formSubmitting();

            var _this = this;
            window[this.callbackName] = function(response) {
              delete window[this.callbackName];
              document.body.removeChild(script);
              _this.onSubmitCallback(response);
            };

            var script = document.createElement('script');
            script.src = this.formUrl('json');
            document.body.appendChild(script);
          },

          formUrl: function(format) {
            var action  = this.form.action;
            if (format === 'json') action += '.json';
            return action + '?callback=' + this.callbackName + '&' + serialize(this.form);
          },

          formSubmitting: function() {
            this.form.className  += ' mimi_submitting';
            this.submit.value     = this.submit.getAttribute('data-submitting-text');
            this.submit.disabled  = true;
            this.submit.className = 'disabled';
          },

          onSubmitCallback: function(response) {
            if (response.success) {
              this.onSubmitSuccess(response.result);
            } else {
              top.location.href = this.formUrl('html');
            }
          },

          onSubmitSuccess: function(result) {
            if (result.has_redirect) {
              top.location.href = result.redirect;
            } else if(result.single_opt_in || !result.confirmation_html) {
              this.disableForm();
              this.updateSubmitButtonText(this.submit.getAttribute('data-thanks'));
            } else {
              this.showConfirmationText(result.confirmation_html);
            }
          },

          showConfirmationText: function(html) {
            var fields = this.form.querySelectorAll('.mimi_field');

            for (var i = 0; i < fields.length; ++i) {
              fields[i].style['display'] = 'none';
            }

            (this.form.querySelectorAll('fieldset')[0] || this.form).innerHTML = html;
          },

          disableForm: function() {
            var elements = this.form.elements;
            for (var i = 0; i < elements.length; ++i) {
              elements[i].disabled = true;
            }
          },

          updateSubmitButtonText: function(text) {
            this.submit.value = text;
          },

          revalidateOnChange: function() {
            var fields = this.form.querySelectorAll(".mimi_field.required"),
                _this = this;

            var onTextFieldChange = function() {
              if (this.getAttribute('name') === 'signup[email]') {
                if (_this.validEmail.test(this.value)) _this.validate();
              } else {
                if (this.value.length === 1) _this.validate();
              }
            }

            for (var i = 0; i < fields.length; ++i) {
              var inputs = fields[i].getElementsByTagName('input');
              for (var j = 0; j < inputs.length; ++j) {
                if (this.fieldType(fields[i]) === 'text_field') {
                  inputs[j].onkeyup = onTextFieldChange;
                  inputs[j].onchange = onTextFieldChange;
                } else {
                  inputs[j].onchange = function(){ _this.validate() };
                }
              }
            }
          }
        });

        if (document.addEventListener) {
          document.addEventListener("DOMContentLoaded", function() {
            new Mimi.Signups.EmbedValidation();
          });
        }
        else {
          window.attachEvent('onload', function() {
            new Mimi.Signups.EmbedValidation();
          });
        }
      })(this);
      </script>



          </body>
          </html>
