<!DOCTYPE html>
<html>
<head>
  <title>NOW! Jakarta | Life in the Capital</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="google-site-verification" content="XMS68gaud5nn7KJqbJ0qPTZckXWSck2ggDXA56-EG4Y" />
  <meta name="alexaVerifyID" content="kav852cl8Xz44Ay4acnDbfimr2w"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:400,700" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44326561-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-44326561-1');
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "WebSite",
    "name": "NOW Jakarta",
    "url": "http://nowjakarta.co.id/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "http://nowjakarta.co.id/search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MSGXRVL');</script>
<!-- End Google Tag Manager -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '457222468006273');
  fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=457222468006273&ev=PageView
    &noscript=1"/>
  </noscript>
</head>

<body id="dark">
  <div class="header d-md-block d-none">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="" style="width: 14%;padding: 15px 0;">
          <a href="<%= root_path %>">
            <img src="<%= asset_url('LOGO NJ BLACK & WHITE-01.png') %>" alt="NOW! Jakarta" class="w-100">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- navigation -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark   sticky-top"style="top:0;border-bottom:1px solid black;">
    <div class="d-flex " id="logo-position">
      <div class="row align-items-center m-0">
        <div class="col">
          <button class="navbar-toggler ml-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col">
          <a class="navbar-brand w-100 text-center d-md-none d-sm-block" href="<%= root_path %>" id="navbar-brand">
            <img src="<%= asset_url('LOGO NJ BLACK & WHITE-01.png') %>" alt="NOW! Jakarta" class="w-100">
          </a>
        </div>
        <div class="col">

          <div class="p-1 text-right m-2" style="">
            <a class=" text-red" href="javascript:void(0)" id="search-triger"><i class="fa fa-search fa-1x" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>


    </div>
    <div class="position-absolute w-100 d-none" id="search-bar">
      <form action="/search" method="get">
        <div class="d-flex">
          <input type="text" name="q" class="form-control search-input" value="" placeholder="Start typing &amp; press  &quot;Enter&quot;">
          <a href="javascript:void(0)" id="form-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= people_path %>" style="padding-left:0;">PEOPLE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= city_guide_path %>">CITY GUIDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= updates_path %>">UPDATES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= dining_path %>">DINING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= all_event_path %>">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= life_path %>">LIFE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= art_and_culture_path %>">ART & CULTURE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= business_path %>">BUSINESS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= deals_path %>">SPECIALS OFFER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= travel_path %>">TRAVEL</a>
        </li>
      </div>
    </nav>
    <!-- navigation -->
    <div class="content d-none" id="white-layer" style="height: 500%;width: 500%;position: absolute;z-index: 9;BACKGROUND: #040404;">
    </div>
    <%= yield %>

    <footer class="background-dark text-grey" id="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-3  text-left-xs">
              <h2  class="mb-3" style="font-size:3em;">Life in The Capital</h2>
              <h4  class="mb-3" style="">Get Closer To Us</h4>
              <form id="ema_signup_form" target="_blank" action="https://madmimi.com/signups/subscribe/73291" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓"/>
                <div class="mimi_field required input-group">
                  <input id="signup_email" name="signup[email]" class="mm-field required email col" type="text" data-required-field="This field is required" placeholder="you@example.com"/>
                  <input type="submit" class="btn btn-primary submit mm-btn" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!" />
                </div>
                <div style="background: white; font-size:1px; height: 0; overflow: hidden">
                  <input type="text" name="af93a4cb10f0a73a773a4f07f33132f3" style="font-size: 1px; width: 1px !important; height:1px !important; border:0 !important; line-height: 1px !important; padding: 0 0; min-height:1px !important;"/>
                  <input class="checkbox" type="checkbox" name="beacon"/>
                </div>
              </form>
              <p style="margin-top: 10px;font-weight:500;line-height:1.2;font-size:12px;" class="mt-4">
                NOW! Jakarta is a magazine for international visitors & expatriates in Jakarta, focusing on art, culture, dining, hotels and events in Jakarta.
              </p>

            </div>
            <div class="col">
              <h4  class="mb-3" style="">Contact</h4>
              <ul class="list-unstyled">
                <li> <a href="<%= about_path %>"><h5>About</h5></a></li>
                <li> <a href="<%= contactus_path %>"><h5>Contact Us</h5></a></li>
                <li> <a href="<%= subscribe_now_path %>"><h5>Subscribe</h5></a></li>
                <li> <a href="<%= advertise_path %>"><h5>Advertising</h5></a></li>
              </ul>
            </div>

            <div class="col">
              <h4  class="mb-3" style="">Network</h4>
              <ul class="list-unstyled">
                <li> <a href="http://phoenix.co.id/"><h5>PHOENIX</h5></a></li>
                <li> <a href="http://www.nowbali.co.id/"><h5>NOW! BALI</h5></a></li>
                <li> <a href="https://best.nowjakarta.co.id/"><h5>BRBCA JAKARTA</h5></a></li>
                <li> <a href="https://best.nowbali.co.id/"><h5>BRBCA BALI</h5></a></li>
                <li> <a href="https://www.nowguides.asia/"><h5>NOW! Guides</h5>  </a> </li>
              </ul>
            </div>
            <div class="col-12">
              <h4  class="mb-3" style="">Social</h4>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/NOWJakarta/" target="_blank">
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a target="_blank" href="https://twitter.com/now_jakarta?lang=en">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a target="_blank" href="https://www.instagram.com/now_jakarta/?hl=en">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a target="_blank" href="https://www.youtube.com/channel/UCnoLtawmE16iU-zXKtoMARQ">
                    <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h4 style="font-size:12px;">
                © 2019 Phoenix Communications.All Rights Reserved.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <%= javascript_include_tag 'application'%>
  </body>
  </html>
