<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="google-site-verification" content="XMS68gaud5nn7KJqbJ0qPTZckXWSck2ggDXA56-EG4Y" />
    <meta name="alexaVerifyID" content="kav852cl8Xz44Ay4acnDbfimr2w"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant:400,700" rel="stylesheet">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-44326561-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-44326561-1');
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "WebSite",
      "name": "NOW Jakarta",
      "url": "http://nowjakarta.co.id/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://nowjakarta.co.id/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MSGXRVL');</script>
<!-- End Google Tag Manager -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '457222468006273');
    fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1"
      src="https://www.facebook.com/tr?id=457222468006273&ev=PageView
      &noscript=1"/>
    </noscript>
  </head>

  <body id="dark">
    <div class="header d-md-block d-none">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="" style="width: 14%;padding: 15px 0;">
            <a href="<%= root_path %>">
                <img src="<%= asset_url('LOGO NJ BLACK & WHITE-01.png') %>" alt="NOW! Jakarta" class="w-100">
              </a>
          </div>
        </div>
      </div>
    </div>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center  sticky-top"style="top:-1px;">
      <div class="d-flex justify-content-center align-items-center" id="logo-position">
        <a class="navbar-brand w-100 text-center d-md-none d-sm-block" href="<%= root_path %>" id="navbar-brand">
            <img src="<%= asset_url('NOWJAKARTA BLACK.png') %>" alt="NOW! Jakarta" class="w-100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </div>
      <div class=" container collapse navbar-collapse justify-content-center position-relative" id="navbarSupportedContent" >
          <ul class="navbar-nav d-flex justify-content-between w-100" id="navbar" style="border-bottom: 1px solid white;">

            <li class="nav-item">
              <a class="nav-link" href="<%= people_path %>" style="padding-left:0;">PEOPLE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= city_guide_path %>">CITY GUIDE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= updates_path %>">UPDATES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= dining_path %>">DINING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= all_event_path %>">EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= life_path %>">LIFESTYLE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= art_and_culture_path %>">ART & CULTURE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= business_path %>">BUSINESS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="<%= deals_path %>">SPECIAL OFFERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= travel_path %>">TRAVEL</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-red pr-0" href="javascript:void(0)" id="search-triger"><i class="fa fa-search" aria-hidden="true"></i></a>
            </li>
          </ul>
          <div class="position-absolute w-100 d-none" id="search-bar" style="top:0">
            <form action="/search" method="get">
              <div class="d-flex" style="margin: 0 15px;">
                <input type="text" name="q" class="form-control search-input" value="" placeholder="Start typing &amp; press  &quot;Enter&quot;">
                <a href="javascript:void(0)" id="form-close"><i class="fa fa-times" aria-hidden="true"></i></a>
              </div>
              <div class=" pt-3 bg-dark" style="padding:0 15px;background-color:#040404 !important;">
                <div class="heading-section d-flex justify-content-between align-items-center ">
                  <p style="font-family: 'Heebo', sans-serif;text-transform: capitalize;font-size: 45px;font-weight:900;margin-bottom:0;">Search.</p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <% Article.publish.limit(1).each do |article|  %>
                      <div class="col-md-6 ">
                        <span class="category" style="margin-bottom:5px;display:block;">
                          <a href="<%= sub_category_url(article) %>">Latest Story | <%= article.category.title %></a>
                        </span>
                        <a href="<%= article_url(article) %>" class="">
                          <h3 class="title-article mb-1" ><%= article.title %></h3>
                          <p class="min-desc">
                            <%= article.meta_des %>
                          </p>
                        </a>
                      </div>

                      <% end %>
                      <% Event.where("events.end_date >=?", Date.today).order("end_date ASC").limit(1).each do |event|  %>
                      <div class="col-md-6 ">
                        <span class="category" style="margin-bottom:5px;display:block;">
                          <a href="<%= event_path(event) %>">Upcoming Event | <%= event.category.title %></a>
                        </span>
                        <a href="<%= event_url(event) %>" class="">
                          <h4 class="title-article mb-1" ><%= event.title %></h4>
                          <% if event.start_date == event.end_date %>
                          <p class="card-text"><%= event.start_date.strftime(" %e %B %Y") rescue "-" %></p>
                          <% else %>
                          <p class="card-text"><%= event.start_date.strftime("%e %B %Y") rescue "-" %> - <%= event.end_date.strftime("%e %B %Y") rescue "-" %></p>
                          <% end %>
                        </a>
                      </div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <a href="<%= dtl_sub_category_path(Category.magazine_issue.last.parent.slug,  Category.magazine_issue.last.slug) %>">
                      <span class="category"> This Month's Issue</span>
                      <h4 class="title-article">
                        <%= Category.magazine_issue.last.title %>
                      </h4>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <div class="p-2" style="">
                      <div class="">
                        <p style="font-family: 'Oswald', sans-serif;font-size: 32px;font-weight: 900;">
                          Get Closer To Us
                        </p>
                        <div class="mb-3">
                          <input id="signup_email" name="signup[email]" class="mm-field required email col" type="text" data-required-field="This field is required" placeholder="you@example.com" style="border-bottom:1px solid #000;text-align:left;padding-left:0;font-size:16px;">
                        </div>
                        <a href="#" class="btn btn-outline-light w-100" style="color:black !important; ">
                          SUBMIT
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </nav>
    <!-- navigation -->
    <div class="content d-none" id="white-layer" style="height: 500%;width: 500%;position: absolute;z-index: 9;BACKGROUND: #040404;">
    </div>
    <%= yield %>

    <footer class="background-dark text-grey" id="footer">
      <div class="footer-content">
        <div class="container">
          <div class="row mb-5 d-flex justify-content-between">
            <div class="col-md-3  text-left-xs">
              <!-- <img src="<%= asset_url('LOGO NJ BLACK & WHITE-01.png') %>" alt="logo white" class="w-75"> -->
              <h2  class="mb-3" style="font-size:3em;">Life in The Capital</h2>
              <form id="ema_signup_form" target="_blank" action="https://madmimi.com/signups/subscribe/73291" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓"/>
                <div class="mimi_field required input-group">
                  <input id="signup_email" name="signup[email]" class="mm-field required email col" type="text" data-required-field="This field is required" placeholder="type your email here"/>
                  <input type="submit" class="btn btn-primary submit mm-btn" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list" data-thanks="Thank you!" />
                </div>
                <div style="background: white; font-size:1px; height: 0; overflow: hidden">
                  <input type="text" name="af93a4cb10f0a73a773a4f07f33132f3" style="font-size: 1px; width: 1px !important; height:1px !important; border:0 !important; line-height: 1px !important; padding: 0 0; min-height:1px !important;"/>
                  <input class="checkbox" type="checkbox" name="beacon"/>
                </div>
              </form>
              <p style="margin-top: 10px;font-weight:500;line-height:1.2;font-size:12px;" class="mt-4">
                NOW! Jakarta is a magazine for international visitors & expatriates in Jakarta, focusing on art, culture, dining, hotels and events in Jakarta.
              </p>

            </div>
            <div class="col-md-6 ">
              <div class="d-block">
                <div class="row d-flex justify-content-between">
                  <div class="col-md-5">
                    <div class="">
                      <h3 class="mb-3 text-white" style="    font-family: 'Cormorant', serif;">Categories</h3>
                      <div class="row d-flex justify-content-between" style="margin-top:-8px;">
                        <div class="col-5">
                          <ul class="list-unstyled">
                            <li class="">
                              <a class="" href="<%= people_path %>"><h4>People</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= city_guide_path %>"><h4>City Guide</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= updates_path %>"><h4>Updates</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= dining_path %>"><h4>Dining</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= all_event_path %>"><h4>Events</h4></a>
                            </li>

                          </ul>
                        </div>
                        <div class="col-7">
                          <ul class="list-unstyled">
                            <li class="">
                              <a class="" href="<%= life_path %>"><h4>Life</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= art_and_culture_path %>"><h4>Art & Culture</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= business_path %>"><h4>Business</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= deals_path %>"><h4>Special Offers</h4></a>
                            </li>
                            <li class="">
                              <a class="" href="<%= travel_path %>"><h4>Travel</h4></a>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center">
                    <div class="d-block">
                      <h3  class="mb-3 text-white" style="font-family: 'Cormorant', serif;">Contact</h3>
                      <ul class="list-unstyled">
                        <li> <a href="<%= about_path %>"><h4>About</h4></a></li>
                        <li> <a href="<%= contactus_path %>"><h4>Contact Us</h4></a></li>
                        <li> <a href="<%= subscribe_now_path %>"><h4>Subscribe</h4></a></li>
                        <li> <a href="<%= advertise_path %>"><h4>Advertising</h4></a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col-md-3 d-flex justify-content-center">
                    <div class="d-md-block">
                      <h3  class="mb-3 text-white" style="font-family: 'Cormorant', serif;">Social</h3>
                      <ul class="list-unstyled">
                        <li> <a href="https://www.facebook.com/NOWJakarta/"><h4>Facebook</h4></a></li>
                        <li> <a href="https://www.instagram.com/now_jakarta/?hl=en"><h4>Instagram</h4></a></li>
                        <li> <a href="https://www.youtube.com/channel/UCnoLtawmE16iU-zXKtoMARQ"><h4>Youtube</h4></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
              <div class="">
                <h3  class="mb-3 text-white" style="font-family: 'Cormorant', serif;">Network</h3>
                <ul class="list-unstyled">
                  <li> <a href="http://phoenix.co.id/"><h4 style="font-family: 'Oswald', sans-serif;font-size:20px;text-transform:uppercase;font-weight:900;">Phoenix</h4></a></li>
                  <li> <a href="http://www.nowbali.co.id/"><h4 style="font-family: 'Oswald', sans-serif;font-size:20px;text-transform:uppercase;font-weight:900;">NOW! Bali</h4></a></li>
                  <li> <a href="https://best.nowjakarta.co.id/"><h4 style="font-family: 'Oswald', sans-serif;font-size:20px;text-transform:uppercase;font-weight:900;">BRBCA Jakarta</h4></a></li>
                  <li> <a href="https://best.nowbali.co.id/"><h4 style="font-family: 'Oswald', sans-serif;font-size:20px;text-transform:uppercase;font-weight:900;">BRBCA Bali</h4></a></li>
                  <li> <a href="https://www.nowguides.asia/"><h4 style="font-family: 'Oswald', sans-serif;font-size:20px;text-transform:uppercase;font-weight:900;">NOW! Guides</h4>  </a> </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="">
            <div class="row">
              <div class="col">
                <span style="font-size:12px;" class="text-white">
                  © 2019 <a href="http://wwww.phoenix.co.id">Phoenix Communications</a>. All Rights Reserved.
                </span>
              </div>
              <div class="col text-right">
                <a href="#" class="text-white" style="font-size:12px;" class="text-white">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
      <!-- Button trigger modal -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.2/doT.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
      <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
      <%= javascript_include_tag 'application'%>
  </body>
</html>
